[2016-07-23 10:58] ihadeed commented on #328
@ZiFFeL1992 I think we can go ahead and move all interfaces to the bottom, seems like no one has an objection.

[2016-07-23 11:01] #344 closed

[2016-07-23 11:13] #334 closed

[2016-07-23 14:56] MattHoneycutt commented on #348
That doesn't seem to be the case.  I'm using ionic-native 1.3.9 with Angular 1.5.7.  Here's my code using the $cordovaGeolocation plugin:

[code]
My console.log is executed, but my view never updates, because a digest is never triggered.

If I wrap the call in $scope.$apply, the view updates as expected:

[code]

Am I doing something wrong?

[2016-07-24 22:27] Luchillo opened #350 "[Req] Change private to protected in SqLite adapter"
I'm extending the SqLite adapter in order to support WebSql in development, however it seems the `_objectInstance` variable is privated and thus i can't reach it from my customSQLite provider, here's what i'm doing:

[code]

As it's a private var it doesn't allow me to change that variable, thus i would like that variable to change from `private` to `protected`, the compiler keeps yelling about th

[2016-07-24 23:47] mhartington commented on #350
Since this is for ionic-native, web-sql is not the intended use case.  Instead, using the ionic SqlStorage class instead is a better option

http://ionicframework.com/docs/v2/api/platform/storage/SqlStorage/

It will auto check if you have the sqlite plugin installed and use that, and if not, it will use websql, so it will work in the environments you need.

[2016-07-24 23:47] #350 closed

[2016-07-24 23:54] mhartington commented on #328
@ihadeed sounds like a plan! I'll keep a look out during the doc clean up.

[2016-07-24 23:54] #328 closed

[2016-07-25 07:23] mbakker96 commented on #339
Is this a bug in ionic native or in the plugin itselfs?

[2016-07-25 12:52] ihadeed commented on #339
It's a problem with the plugin. I'm  m

surprised it doesn't have any similar issues at their repo. Probably
because it's not a popular plugin.

I tried it a year ago and I remember it was horrible.

I suggest using ionic 2 alerts

On Jul 25, 2016 3:23 AM, "Martijn Bakker" <notifications@github.com> wrote:

[2016-07-25 20:38] jgw96 opened #353 "cordova inappbrowser plugin should use a background thread"
_From @allen8300 on July 25, 2016 7:21_

I met with following error when trying to open pdf with inappbrowser plugin:

"UIPDFPageRenderOperation object 0x1589ec570 overreleased while already deallocating; break on objc_overrelease_during_dealloc_error to debug"

I tried different ways on google, but none work.

_Copied from original issue: driftyco/ionic#7418_

[2016-07-25 20:38] jgw96 commented on #353
_From @ghenry22 on July 25, 2016 7:40_

probably better to log this against the inappbrowser cordova plugin, this doesn't look like an ionic issue.

[2016-07-25 21:08] ihadeed commented on #353
This is an issue with the plugin and not with it's Ionic Native wrapper.

[2016-07-25 21:08] #353 closed

[2016-07-26 15:15] hwguyguy opened #354 "The "minDate" option in DatePicker should accept number as the type"
According to the document in `cordova-plugin-datepicker`

[https://github.com/VitaliiBlagodir/cordova-plugin-datepicker#mindate---ios-android-windows](https://github.com/VitaliiBlagodir/cordova-plugin-datepicker#mindate---ios-android-windows)

The "minDate" option should be a number on Android.

[2016-07-27 08:06] WHarris22 commented on #206
Could somebody tell me if this is being investigated?

Otherwise I will have to revert to using the native plugin and not this wrapper class

[2016-07-27 16:41] felipetoffolo1 opened #357 "Uncaught TypeError: $cordovaTransfer.upload is not a function"
HI,
i have a question.
I'm trying to use ionic native in my Ionic 1 project.
 but when it try
 ` $cordovaTransfer.upload()`
i receive the errro
`Uncaught TypeError: $cordovaTransfer.upload is not a function`

here is my code

`      cordovaUpload: function (file, objectType, fileName, chunkMode) {

        chunkMode | (chunkMode = false);

        var container = this.fileContainer(objectType);

[2016-07-27 18:47] ihadeed commented on #357
Hey there,

This plugin (along with a few others) are instance based. You need to do something like the following:
[code]

[2016-07-28 08:52] mifkys commented on #280
I tried to use this method in my Ionic-2 app:
`Geocoder.geocode(req);`
and get many errors in console:

   EXCEPTION: Error: Uncaught (in promise): ReferenceError: 'plugin' is undefined
   browser_adapter.js (77,1)
   STACKTRACE:
   browser_adapter.js (77,1)
   Error: Uncaught (in promise): ReferenceError: 'plugin' is undefined
   at resolvePromise (http://localhost:8100/build/js/zone.js:538:26)

[2016-07-28 12:07] felipetoffolo1 commented on #357
Hi @ihadeed thank you for the answer.
But i tried that one and got a error too
`cordova.js:314 Uncaught TypeError: $cordovaTransfer is not a constructor`

[2016-07-28 12:49] mifkys commented on #280
On android amulator (genymotion) with enabled gps this code
`this.platform.ready().then(() => {
			let req = {
				'position': {
					'lat': 55.75,
					'lng': 38.87
				}
			}
			Geocoder.geocode(req).then((resp) => {console.log(resp)})
		});`
return empty array

[2016-07-28 17:02] ihadeed commented on #357
@mlynch can you have a look at this when you get a chance?

[2016-07-28 18:09] cfjedimaster opened #360 "CameraPreview (may) use the wrong repo"
CameraPreview (http://ionicframework.com/docs/v2/native/camerapreview/) mentions that it uses this GitHub repo: https://github.com/cordova-plugin-camera-preview/cordova-plugin-camera-preview - but that repo says it is no longer being worked on and suggests using https://github.com/westonganger/cordova-plugin-camera-preview/tree/skanygin

[2016-07-28 18:09] cfjedimaster opened #361 "CameraPreview doc issue"
On the CameraPreview page (http://ionicframework.com/docs/v2/native/camerapreview/), the link to ionic-native isn't valid HTML.

[2016-07-28 20:02] Oreonax opened #362 "Cordova-Geolocation - Error in Success callbackId with watchPosition option"
Hi,

I try to use an option on watchposition like this:
`this.geosubscription = Geolocation.watchPosition({enableHighAccuracy: true }).subscribe(position => {
});`

But I get that on android: `On android I get the following error: Error in Success callbackId: Geolocation189843865 : TypeMismatchError: The type of an object was incompatible with the expected type of the parameter associated to the o

[2016-07-28 20:29] cfjedimaster opened #363 "CameraPreview docs don't explain how to use"
Forgive the mini rant, but the docs here (http://ionicframework.com/docs/v2/native/camerapreview/) are *really* bad. This plugin should not have been released yet (imo) with the docs in this stage. I can't even figure out how to import it. I tried:

    import {CameraPreview} from 'ionic-native';

but it doesn't seem to be valid.

[2016-07-28 20:30] cfjedimaster commented on #363
So looking at npm_modules/ionic-native/dist/plugins, I can't seem to find support for CameraPreview at all. Is it not really released yet?

[2016-07-28 21:10] cfjedimaster opened #364 "Diagnostics support doesn't tell you what to import"
The Ionic Native docs don't always tell you what to import and should be consistent. So for ex, http://ionicframework.com/docs/v2/native/diagnostic/, does not tell you want to import. I tried to import Diagnostics and it didn't work. Of course, it took me just a second to figure out it was Diagnostic, but that should be documented.

[2016-07-28 23:10] amuramoto commented on #363
A `npm run build` of the repo successfully includes camera preview in `/dist`. About a week ago the plugin was being included in Ionic Native correctly, but @cfjedimaster is correct, it is currently not getting into /plugins in the node module.

[2016-07-29 01:31] ihadeed commented on #363
Hey Raymond,

Thanks for opening this issue. And I apologize for the inconvenience you
are experiencing with the current docs.

We are currently working on documenting all the existing plugins properly.

On Jul 28, 2016 4:29 PM, "Raymond Camden" <notifications@github.com> wrote:

[2016-07-29 02:45] cfjedimaster opened #365 "Diagnostics not working correctly in ionic-native"
This could certainly be my fault, but when I try to use Diagnostics, I get an error. I do have the plugin installed. Here is my code:

    constructor(private navCtrl: NavController, platform:Platform) {
    this.img = "";
    platform.ready().then(() => {

      Diagnostic.isCameraEnabled().then((res) => {
        console.log('diagnostic result', res);
        this.cameraSupported = res;
      })

[2016-07-29 12:25] mirkonasato opened #367 "Readme: ionic-native vs ngCordova and $scope.$apply"
The readme currently says that for [Angular 1](https://github.com/driftyco/ionic-native#angular-1):

That doesn't seem very accurate: looks like with ionic-native you always need to wrap updates in `$scope.$apply`. That's usually not required with ngCordova because it uses the $q service.

[2016-07-29 14:22] mlynch commented on #357
Ah, perhaps the instance based stuff isn't correctly abstracted for ng1...

[2016-07-29 17:21] mmazloum opened #368 "Google Map doesn't show"
I've tried to add the ionic native google map component, every console logs print data as if everything was ok but no map is displayed. fails with angular rc4, ionic2 beta 10

Tried with https://github.com/ihadeed/ionic-native-playground.git, i get the same trouble, everything installs and starts fine but after ionic emulate ios when I try to display the map I get a white screen instead. fails wit

[2016-07-30 11:54] seeps001 commented on #72
@deepslux did you manage to get ionic-native working with Ionic 1? I'm having issues setting things update. I've installed ionic-native, but now need to include ionic.native.js in my index.html, but having issues with the path.

[2016-07-30 11:57] seeps001 commented on #72
@ihadeed Could you please assist, how should ionic-native be included in index.html. I'm having issues with referencing the correct path to ionic.native.js. I'm using Ionic 1.

[2016-07-30 13:34] louisgv opened #369 "[Feature] Bower Component"
A pre-built bower component for ionic 1 users would be great :-?...

[2016-07-30 20:22] hieuld opened #372 "TODO: cordova-plugin-ms-adal"
[cordova-plugin-ms-adal](https://github.com/AzureAD/azure-activedirectory-library-for-cordova)

Could you merge this plugin into ionic-native? Thanks

[2016-07-30 22:58] Kayrohinc commented on #185
In 1.3.9 bug comes again , plugin is not defined on serve and on android build.
D/StatusBar.MSimNetworkController( 1192): refreshSignalCluster, mMSimPhoneSignalIconId[0]=com.android.systemui:drawable/old_stat_sys_signal_4_fully mMSimDataSignalIconId[0]=com.android.systemui:drawable/old_stat_sys_signal_4_fully mMSimDataTypeIconId[0]=com.android.systemui:drawable/stat_sys_data_fully_connected_4g mMS

[2016-07-31 06:47] amuramoto commented on #365
This happens because isCameraEnabled() should have been isCameraAvailable(). Same for isBluetoothEnabled(), isLocationEnabled(), and isWifiEnabled(). All are fixed in this PR: https://github.com/driftyco/ionic-native/pull/373

[2016-07-31 07:06] amuramoto commented on #363
A new build should be run and published to npm so that the plugin is included

[2016-07-31 15:31] daniele-sartiano opened #377 "inAppBrowser - windows platform"
When I use the inAppBrowser plugin on my smartphone (windows 10) with windows platform, I obtain this error:

The app can’t use script to load the http://MY_SERVER_URL url because the url launches another app. Only direct user interaction can launch another app.

The code is:

     `uri = encodeURI('http://MY_SERVER_URL');
      var ref = ionic_native_1.InAppBrowser.open(uri, '_self', 'location=no

[2016-07-31 17:15] loolooii commented on #231
@ihadeed Could you tell me what I should do that's different from this page:
http://ionicframework.com/docs/v2/native/backgroundgeolocation/

I just did what is stated here.

[2016-07-31 18:32] #342 closed

[2016-07-31 18:41] ihadeed commented on #377
This is an issue with the plugin/platform and not with Ionic Native.

Try `_system` instead of `_self`.

See: https://github.com/apache/cordova-plugin-inappbrowser/blob/master/www/windows8/InAppBrowserProxy.js#L49

[2016-07-31 18:41] #377 closed

[2016-07-31 18:43] ihadeed commented on #367
Should be fixed in next release.

[2016-07-31 18:43] ihadeed commented on #365
Should be fixed in next release.

[2016-08-01 06:37] ihadeed commented on #357
@felipetoffolo1 can you try to use the plugin via the global variable `IonicNative`..
example:

[code]

[2016-08-01 12:59] jgw96 opened #379 "Ionic2 - Unable to setup SQLStorage (_ionicNative.Storage is not a constructor)"
_From @HamzaLJ on July 30, 2016 14:41_

I'm trying to setup SqlStorage in my Ionic2 app, but I was not lucky enough to do so as I am receiving the following error:

I following the documentation, but that didn't work!

    import {SqlStorage, Storage, StatusBar} from 'ionic-native';

    SaveInfo(){

    this.storage = new Storage(SqlStorage, { name: 'userInfo' });

    return this.http.get(this.p

[2016-08-01 13:14] cfjedimaster commented on #365
Query - is there one core version # for Ionic Native?

Also - rough eta on when this will go live?

On Sun, Jul 31, 2016 at 1:43 PM, Ibrahim Hadeed <notifications@github.com>
wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for StrongLoop at IBM

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter: raymondcam

[2016-08-01 13:18] cfjedimaster commented on #363
@amuramoto was that for me? As a general FYI, how do users update their copy of Ionic Native?

[2016-08-01 13:39] daniele-sartiano commented on #377
Thx!

[2016-08-01 14:44] ihadeed commented on #365
Hey Raymond

Yes there's one version
And these changes are live right now in the latest version

On Aug 1, 2016 9:14 AM, "Raymond Camden" <notifications@github.com> wrote:

[2016-08-01 14:44] ihadeed commented on #363
To build your own copy of ionic native you have to clone this repo, run
"npm install" then run "npm run build"

On Aug 1, 2016 9:18 AM, "Raymond Camden" <notifications@github.com> wrote:

[2016-08-01 14:44] ihadeed commented on #379
That way of using the SQL storage is not supported by ionic native. That is
the implantation that's included with the ionic framework itself.

Simply importing Storage and SQLite from ionic-angular instead of
ionic-native should fix it.

On Aug 1, 2016 8:59 AM, "Justin Willis" <notifications@github.com> wrote:

[2016-08-01 14:45] cfjedimaster commented on #365
Cool. And I was kinda dumb - you can use regular npm commands to find local
vs remote version, and I see the change log too.

On Mon, Aug 1, 2016 at 9:44 AM, Ibrahim Hadeed <notifications@github.com>
wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for StrongLoop at IBM

Email : raymondcamden@gmail.com
Blog : www.raymondcamde

[2016-08-01 14:45] cfjedimaster commented on #363
Ok - but in theory - if a fix is pushed, I can just upgrade, right?

On Mon, Aug 1, 2016 at 9:44 AM, Ibrahim Hadeed <notifications@github.com>
wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for StrongLoop at IBM

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter: raymondcamden

[2016-08-01 14:49] ihadeed commented on #363
Not sure what fix you're talking about but I did publish a new release last
night so whatever is in the master branch now is what is available in the
npm package.

On Aug 1, 2016 10:45 AM, "Raymond Camden" <notifications@github.com> wrote:

[2016-08-01 14:53] cfjedimaster commented on #363
Oh I wasn't sure based on Alex's reply: "A new build should be run and
published to npm so that the plugin is included"

Basically I just wanted to know what I needed to do test - and now I know -
so thank you. :)

On Mon, Aug 1, 2016 at 9:49 AM, Ibrahim Hadeed <notifications@github.com>
wrote:

--
===========================================================================
Raymond Camden, Develope

[2016-08-01 16:17] #379 closed

[2016-08-01 16:17] mlynch commented on #379
Yep, Storage is part of Ionic Framework proper.

[2016-08-01 16:19] mlynch commented on #364
Looks like the fix for this landed. Ionic docs will update on the next build.

[2016-08-01 16:19] #364 closed

[2016-08-01 16:19] #365 closed

[2016-08-01 16:29] #367 closed

[2016-08-01 18:15] mirkonasato commented on #367
Tried 1.3.10 but I still need `$scope.$apply` with e.g. `$cordovaCamera.getPicture()`.

Maybe it's because #378 says it's a "partial fix"?

[2016-08-01 18:24] mhartington commented on #368
Hey there, can you provide a demo or some git repo that has the issue. A simple blank app starter page will do.

[2016-08-01 18:33] mhartington commented on #360
I doesn't seem that there's much consensus on what plugin is the "working" one.
Will test out each on and confirm.

[2016-08-01 18:38] cfjedimaster commented on #360
Fair point - I missed his last bit about 'merging back'.

[2016-08-01 18:43] mlynch commented on #369
We're doing npm only, as this is the way the world is heading.

[2016-08-01 18:43] #369 closed

[2016-08-01 18:47] #361 closed

[2016-08-01 18:47] mlynch commented on #361
Removed that bit since it didn't make sense anyways

[2016-08-01 19:26] mlynch commented on #348
I just updated the readme with a note about ng1 and observables for now

[2016-08-01 20:48] mlynch commented on #354
That's a weird one since the type is more of an `any`, and it's regrettable that plugin takes platform-specific arguments.

[2016-08-01 20:53] mlynch commented on #321
Let's keep this open to review over time, I don't think we need to make any changes currently

[2016-08-01 21:08] mlynch commented on #331
Changing this to be a sync since it's a non-standard behavior

[2016-08-01 21:42] #331 closed

[2016-08-01 21:45] mlynch commented on #331
@pascalrijk can you try the code in master now? Just pushed a fix that changes the semantics to be this:

[code]

Also updated the config to match the most recent version of the plugin

[2016-08-01 23:07] Kayrohinc commented on #368
Hello! I have the same issue,  try to open simple test in android-catch error
[code]
source-
https://drive.google.com/file/d/0BzSmlz9GIqFtV1RreTg5NlMtR2s/view?usp=sharing

[2016-08-02 01:34] MattHoneycutt commented on #348
So this should work for promises now, but observables will still need a $scope.$apply wrapper, correct?

[2016-08-02 07:25] johannds opened #380 "How do I install this?"
I've tried installing this as per the docs, but it doesn't inject the script into my index.html. Due to this, I cannot reference the lib in my code.

[2016-08-02 07:28] ihadeed commented on #380
Are you using ionic 1 or 2?

On Aug 2, 2016 3:26 AM, "Johann de Swardt" <notifications@github.com> wrote:

[2016-08-02 07:30] johannds commented on #380
@ihadeed I'm on v1. Just saw that I need to copy the file manually and reference it. I've copied it to /lib/ionic-native/ and plugged it into my index.html manually. Works now! :smile:

[2016-08-02 07:30] #380 closed

[2016-08-02 10:33] mmazloum commented on #368
@mhartington the project is a bit massive and the geolocation map is part of a form screen flow, i'll try to find out more precise clues. And if I don't find I'll build a blank starter.

I've have a question : do I have to test native plugins like this on phones or should it work on mac OS emulator ?

However if it can help :

Here is my constructor : (assuming I don't need to wait on "platform re

[2016-08-02 13:35] mmazloum commented on #368
if it can help here is what I see in the debug console from androïd :
![image](https://cloud.githubusercontent.com/assets/3626499/17330328/becef976-58c6-11e6-89a5-74989c2e6b8a.png)

[2016-08-02 13:59] mmazloum commented on #368
@mhartington I get the same problem with @ihadeed native googlemaps starter project, I'm launching my app on a Iphone 6 (latest OS) or Galaxy S6 (lolipop), if you just need my projects settings (package.json, typings, etc...) tell me I'll create the same conf. in another git project but I don't think it comes from here.

Thanks.

[2016-08-02 15:19] mlynch commented on #369
@louisgv apologies, changed my mind. You're right, Ionic 1 relies on this so I went ahead and published it as `ionic-native` on bower.

[2016-08-02 16:47] Kayrohinc opened #382 "Pls update Google maps and (maybe) all other documentation for ionic native"
Hello!  It will be great, if you update all information for ionic native plugins, maybe people will have less questions. For examples:  in docs-
[code]
in real life
map.on(GoogleMapsEvent.MAP_READY).subscribe(() => console.log('Map is ready!')); doesn't work , but
[code]
works well...
also...  I try to use `$ ionic plugin add cordova-plugin-googlemaps` -catch  404 error..

[2016-08-02 22:15] Kayrohinc opened #383 "googlemaps.addGroundOverlay"
Hello! I try to add GroundOverlay using  https://github.com/mapsplugin/cordova-plugin-googlemaps/wiki/GroundOverlay  as example

[code]

but I catch exeption -

[code]

what's wrong? Is it a bug or no?

[2016-08-03 00:58] lthh89vt commented on #368
I had the similar issue and hope you can find the solution in [driftyco/ionic#7205](https://github.com/driftyco/ionic/issues/7205)

[2016-08-03 09:23] iraychen opened #387 "Please add “cordova-plugin-file-opener2” plugin into ionic-native，Thanks！"
**# Please add “cordova-plugin-file-opener2” plugin into ionic-native，Thanks！**

I use the Ionic2 beta10  version development app, you can use the FileTransfer plug-in to download the PDF file, but how to call the local application to open the PDF file?

To search for **# "cordova-plugin-file-opener2" this plugin can call the local application to open the file**, in beta6 JS version can directly u

[2016-08-04 04:22] raykin commented on #357
@ihadeed tried your latest example, but doesn't work

[2016-08-04 06:53] hkxicor opened #389 "Geo location plugin is not working on android 4.4 and older"

[2016-08-04 07:05] ramonsan commented on #387
Functions of cordova-plugin-file-opener2 are integrated in file plugin as @ihadeed said in [#295](https://github.com/driftyco/ionic-native/issues/295).

There is a PR [#283](https://github.com/driftyco/ionic-native/pull/283), but not merged yet.

[2016-08-04 11:23] mbakker96 commented on #339
okay thanks

[2016-08-04 11:23] #339 closed

[2016-08-04 11:31] mbakker96 opened #390 "ask for permission for contacts on iOS 10"
My Iphone (ios 10) crasht when using the Contact plugin becease of privacy issue.

It has to request permission to read / write to the contacts.

see [issue](https://github.com/apache/cordova-plugin-contacts/pull/131) on contact repo for more info.

errorlog:
[code]

[2016-08-04 12:52] mmazloum commented on #368
I @lthh89vt, thanks for the link, I've re-installed the plugin, and added the css trick explained in driftyco/ionic#7205, but the previous screen (before nav push) freezes on half of the screen + map doesn't disply between ionic component but behind.

[2016-08-04 14:19] mlynch commented on #357
The constructor isn't getting carried over, fixing now

[2016-08-04 14:40] #357 closed

[2016-08-04 15:30] raducostea opened #394 "hideKeyboardAccessoryBar is still disabled"
I see hideKeyboardAccessoryBar is still disabled but on the plugin hideKeyboardAccessoryBar has been enabled again. Can we also enable it here?

[2016-08-04 15:35] raducostea commented on #394
Also just tested by adding the decorator inside node_modules and it working.

[2016-08-04 19:20] mlynch opened #395 "Review whether Toast uses observables or Promises"
Some of the methods of `Toast` use observables (for example, `show`), but usage feels more appropriate for a `Promise`. Perhaps we should revise that?

[2016-08-04 19:29] sbryfcz opened #396 "MediaCapture TypeScript Missing"
From the media capture example: http://ionicframework.com/docs/v2/native/media-capture/

Typescript seems to fail when running these examples. It doesnt look like ionic native doesn't export MediaCapture.

Maybe this was checked in prematurely?

[2016-08-04 21:26] mmazloum commented on #368
hi, just to let you know, I get this display on a lolipop S6 edge + Ionic2 beta 10, + RC4 @lthh89vt, @mhartington:
![image](https://cloud.githubusercontent.com/assets/3626499/17418766/7ea0f540-5a9a-11e6-8f10-b8a04591d972.png)

it seems there is a css trouble between ionic and ionic native maps plugin.

[2016-08-04 22:00] ihadeed commented on #396
Can you share the errors that you are getting?

The plugin is exported here https://github.com/driftyco/ionic-native/blob/master/src/index.ts#L107

[2016-08-04 22:04] ihadeed commented on #395
The Toast plugin uses the success callback to notify that the Toast was successfully displayed, and also to notify the app that the user tapped the toast. See https://github.com/EddyVerbruggen/Toast-PhoneGap-Plugin#receiving-a-callback-when-a-toast-is-tapped

[2016-08-04 22:14] ihadeed commented on #390
I'm not sure how this is an ionic-native issue, are we missing a wrapper that requests the required permissions?

[2016-08-04 22:15] ihadeed commented on #389
This is an issue with the plugin and not with the ionic-native wrapper.

[2016-08-04 22:15] #389 closed

[2016-08-04 22:19] mmazloum commented on #368
finally did this to remove to previous page overlay :
`
  ionViewWillEnter() {
    document.querySelector('.transport-page').setAttribute("hidden", "");
  }

  ionViewWillLeave() {
    document.querySelector('.transport-page').removeAttribute("hidden");
  }
`

[2016-08-04 23:51] allurco opened #399 "Replacing ngCordova with Ionic Native in an Ionic 1.3 Project - Geolocation Plugin"
Hi,

I am having a trouble with my code. Before the adding ionic-native I had:

[code]

Now I have:

[code]

but then I get an error:

`TypeError: $cordovaGeolocation.watchPosition(watchOptions).subscribe is not a function. (In '$cordovaGeolocation.watchPosition(watchOptions).subscribe', '$cordovaGeolocation.watchPosition(watchOptions).subscribe' is undefined)`

Do I have to include anything else

[2016-08-05 04:51] #387 closed

[2016-08-05 08:24] maxx0r commented on #396
Are you sure your ionic-native version is at >=1.3.5 ?

[2016-08-05 10:12] Olexiy665 opened #401 "Wake up app (bring to foreground)"
Please, add plugin that can  bring app foreground, or something like cordova wakeup plugin.

[2016-08-05 10:29] #401 closed

[2016-08-05 12:19] sbryfcz commented on #396
Odd. I fired up my project today and things seem to be working. Maybe it was an issue with Visual Studio code. Oh well. Thanks for your help (and awesome library).

[2016-08-05 12:19] #396 closed

[2016-08-05 12:36] Kayrohinc commented on #383
Help, pls..

[2016-08-05 14:08] mmazloum commented on #298
If I may, you also have the animate camera option that should be able to take a GoogleMapsLatLngBounds as target parameter as well as GoogleMapsLatLng.

Cordova maps plugin has this feature available. Am saying this in the right place or should I create a new issue ? (sorry I'm quiet new to ionic).

[2016-08-05 16:42] philipphalder opened #402 "ToDo: Digits Plugin"
Hello,

it would be great if someone is able to build a Plugin for Digits.

https://get.digits.com

Ionic1:
https://github.com/cosmith/cordova-digits
https://github.com/nifino/twitter-digits-plugin

thank you

[2016-08-05 21:51] dudeofawesome opened #403 "Camera plugin doesn't work in Browser"
The Camera plugin claims support for the Browser platform in the documentation, but when I attempt to use it in a browser (Chrome v52, OS X 10.11.5) it prints this to console
[code]

It works just fine when I build and run on an Android phone. I'm just trying to get media from the gallery on phones, and from the file system in browser.

**Is this just a mistake in documentation, or an actual bug?*

[2016-08-05 23:18] ihadeed commented on #383
Hey there

Just had a quick look at the stack trace here on my phone.

I doubt that this is an ionic native issue, but we can keep this open till
we confirm that.

Looking at your stack trace I think the problem is here

"Error: Uncaught (in promise): Error: tilelayerOptions.tileUrlFormat should
set a string."

You might be missing the tileUrlFormat somewhere in the options for the
tileLayer

On A

[2016-08-05 23:20] ihadeed commented on #403
Did you add the browser platform and run the command "ionic run browser" ?

On Aug 5, 2016 5:51 PM, "Louis Orleans" <notifications@github.com> wrote:

[2016-08-05 23:24] dudeofawesome commented on #403
I didn't realize that there was a difference between `ionic run browser` and `ionic serve`. When I use that, it works!

Do you know of any plans to get a live-reload system working with `run`, or to get ionic-native to work with `serve`?

[2016-08-06 00:47] ihadeed commented on #403
You can use live reload with Ionic Native.

First install all the plugins you need, run the livereload, then you can do
any changes to your code and see it in effect immediately on the
device/emulator.

On Fri, Aug 5, 2016 at 7:24 PM, Louis Orleans <notifications@github.com>
wrote:

[2016-08-06 00:48] #403 closed

[2016-08-06 01:12] ihadeed commented on #399
No you just need to include the ionic native javascript file before your app's code.

What happens if you console log `$cordovaGeolocation` ?

[2016-08-06 15:15] Kayrohinc commented on #383
Hello! I find how  to fix this bug.
in googlemaps.js  file  you need to change  line 184

`_this._objectInstance.addTileOverlay(options, function (groundOverlay) {
`
to
`   _this._objectInstance.addGroundOverlay(options, function (groundOverlay) {`
also, the same bug in line  195:
`            _this._objectInstance.addTileOverlay(options, function (kmlOverlay) {
`
change to ` this._objectInstance.

[2016-08-07 01:59] kessiler commented on #383
This issue is already fixed.
Upgrade **ionic-native** to **v1.3.10**

[2016-08-07 05:32] 05bca054 opened #406 "Media plugin loop through audio file"
How can i repeat or loop audio using ionic-native media plugin.

I found some sollution by using cordova media plugin but how can i achieve using ionic-native.
[code]
http://ionicframework.com/docs/v2/native/mediaplugin/1

-Naitik

[2016-08-07 10:38] tinquang opened #407 "Error TS2305: Module "path/to/node_modules/ionic-native/dist/index" has no exported member 'Connection'"
Hi, I just upgrade ionic-native from 1.3.2 to 1.3.10 and I got that error message when build.

[2016-08-07 11:25] walkingriver commented on #395
Is it required to unsubscribe once those two events have occurred? Does the subscription vanish on its own? Or will one callback handle every toast shown during the app's lifetime?

[2016-08-07 12:57] keithdmoore commented on #407
@mhartington removed Connection.  You need to hard-code the string literals in your code or create a Connection class in your code.

[2016-08-07 15:47] tinquang commented on #407
thanks.

[2016-08-07 16:02] Kayrohinc commented on #383
Thx!

[2016-08-07 16:02] #383 closed

[2016-08-07 16:27] mlynch commented on #395
Right now you do have to subscribe for the operation to start, which I think is regrettable. Filing an issue now

[2016-08-07 16:28] mlynch opened #408 "Don't require observable subscribe to run"
Right now some operations (might be all observables) only run (like `Toast.show`) after a subscription has been created on the observable, forcing the caller to set up a listener. This should be fixed to run regardless of subscription

[2016-08-07 17:00] #407 closed

[2016-08-07 20:14] ihadeed commented on #406
You can do something like this:
[code]

[2016-08-07 22:17] Kayrohinc opened #409 "Image picker bug"
Hello! I found   a problem in   cordova   image picker plugin.

On some devices it crash the application.

`On Android 6 you need to request permission to read external storage at runtime when targeting API level 23+. Even if the uses-permission tags for the Calendar are present in AndroidManifest.xml.

Note that the hasReadPermission function will return true when:

You're running this on iOS, or

[2016-08-07 22:25] walkingriver commented on #395
Right, I imagine you should be able to fire-n-forget. That was my mistake early on. @ihadeed, couldn't you accomplish the same thing with then/finally? The subscribe metaphor feels forced when there are only three possible outcomes, and no repeats (unless that assumption is wrong).

[2016-08-08 05:12] ayyfish opened #411 "Screen orientation view width bug (iOS)"
Sometimes when changing the orientation via ScreenOrientation.lockOrientation, the web view doesn't take up the full width of the device screen (iPhone 5s). So basically the entire ui is squished onto the left side of the screen with white space to the right of it. I've noticed that showing or hiding the statusbar via the ionic native StatusBar.show or StatusBar.hide fixes this issue and the view

[2016-08-08 05:21] ihadeed commented on #411
Hey there

This would be an issue with the plugin and not with the ionic native
wrapper. I suggest opening an issue at their repository.

On Aug 8, 2016 1:12 AM, "Austin Fisher" <notifications@github.com> wrote:

[2016-08-08 10:24] Kayrohinc commented on #409
I  added functions myself:
[]( https://github.com/Kayrohinc/ionic-native/blob/master/src/plugins/imagepicker.ts) , it works well.

[2016-08-08 15:31] #399 closed

[2016-08-08 15:31] mlynch commented on #399
Make sure your ionic.native.js file is included after cordova but before your code

[2016-08-08 15:31] mlynch commented on #394
Looks like @ihadeed landed a commit for this

[2016-08-08 15:31] #394 closed

[2016-08-08 15:32] mlynch commented on #348
Correct, and with the merged $q fix the promises won't require the apply.

[2016-08-08 15:32] #348 closed

[2016-08-08 17:37] heukirne commented on #312
option that are already in native:
- http://ionicframework.com/docs/v2/native/background-mode/
- http://ionicframework.com/docs/v2/native/insomnia/

[2016-08-08 17:50] keithdmoore commented on #312
@heukirne what is your point with mentioning the other plugins?  I am about to need the power mgmt plugin.  I need to submit a pull request to add the ability to do a PARTIAL_WAKE_LOCK for Android.

[2016-08-08 18:01] #411 closed

[2016-08-08 21:31] marcalj opened #412 "NFC plugin?"
I couldn't find any reference fro NFC support on Ionic Native. It is supported? There's a way to use it?

PD: If not, can be used in Ionic v1?

Thanks! :)

[2016-08-09 04:43] ihadeed commented on #412
That would be this plugin: https://github.com/chariotsolutions/phonegap-nfc

We can definitely add a wrapper for it.

[2016-08-09 05:36] #406 closed

[2016-08-09 07:50] 05bca054 commented on #406
Hi Ihadeed,

Thanks for your response but tried it with ionic 10 beta and no luck please find app.ts(Constructor) code
constructor(private platform: Platform) {
    this.rootPage = TabsPage;

    platform.ready().then(() => {
let media = new Media(abspath+"media/salamisound.mp3").then(() => {
          alert('Success');
      }, () => {
        alert('Error');
      });
      media.play();
      m

[2016-08-09 10:18] ihadeed commented on #406
Sorry that was a partially misleading code. Here's how you do it:

[code]

[2016-08-09 11:05] 05bca054 commented on #406
Hi,

Still editor says can't find

[ts]
if(status === **Media**.MEDIA_STOPPED) media.play();
Cannot find name 'Media'.

Once declare variable in constructor like **let Media:any;**, Still no luck

[2016-08-09 11:26] jvaclavik commented on #331
@mlynch: It works, thank you!

**Steps to update from master:**
1. Download master
2. Copy master to node_modules/ionic-native
3. `cd node_modules/ionic-native`
4. `npm install`
5. `npm run build`
6. Configure BackgroundGeolocation:
[code]
7. `ionic serve` and run

[2016-08-09 12:07] mlynch commented on #331
An easier way to install from master:

npm install git+https://github.com/driftyco/ionic.git

[2016-08-09 16:26] jackvial commented on #311
+1

[2016-08-09 20:03] ihadeed commented on #406
It's MediaPlugin not Media

On Aug 9, 2016 7:05 AM, "Naitik joshi" <notifications@github.com> wrote:

[2016-08-09 20:07] mhartington opened #413 "CameraOption should be optional"
Right now, CameraOptions are a required parameter in `getPicture()`

But according to the cordova docs, CameraOptions are optional .

https://github.com/apache/cordova-plugin-camera#cameracameraoptions--object

Even looking a the older DT definitions, they list it as optional.

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/cordova/plugins/Camera.d.ts#L38

[2016-08-09 22:23] rguerreiro opened #414 "ConnectSDK plugin"
http://www.svlconnectsdk.com/docs/1-6-0/cordova/

[2016-08-09 22:37] keithdmoore commented on #312
By the way, the http://ionicframework.com/docs/v2/native/background-mode is toxic in that the Apple App store WILL reject your app if you use it.  If you use it for Android but still support the iOS platform, you might consider removing the iOS implementation or use `plugman` and only install the Android version

[2016-08-10 10:10] AishApp opened #415 "Background Geolocation , plugin_not_installed"
Hi, I have added Background Geolocation plugin from "**ionic plugin add cordova-plugin-mauron85-background-geolocation**" and updated my **android** platform. But still i am receiving errors and warnings as "**Native: tried calling BackgroundGeolocation.configure, but the BackgroundGeolocation plugin is not installed**." and "**Error on Background Geolocation , plugin_not_installed**" on running.

[2016-08-10 10:16] ihadeed commented on #415
Are you running latest version of ionic native?

[2016-08-10 10:24] AishApp commented on #415
I am using version 1.3.2

[2016-08-10 10:25] ihadeed commented on #415
Update to 1.3.10

[2016-08-10 10:52] AishApp commented on #415
Thanks a lot. Its working now. Sorry too.

[2016-08-10 10:52] #415 closed

[2016-08-10 12:04] andredas opened #416 "TODO: $cordovaFileOpener2"
It would be great to have a wrapper for this plugin.

[https://github.com/pwlin/cordova-plugin-file-opener2](https://github.com/pwlin/cordova-plugin-file-opener2)

[2016-08-11 04:46] ghenry22 commented on #414
While I'd love to see this functionality in ionic native, connectSDK seems to be essentially abandoned at this point?

[2016-08-11 09:29] rguerreiro commented on #414
@ghenry22  I see you point. The repo isn't updated in 11 months and their twitter account last update was almost a year ago. What would you suggest instead? I mainly would like a plugin to connect to Chromecast.

[2016-08-11 11:21] #123 closed

[2016-08-11 11:21] #159 closed

[2016-08-11 11:21] #233 closed

[2016-08-11 11:21] #254 closed

[2016-08-11 11:21] #264 closed

[2016-08-11 11:26] #247 closed

[2016-08-11 11:29] #413 closed

[2016-08-11 11:30] #390 closed

[2016-08-11 11:31] #318 closed

[2016-08-12 01:11] ghenry22 commented on #414
I just published a cordova plugin for chromecast on iOS
https://github.com/ghenry22/cordova-plugin-chromecastios

Works well for me and I aim to maintain it and continue to implement more features / fixes as best I can.  It's published to npm as well

I have a fork of the android chromecast plugin you mentioned here:
https://github.com/ghenry22/cordova-chromecast

I have made some updates and pull

[2016-08-12 10:11] WHarris22 commented on #206
In case you aren't already aware this appears to be fixed in beta 11 :+1:

[2016-08-12 12:20] rguerreiro commented on #414
One single plugin is the ideal solution. If you come up with that it would be great and the ionic native team should really consider supporting it. In the meantime imo we should stay with ConnectSDK.

[2016-08-12 14:48] ghenry22 commented on #414
Like I mentioned I would love to see connectsdk continuing to be supported but it really looks dead.
I started looking at it when I wanted Chromecast support as well, I found the device detection to be flaky, iOS will detect Chromecast, android won't most of the time, some times it does some times it lists it as a dial device instead and then half the features don't work. I could also not get it t

[2016-08-13 12:48] bushev opened #419 "Can't attach to event after upgrade to 1.3.11"
Expected: Listen for loadstart event
Actual: **TypeError: Bind must be called on a function**

![image](https://cloud.githubusercontent.com/assets/7535766/17643256/1b22c96a-616d-11e6-9ecd-4b2aaaf59099.png)

![image](https://cloud.githubusercontent.com/assets/7535766/17643260/41130838-616d-11e6-8b7d-caa528a0ebfc.png)

Code sample:

[code]

[2016-08-13 14:05] ihadeed commented on #419
Sorry about that I did a mistake with my implementation of the observable
bind function. I'll get that fixed soon.

On Aug 13, 2016 8:48 AM, "Yuriy Bushev" <notifications@github.com> wrote:

[2016-08-14 03:50] kentr opened #421 "Zip plugin"
Requesting addition of `cordova-plugin-zip`.

[2016-08-14 09:28] ihadeed commented on #419
This is fixed now.

[2016-08-14 09:28] #419 closed

[2016-08-14 09:33] bushev commented on #419
Great, thanks! 👍

[2016-08-15 04:59] ihadeed commented on #100
Just pushed a new branch that addresses this feature request.

https://github.com/driftyco/ionic-native/compare/feat/ondeviceready?expand=1

The way it works is that if we are calling an async function (the ones that return Promise or Observable), we will wait for ondeviceready to fire before we go ahead and make the call.

I haven't tested it but in theory it should work.

If the developer is try

[2016-08-15 05:07] ihadeed commented on #165
After upgrading my apps to latest version of Ionic Framework 2, I noticed the changes to the way we display: Alert, ActionSheet, Loading, and Modal. We do not call a static function anymore to create an instance of the object, instead we inject the appropriate controller into our component and we create the object we need from there.

That process reminded me of this issue and I think we can apply

[2016-08-15 05:19] ihadeed commented on #206
I'm going to close this for now, if you are still experiencing issues please let me know. It seems like the plugin works well now.

[2016-08-15 05:19] #206 closed

[2016-08-15 06:12] ihadeed commented on #260
This already exists.

[2016-08-15 06:12] #260 closed

[2016-08-15 06:13] ihadeed commented on #416
Duplicate of https://github.com/driftyco/ionic-native/issues/295

[2016-08-15 06:13] #416 closed

[2016-08-15 06:13] #269 closed

[2016-08-15 06:14] #300 closed

[2016-08-15 06:28] #309 closed

[2016-08-15 07:58] #354 closed

[2016-08-15 07:58] #315 closed

[2016-08-15 07:58] #313 closed

[2016-08-15 08:58] ihadeed commented on #412
So I was just writing a wrapper for the plugin and I noticed it could be done in two ways.

1. Return an observable that connects with the `callback` parameter, and have two optional parameters for `onSuccess` and `onError`

2. Return a promise and have a required parameter of `callback`

See here: https://github.com/driftyco/ionic-native/commit/82ccf13e05782df9753cfdc5e2bcd20075b2c360

I think th

[2016-08-15 09:10] #421 closed

[2016-08-15 13:28] ominfowave opened #432 "cordova-plugin-email-composer in iphone 6s isAvailable return false and then not open any email app"
its working on android but not in iphone

[2016-08-15 13:29] ihadeed commented on #432
Use social sharing plugin instead. The email composer plugin has been broken for awhile now.

Also, this would be an issue with the plugin and not with the ionic native wrapper.

[2016-08-15 13:29] #432 closed

[2016-08-15 13:29] #311 closed

[2016-08-15 13:31] ominfowave opened #433 "cordova-plugin-email-composer in iphone 6s isAvailable return false and then not open any email app"
its working on android but iphone 6s is not working

[2016-08-15 13:32] ihadeed commented on #433
duplicate of https://github.com/driftyco/ionic-native/issues/432

[2016-08-15 13:32] #433 closed

[2016-08-15 13:33] ominfowave commented on #433
ok sorry

[2016-08-15 15:20] mlynch commented on #100
@ihadeed it's a good idea. Will that event fire multiple times even if it already happened? I'm getting conflicting info online, the docs say that the callback will happen immediately after the first time but not sure about that. If not, we'd want a global handler and a global ready flag, which might be more performant anyways than binding a listener on each call

[2016-08-15 16:16] ZiFFeL1992 commented on #368
https://github.com/driftyco/ionic/issues/7205

We should add this to ionic-native documentation or add the fix to scss file...

[2016-08-16 06:20] tkem commented on #408
Well, isn't this how observables are _supposed_ to work? Like Angular 2 `Http`, for example? You can always turn this into a "hot" observable using `publish`/`connect`...

[2016-08-16 06:44] jtushar53 commented on #84
hi @ihadeed
me too was looking for dgeni tutorials,
found these,
https://forum.ionicframework.com/t/how-to-generate-our-code-documentation-with-dgeni/20056
https://github.com/rangle/angular2-dgeni-starter
may be useful for you

[2016-08-16 08:19] ghenry22 commented on #414
I have implemented full metadata support for different media types on my chromecast plugin for iOS.  It is now pretty much feature complete for using a chromecast from iOS.  I am going to start working on some updates for the android version and then an abstraction layer to try and provide a common interface.  This might be hard as the android and ios implementations are quite different, but let's

[2016-08-16 10:24] NoNameProvided opened #435 "Naming - Contracts vs Contract"

[2016-08-16 10:25] #435 closed

[2016-08-16 10:36] rguerreiro commented on #414
Go ahead @ghenry22 we're all with you :)

[2016-08-16 14:27] jgw96 opened #437 "Native BackgroundMode add EventListener does not work"
_From @mburger81 on August 16, 2016 9:26_

As described here in my post in the forum, I can not add an listener to activate

https://forum.ionicframework.com/t/error-on-backgroundmode-on/58979/4

using ionic2 beta.11

[code]

_Copied from original issue: driftyco/ionic#7736_

[2016-08-16 14:32] MaxDaten opened #438 "Ionic-native ‘plugin not installed’ but ‘ionic plugin add’ says already installed"
Hi,

I have an issue with ionic-native an ionic 1, already reported here:
https://forum.ionicframework.com/t/ionic-native-plugin-not-installed-but-ionic-plugin-add-says-already-installed/60328?u=briends

For completness:

---

Hi,

I recently switched from ngCordova to ionic-native. Mainly for camera, statusbar and network. When using the network plugin it says:

`[Warning] Native: tried calling e

[2016-08-16 14:50] ramonsan opened #439 "writeFile issues in alternate file implementation."
I am trying to save a blob in the external memory of device. I was rewriting from old ngCordova code with $cordovaFile and $cordovaFileOpener2 plugins. It correctly worked in Ionic 1 app. Now, with new methods of File implemented by  ([#283](https://github.com/driftyco/ionic-native/issues/283)) ([6ed32ef](https://github.com/driftyco/ionic-native/commit/6ed32ef)) I am trying to do using writeFile i

[2016-08-16 15:00] mlynch commented on #408
@tkem yea I think you're right. Perhaps this is a case where observable is just the wrong return type for Toast

[2016-08-16 15:22] jonathanherdt commented on #438
Chiming in because I have the same problem. Also Ionic 1 (1.3.1) but without TypeScript.

[code]

When I insert a breakpoint right before the position where the call fails and make the call in the traditional way everything works.

[2016-08-16 19:38] cfjedimaster opened #440 "Dialogs plugin, alert, 3rd option not optional"
If you do not supply the 3rd arg to Dialogs.alert, the one that is supposed to be optional, your app will crash. XCode reports:

*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[__NSPlaceholderArray initWithObjects:count:]: attempt to insert nil object from objects[0]'

Adding the 3rd arg fixes it.

[2016-08-16 20:06] tkem commented on #408
Probably, though I guess in this case an Observable was used because the `Toast.show()` success handler might be called multiple times if the toast is tapped: https://github.com/EddyVerbruggen/Toast-PhoneGap-Plugin#receiving-a-callback-when-a-toast-is-tapped
Whether this is good interface design in the first place is debatable, of course.

[2016-08-17 05:26] beders commented on #271
Also consider adding #446

[2016-08-17 05:55] amuramoto commented on #412
+1 on the first option. Observable seems to be in line with how other wrappers implement this type of thing.

[2016-08-17 05:58] amuramoto commented on #314
Done in https://github.com/driftyco/ionic-native/pull/442

[2016-08-17 07:21] ihadeed commented on #439
@rapropos can you help us here if you have some time?

[2016-08-17 07:24] andreafoorlan commented on #260
Please update the documentation too, if it already exists:
http://ionicframework.com/docs/v2/native/barcode-scanner/

Thank you for your support,
Andrea

[2016-08-17 11:33] Boosten commented on #440
See this PR https://github.com/driftyco/ionic-native/pull/436

[2016-08-17 11:34] ihadeed commented on #440
Closed by #436

[2016-08-17 11:34] #440 closed

[2016-08-17 11:43] ihadeed commented on #260
@andreafoorlan Just pushed a commit, it will be visible on the next docs update

[2016-08-17 12:02] Boosten opened #448 "Bower version not being updated"
ionic-native-bower is still on version v1.3.10
https://github.com/driftyco/ionic-native-bower/releases

Can we add the scripts/bower.sh to the current build workflow?

[2016-08-17 23:44] Kayrohinc opened #449 "Pls add FileTransfer to ionic native pack"
Hello! Please add http://ngcordova.com/docs/plugins/fileTransfer/ to ionic pack, it will be very usefull for many projects

[2016-08-17 23:54] #449 closed

[2016-08-18 00:30] djonesdev opened #450 "Update CameraPreview to use maintained repository"
Requesting to have CameraPreview updated to use the maintained repository:
https://github.com/westonganger/cordova-plugin-camera-preview

The current repository (https://github.com/cordova-plugin-camera-preview/cordova-plugin-camera-preview) is not being maintained as per the notes on the README.md.

[2016-08-18 03:13] ihadeed commented on #450
I think we have an open issue regarding this.

Not sure if were moving forward with changing the repo since it's not very
clear whether the other repo is stable or not.

If the method names and parameters are the same, you can install the plugin
from the other repo and it should work fine.

On Aug 17, 2016 8:30 PM, "djonesdev" <notifications@github.com> wrote:

[2016-08-18 05:01] ng-mohit commented on #185
still getting the same with 1.3.10 while working with google maps in ionic2

[2016-08-18 06:39] andreafoorlan commented on #260
Thank you :)

[2016-08-18 15:02] mmazloum opened #452 "[Maps Plugin] AnimateCameraOptions - target param"
Hello,

In order to be able to set map bounds on ui, AnimateCameraOptions should be able to handle a GoogleMapsLatLngBounds as well as a GoogleMapsLatLng in its target parameters.

According to cordova maps plugin example this should be possible I guess ?

Inside ionic native this could result in :
`export interface AnimateCameraOptions {
    target?: GoogleMapsLatLng | GoogleMapsLatLngBounds;

[2016-08-18 17:52] josx commented on #403
@ihadeed which is the difference between ionic serve and ionic run browser?

[2016-08-18 21:26] mlynch opened #455 "TODO: Add support for SQLlite 2 plugin"
https://github.com/nolanlawson/cordova-plugin-sqlite-2

[2016-08-19 11:05] #316 closed

[2016-08-19 13:08] #307 closed

[2016-08-19 15:13] ihadeed commented on #100
@mlynch

I just read this in the Cordova Docs: https://cordova.apache.org/docs/en/latest/cordova/events/events.html#deviceready

[2016-08-19 15:46] mmazloum opened #461 "Fitbounds missing on Google Maps API"
Hi,

Google Maps Javascript API has a function called fitbounds(bounds) that takes an array of latitude / longitude coordinates.

This function automaticly adapts the map zoom level depending on the coordinates passed in the bounds parameter.

It seems that it is not implemented in the underlying Cordova plugin, do you think it will be implemented or do I have to compute the zoom level by myself ?

[2016-08-19 16:43] chsakell opened #462 "Can't find PhotoViewer in ionic-native"
The following statement doesn't work cause cannot find <i>PhotoViewer</i>.
[code]
The app is built with **beta 11** version and the _com-sarriaroman-photoviewer_ plugin is installed as well. Ionic-native/dist/plugins has no relative <i>d.ts</i> file. Am i missing something here?

Thanks

[2016-08-19 19:24] juanf9224 commented on #368
This is happening to me too, im  on android, i have the api key right, sha1 fingerprint right, but the map just doesn't load, only this appears:
![7961682608157261056-account_id 1](https://cloud.githubusercontent.com/assets/9439694/17821530/16377ba0-6620-11e6-8c35-31908f6a542a.png)
Apis are enabled, wich by the way were renamed to **"Google Maps Android API"** instead of **"Google Maps Android API

[2016-08-19 21:47] pgg commented on #439
opts variable is declared, but not initialised, so when replaceOrOptions as boolean is passed, the replace property is being set on opts (that does not exist). See line 672 and 675 in https://github.com/driftyco/ionic-native/blob/master/src/plugins/file.ts

[2016-08-19 22:10] eddyng8 commented on #295
Is there a timeline on when this FileOpener2 plugin be added to ionic native?
In the meantime, is there another way of using the plugin without ionic-native?

[2016-08-19 22:30] pgg opened #464 "File write, create, readAsText broken"
File writeFile, createFile replace as boolean value = true does not work. readAsText fails expecting a blob . . . I am trying to write a simple text file (that should be replaced every time) and read its contents back . . .  ionic-native@1.3.16

This is the only way I could get it to work:

Write:
[code]
Read:
`this.http.get(window['cordova'].file.dataDirectory + 'security.json').map(res => res.js

[2016-08-20 03:29] ihadeed commented on #462
Make sure you have latest version of `ionic-native` installed. The one that is included by default with the ionic starter project may be not to date sometimes.

Run `npm i --save ionic-native@latest`

[2016-08-20 06:05] chsakell commented on #462
Fixed. Upgrading to **"ionic-native": "1.3.16"** did the trick indeed.
Thanks a lot @ihadeed

[2016-08-20 06:05] #462 closed

[2016-08-20 23:52] root-io opened #465 "OneSignal plugin does nothing"
It's like the code below does nothing (I tested on a real device). I get the message "We haven't detected any subscribed users yet for this platform" from the OneSignal website when I added my app. I checked multiple times the different ids/api keys seem ok. No error in the console.

[code]

[code]

[code]

[2016-08-21 12:24] ihadeed commented on #295
@eddyng8
No timeline at the moment.

To use without Ionic Native, do the following:
1. Install plugin
2. In every page that you need to call the plugin, add this to the top of the page `declare var cordova: any;`
3. Use the plugin via `cordova.plugins.fileOpener2` variable.

[2016-08-21 14:38] ihadeed commented on #403
@josx
`ionic serve` runs your app as a website (meaning it doesn't have any Cordova capabilities)
`ionic run browser` runs your app in the Cordova browser platform, which will inject `cordova.js` and any plugins that have browser capabilities

[2016-08-21 14:41] ihadeed commented on #465
@Inoverse can you have a look at this if you have some time?

[2016-08-21 16:59] Inoverse commented on #465
@root-io Which Ionic-Native version do you use?

[2016-08-21 18:08] root-io commented on #465
ionic-native 1.3.16

[2016-08-21 20:36] Inoverse commented on #465
Oh okay. I changed the `init` function in 1.3.10 and didn't updated the documentation. PR: [08fe04e](https://github.com/driftyco/ionic-native/commit/08fe04e)
The `init` function no longer needs a callback. It's now an Observable. So you need to change your code:
[code]

I've created a new PR to fix the documentation #467

[2016-08-21 21:00] root-io commented on #465
Awesome, it works now!

[2016-08-21 21:01] #465 closed

[2016-08-21 21:58] rapropos commented on #464
Hopefully [this PR](https://github.com/driftyco/ionic-native/pull/468) will address `writeFile`, but `createFile` doesn't seem to have a similar problem, so I'm not sure what's going on there.

[2016-08-23 01:15] newelement commented on #438
I'm having the same issue with nativeaudio.

Cordova CLI: 6.3.1
Gulp version:  CLI version 3.9.0
Gulp local:   Local version 3.9.1
Ionic Framework Version: 2.0.0-beta.11
Ionic CLI Version: 2.0.0-beta.32
Ionic App Lib Version: 2.0.0-beta.18
ios-deploy version: 1.8.6
ios-sim version: 5.0.4
OS: Mac OS X El Capitan
Node Version: v4.4.2
Xcode version: Xcode 7.3.1 Build version 7D1014

Also see forum po

[2016-08-23 01:22] ihadeed commented on #438
In what sequence did you list the JavaScript files in your index.html?

The correct order is:
- cordova.js
- ionic native
- your app's code

On Aug 16, 2016 10:32 AM, "Jan-Philip Loos" <notifications@github.com>
wrote:

[2016-08-23 01:27] newelement commented on #438
On Ionic 2:

  <script src="cordova.js"></script>

  <script src="build/js/es6-shim.min.js"></script>

  <script src="build/js/Reflect.js"></script>
  <script src="build/js/zone.js"></script>
  <script src="js/snap.svg-min.js"></script>
  <script src="js/web-animations.min.js"></script>

  <script src="build/js/app.bundle.js"></script>

[2016-08-23 01:27] newelement commented on #438
On Ionic 2:

[code]

[2016-08-23 01:41] ihadeed commented on #438
@newelement that response was directed to OP

Do you only get this issue with the native audio plugin? I suggest you first ensure that you have the latest version by running `npm i --save ionic-native@latest`. The native audio plugin was introduced in [v1.3.14](https://github.com/driftyco/ionic-native/releases/tag/v1.3.14).

[2016-08-23 01:43] newelement commented on #438
Yes only the nativeaudio plugin. All others are working fine.

ionic-native 1.3.16

[2016-08-23 01:46] ihadeed commented on #438
@newelement Just fixed it in https://github.com/driftyco/ionic-native/commit/2510c5fd4aacd5d4b088a947d29a8458ad8c8ff7
I'll publish a release in a few minutes.

[2016-08-23 01:46] newelement commented on #438
Everything recognizes the plugin except xcode:

WARN: Native: tried calling NativeAudio.preloadComplex, but the NativeAudio plugin is not installed.
WARN: Install the NativeAudio plugin: 'ionic plugin add cordova-plugin-nativeaudio'

[2016-08-23 01:50] ihadeed commented on #438
@newelement done 🎉

[2016-08-23 01:50] newelement commented on #438
Awesome! thanks a lot.

[2016-08-23 01:50] ihadeed commented on #464
@pgg the PR was merged and is now released, please update to v1.3.17 and let us know if you still have any issues.

[2016-08-23 01:52] newelement commented on #438
All works well.

[2016-08-23 01:55] ihadeed commented on #461
Hey @mmazloum

I had a quick look at the [plugin's docs](https://github.com/mapsplugin/cordova-plugin-googlemaps/wiki) and I couldn't find a function with that name. Ionic Native only provides a wrapper for that plugin.

[2016-08-23 07:46] mmazloum commented on #461
Yes I've seen it is not in the córdova plugin, but it exists in the javascript api.

However I'll try to do it and post the code here ;-) thanks !

[2016-08-23 07:46] #461 closed

[2016-08-23 09:44] sin-bufan opened #469 "zip plugin could not unzip gbk encoded file"
the zip plugin can not unzip file with charset of "gbk", on android platform.
and i tried to use
ZipInputStream zis = new ZipInputStream(inputStream, Charset.forName("GBK"));
to replace
ZipInputStream zis = new ZipInputStream(inputStream);

get compile error.
my java SDK is 1.8,and from 1.7, ZipInputStream did support the second parameter.

[2016-08-23 11:29] dylanvdmerwe opened #470 "Todo: Add directions plugin"
See this simple plugin [here](https://github.com/leecrossley/cordova-plugin-directions).

[2016-08-23 11:41] MaxDaten commented on #438
@ihadeed

Indeed there was the problem. I imported cordova.js at last. Maybe it's worth to note this in the documentation or warn during runtime? I close this issue and report it back into the forum.

Thanks for the help.

[2016-08-23 11:53] ramonsan commented on #439
I am testing the new release with fixes of #468:

[code]

Still returning:

So, I create an empty file before:

[code]

And it works, creates a file and replace it with the content.

Should writeFile create the file if does not exist? Or is this the expected behavior?

[2016-08-23 12:02] pgg commented on #464
Now writeFile with boolean true only works if there is already a file. Also getting strange behaviour with other File operations all round, will test and log them asap, but I suggest an all round File operations sanity check/test . . .

[2016-08-23 12:29] pgg commented on #464
@ihadeed What is the correct way to read a text file? File.readAsText does not work . . .

[2016-08-23 13:32] daveshirman opened #471 "BarcodeScanner plugin options don't appear to work"
I've tried calling the plugin 2 ways to change the text displayed at the bottom:

[code]

and

[code]

Neither works and the plugin fails to load up the scanner.

I get the error:

[code]

Is it me or is it you?

[2016-08-23 17:28] paatrick commented on #438
Hello good afternoon , I have the same problem , I installed some plugins like calendar , datepicker , clipboard.
Also installed npm i ionic -native --save @ latest over the same problem continues. You know tell me how do I resolve this problem. I use ionic2.36 . I await an answer from already thank you very much .

[2016-08-23 17:28] paatrick commented on #438
@ihadeed Hello good afternoon , I have the same problem , I installed some plugins like calendar , datepicker , clipboard.
Also installed npm i ionic -native --save @ latest over the same problem continues. You know tell me how do I resolve this problem. I use ionic2.36 . I await an answer from already thank you very much .

[2016-08-23 18:21] CurtisConway opened #472 "Error with Screen Orientation when building on IOS"
As mentioned on the ionic forums Screen Orientation is behaving perfectly on Android, no complaints there but when I try to build the app on IOS I get a console error beyond my comprehension.

[Error] Unhandled Promise rejection: (7)
consoleError (zone.js:461)
loop1 (zone.js:490)
drainMicroTaskQueue (zone.js:494)
g (es6-shim.min.js:11:1948)
(anonymous function) (es6-shim.min.js:11:1878)
promiseRea

[2016-08-23 20:53] ihadeed commented on #438
@paatrick I would need more information to help you out.

- Version of Ionic Native
- Running on device? what platform?
- Stacktrace / Steps to reproduce / code samples

[2016-08-24 10:01] ramonsan commented on #464
All readAsXXXX still having 'not Blob' error, i.e.:

TypeError: Failed to execute 'readAsDataURL' on 'FileReader': parameter 1 is not of type 'Blob'.

[2016-08-24 14:20] paatrick commented on #438
@ihadeed Good afternoon.
ionic Version: 2.0.0 - beta.37
I'm testing the ionic view.
The pugin is Calendar (cordova-plugin-calendar).
I am using the example of the ionic documentation

Example:

import {Calendar} from 'ionic-native';

Calendar.createCalendar('MyCalendar').then(
  (msg) => { console.log(msg); },
  (err) => { console.log(err); }
);

[2016-08-24 15:06] jgw96 opened #473 "Ionic 2 Beta 11: Ionic Native missing method setAllowIDFACollection(allow)."
_From @chocolei on August 24, 2016 10:34_

http://ionicframework.com/docs/v2/native/google-analytics/

Related to the plugin, I cannot find the GoogleAnalytics.setAllowIDFACollection(bool) method in ionic-native.

_Copied from original issue: driftyco/ionic#7849_

[2016-08-24 15:52] ihadeed commented on #438
@paatrick The Ionic View app doesn't support plugins.

[2016-08-24 16:03] paatrick commented on #438
@ihadeed I visualized here http://docs.ionic.io/docs/view-usage , I tested the camera plugin , and it worked.

[2016-08-24 16:28] paatrick commented on #438
Sorry forgot to specify the versions,

platform android: 5.2.2
cordova: 6.3.1
cordova_calendar_plugin: 4.5.1

[2016-08-24 16:39] ihadeed commented on #438
@paatrick Can you try testing with the command `ionic run android` .. or `ionic run android --livereload`

[2016-08-24 16:41] ihadeed commented on #473
Make sure you're running latest version of Ionic Native. That function along with other missing functions were added in v1.3.15

[2016-08-25 05:52] jamesgroat commented on #471
Options seem to work for me. Are you using iOS? Prompt only works on Android. From the docs:

[2016-08-25 08:16] daveshirman commented on #471
Nope. Android.

On 25 Aug 2016 6:52 a.m., "jamesgroat" <notifications@github.com> wrote:

[2016-08-25 12:16] tomgallagher opened #477 "Ionic 2, Beta 11, Ionic Native SocialSharing missing method 'canShareViaEmail'"
Hi

I'm getting this error message:

`Error: Uncaught (in promise): TypeError: Object function SocialSharing() { } has no method 'canShareViaEmail'`

I have added the plugin, I can see it in the package.json, I have done ionic state save, the code is very simple:

[code]

My package.json looks like this:

[code]

Any ideas? Help would be much appreciated.

Tom

[2016-08-26 12:06] #224 closed

[2016-08-26 12:06] #314 closed

[2016-08-26 12:18] #181 closed

[2016-08-26 13:05] Manduro opened #482 "Add cordova-hot-code-push plugin"
An amazing plugin with similar functionality to Ionic Deploy, except it can be used on your own server.

https://github.com/nordnet/cordova-hot-code-push

[2016-08-26 14:51] tomgallagher commented on #477
Just a quick update:

This code works:

[code]

So it's not a problem with my installation, use of the plugin.

This code doesn't:

[code]

And neither does this:

`SocialSharing.shareWithOptions(options, onSuccess, onError);`

The report I'm getting from the Android device in Chrome Dev Tools for the second and third is of this type:

[code]

So I imagine I'm just getting the syntax wrong or the

[2016-08-26 14:52] ihadeed commented on #477
What version of Ionic Native?

[2016-08-26 14:52] tomgallagher commented on #477
"ionic-native": "^1.3.10",

[2016-08-26 14:53] tomgallagher commented on #477
from package.json

[2016-08-26 15:01] ihadeed commented on #477
That's strange, the method was added in 1.3.8. Try updating to the latest version anyways since you're 7 versions behind. Run `npm i --save ionic-native@latest`

[2016-08-26 15:02] tomgallagher commented on #477
Will do. I'll report back. Syntax for failing two looked OK?

[2016-08-26 15:04] ihadeed commented on #477
Not sure what you mean.

[2016-08-26 15:06] tomgallagher commented on #477
I just mean that you couldn't see any basic errors in the code I've pasted

[2016-08-26 15:08] ihadeed commented on #477
No it looks alright

[2016-08-26 16:08] ihadeed commented on #473
Closing this for now, if you still experiencing issues after updating `ionic-native` please let me know and we can re-open this.

[2016-08-26 16:08] #473 closed

[2016-08-26 16:11] ihadeed commented on #482
We just merged cordova-code-push-plugin by Microsoft in this PR https://github.com/driftyco/ionic-native/pull/420

We can add this too eventually.

[2016-08-26 16:12] ihadeed commented on #472
Hey @CurtisConway

Can you provide the following:
- Code snippet
- Platform information: what device are you running on?
- ionic-native version

[2016-08-26 16:16] ihadeed commented on #470
We have an awesome navigation plugin by EddyVerbruggen already implemented. Checkout http://ionicframework.com/docs/v2/native/launch-navigator/

[2016-08-26 16:17] ihadeed commented on #469
Ionic Native provides only a wrapper to that plugin.

The code you're using doesn't look familiar anyways, please have a look at our documentation for the ionic-native usage of the plugin: http://ionicframework.com/docs/v2/native/zip/

If you have questions that have to do with the native code of the plugin, please contact the developer at their repo https://github.com/MobileChromeApps/cordova-plu

[2016-08-26 16:17] #469 closed

[2016-08-26 16:18] ihadeed commented on #471
@daveshirman what version of ionic native are you using?

[2016-08-26 17:31] ihadeed opened #484 "TODO: Add Request Location Accuracy plugin for Android"
Repo: https://github.com/dpa99c/cordova-plugin-request-location-accuracy

[2016-08-26 17:34] ihadeed opened #485 "TODO: Add SQLite Porter Plugin"
Repo: https://github.com/dpa99c/cordova-sqlite-porter

[2016-08-26 17:34] ihadeed commented on #455
Should we replace the existing SQLite plugin with this?

[2016-08-26 18:12] tomgallagher commented on #477
Ok the updated worked. Thanks for the pointers.

[2016-08-26 21:38] daveshirman commented on #471
@ihadeed Good idea....updated absolutely everything I could and the parameter now works.  Thanks.

[2016-08-26 21:38] #471 closed

[2016-08-27 06:06] #216 closed

[2016-08-27 06:06] #310 closed

[2016-08-27 06:06] #312 closed

[2016-08-27 06:06] #319 closed

[2016-08-27 06:06] #327 closed

[2016-08-27 06:06] #412 closed

[2016-08-27 06:21] #477 closed

[2016-08-27 18:43] #295 closed

[2016-08-27 18:50] #452 closed

[2016-08-27 19:27] ZiFFeL1992 commented on #382
The first piece of code is working on my project, can you provide more info please?

[2016-08-28 00:10] keithdmoore commented on #437
I am seeing the same issue as well

[2016-08-28 07:59] 05bca054 opened #500 "Add direction plugin(Digital Compass)"
Where app user current latitude and longitude and destination latitude longitude(Based on given degrees by google map).

It  proves best for various location base application.

The compass heading in degrees. Please find below link. If digital compass plugin combined with direction given by google maps API(http://www.w3schools.com/googleAPI/ref_getheading.asp) then it will be the great  User Exper

[2016-08-29 13:28] jgw96 opened #504 "no exported member 'SecureStorage'"
_From @endriazizi on August 27, 2016 17:4_

Hello there!

I am using cordova secure storage on my ionic 2 app,

I got this error:

TypeScript error: /Users/endriazizi/Documents/Project/app/app/pages/oauth/oauth.
service.ts(7,10): Error TS2305: Module '"/Users/endriazizi/Documents/Project/app
/node_modules/ionic-native/dist/index"' has no exported member 'SecureStorage'.
TypeScript error: app/app.t

[2016-08-29 13:28] jgw96 commented on #504
_From @devarg on August 28, 2016 20:48_

Hi @endriazizi which version of ionic-native are you using on your package.json? Consider updating to version 1.3.20 that's the latest which includes SecureStorage, previous versions might not have the dependency you are trying to install.

1.  Update ionic-native dependency on your package.json to `"ionic-native": "1.3.20"` and save it
2.  Close VS Code
2.

[2016-08-29 13:31] jgw96 opened #505 "file reader plugin events are not firing"
_From @comfortme on August 27, 2016 16:43_
#### Short description of the problem:

while using file plugin with ionic-native found out that `readAsArrayBuffer(path, file)` promise never resolves!
i did some digging and turns out it's an fixed angular 2 zone issue and here is a detailed closed ionic issue about it. https://github.com/driftyco/ionic/issues/6020
it looks like it's never been fixed fo

[2016-08-29 16:44] endriazizi commented on #504
Hi there, is working!

Thanks a lot!

[2016-08-29 17:27] jgw96 commented on #504
Thanks for using Ionic!

[2016-08-29 17:27] #504 closed

[2016-08-30 07:07] imgx64 opened #507 "Make NativeStorage implement IStorageEngine"
In addition to the functions directly provided by `cordova-plugin-nativestorage`, it would be nice to also have NativeStorage implement `IStorageEngine` so it can be used as an injected `Storage`, similar to Ionic's `LocalStorage` and `SqlStorage`. For example:
[code]

[2016-08-30 13:15] stalniy commented on #505
Currently the only possible workaround is:
[code]

[2016-08-30 15:10] CurtisConway commented on #472
Platform: IPhone 5 running IOS 9.3.4
Ionic Native Version. 1.3.17

My two functions utilising the plugin:

[code]

[code]

[2016-08-30 16:28] CurtisConway commented on #472
Just a quick update. When I first posted this issue I was still running Beta10, I just spent the morning updating to Beta11 aswell as updating to Ionic Native version 1.3.20. The app does work when I initially run it through Xcode now but I try to refresh through the console or restart the app it breaks again, same error. It's also worth noting that the plugin doesn't even work when the app does l

[2016-08-30 18:44] aksharpatel47 opened #510 "Inconsistent placement of Success and Error Callbacks in Cordova Sqlite Storage causing problems"
I'm currently working on a POC ionic 2 app which depends on Cordova Sqlite Storage. I used the Sqlite plugin from ionic-native and opened the database with the following code:

[code]

The problem I faced here was that the transaction always failed and the error in the catch block was always undefined.

This happened only when executing transactions. Also, no matter where the transaction was place

[2016-08-31 02:07] morcth opened #511 "animateCamera on maps does not have callback in ionic native but it does in the original plugin"
Hello,

I am trying to show a marker after the map has finished animating. I read in the cordova plugin today that animate and move camera both have callbacks as does addMarker.

I tried using a promise with animateCamera like I successfully did with addMarker and it did not work.

Looking at the ionic native code for animate camera, it does not have the callback function associated with it like a

[2016-08-31 08:51] sin-bufan commented on #469
thanks for the reply!

[2016-08-31 14:36] jackvial opened #515 "TextToSpeech wrongly named TTS in docs"
http://ionicframework.com/docs/v2/native/tts/

[2016-08-31 14:53] xmellado opened #516 "File plugin createDir function replace parameter"
Hi!
The `replace` parameter in `createDir(path, dirName, replace)` function inside the file plugin is not properly implemented. It should be negated. Currently, when replace is true, if the directory exists, an error is thrown. When replace is false, if the directory exists, it is replaced. The behaviour should be opposite.

It is the same fix applied to the function createFile() in commit https:/

[2016-08-31 21:00] ihadeed commented on #515
just merged a PR that fixes this

[2016-08-31 21:00] #515 closed

[2016-08-31 21:03] ihadeed commented on #507
This would be something to discuss over at the Ionic Framework repo since this would be a framework feature, not an Ionic Native feature.

[2016-08-31 21:03] #507 closed

[2016-09-01 04:54] imgx64 commented on #507
This feature already exists in Ionic 2 (`Storage`, `StorageEngine`, `IStorageEngine`), and it's already implemented by `SqlStorage` and `LocalStorage` (see [here](https://github.com/driftyco/ionic/tree/master/src/platform/storage)).

What I'm asking for is to simply implement it in `NativeStorage`, which is part of Ionic Native.

[2016-09-01 05:30] ihadeed commented on #507
I understand what you're asking for.

Ionic Native provides a wrapper for Cordova plugins. The wrapper emulates
the original plugins' APIs.

In order to make the Native Storage (or other type of storage) compatible
with the Ionic Framework's Storage Engine, we need to write another wrapper
that extends the StorageEngine class. This is something that can not be
part of  Ionic Native, it should be p

[2016-09-01 06:02] imgx64 commented on #507
I see. I looked at the code and realized that ionic-native is a metadata-driven wrapper (using `@Plugin`, etc). I was mistakenly thinking the wrappers were manually written and that they could be modified freely.

I filed an Ionic issue [here](https://github.com/driftyco/ionic/issues/7935).

[2016-09-01 07:18] andreasotto commented on #437
I've run into the same problem. Is just the documentation wrong (there is no second paramater in the documentation!) or is the implementation of that function erroneous? Anyway the current situation does not work.

[2016-09-01 08:48] mhateo opened #518 "socialSharing shareViaEmail returned promise doesn't trigger."
Hello,
I'm using ionic native version 1.3.17 and I'm experiencing some problems in the returned promise of the shareViaEmail method of the socialSharing plugin.

The problem is that neither then nor catch functions are getting called, so I can't know if and when the user has sent an email.

canShareViaEmail and shareWithOptions methods work as expected, but I can't use shareWithOptions because I n

[2016-09-01 08:51] mhateo commented on #518
I tested in android 4.4.4 with both the gmail app and the stock email app.

[2016-09-01 09:38] sonic182 opened #519 "new GoogleMap('id', options) doesn't load options"
Hi I have this issue

[code]

the center position and zoom doesn't get loaded, it shows the default map (no zoom and greenwich meridian centered)

ionic 2, my stack

[code]

[2016-09-01 11:56] sonic182 opened #521 "google maps places"
there is any way to load places library with google maps? there is any plan to make that class too?

[2016-09-01 14:13] ZiFFeL1992 commented on #521
You should ask for support on Google Maps repo, this is just a wrapper...

[2016-09-01 14:17] ZiFFeL1992 commented on #511
You are right: https://github.com/mapsplugin/cordova-plugin-googlemaps/wiki/Map#move-the-camera

[2016-09-01 14:35] morcth commented on #511
Thanks for looking into it!

I realize now I should have pasted that link in there to save you some time.... sorry about that.

I was able to create the effect I want with a 5 second timeout function but it feels a little sloppy to me.

[2016-09-01 18:34] mlynch commented on #165
Yea I think wrappers for ng2 and ng1 can do this to expose it. That way we support it "natively" for the framework without depending on it?

[2016-09-01 18:55] uzumakinaruto123 commented on #406
@ihadeed  I am doing it like this

[code]

still status callback is not working. any working example ?

[2016-09-01 23:20] tomgallagher opened #522 "Ionic 2, Beta 11, Ionic Native InAppBrowser, insert CSS"
Hi Ibrahim

InAppbrowser.ts, line 88:

`insertCss(css: {file?: string, code?: string}): Promise<any> {return; }`

This is a typo? I imagine as the Ionic Native docs notes say insertCSS, this might cause a few headaches.

Also, even when I've changed it and got rid of the insertCSS no method error, I'm still getting a unresolved promise error from this code.

[code]

Any ideas?

Thanks

Tom

[2016-09-01 23:40] tomgallagher commented on #522
FYI - I just caught the error from the promise rejection and it's a TypeError. Not getting any more than that at the moment.

[2016-09-01 23:44] tomgallagher commented on #522
Actually I was half wrong about the docs. In the USAGE bit, it says:

`browser.insertCSS(...);`

But in the INSTANCE MEMBERS below that, it has:

`insertCss(css)`

Hope that helps.

[2016-09-02 15:11] mnasyrov commented on #464
Took a quick look in sources of `File.writeFile()` method under `src/plugins/file.ts`.

It seems like things are messed here:
* specified `WriteOptions` via `replaceOrOptions`parameter is never used because internal `opts` object is constructed only for a case when `replaceOrOptions` is `true`.
* `opts` has `WriteOptions` type, but it is passed to `File.getFile()` which expects `Flags` type.

Hope

[2016-09-03 06:42] DILEEP-YADAV opened #525 "How to add my own custom plugin with ionic v2 app"
Hi! Team,

I have one issue ,  How to add my own custom cordova plugin with ionic v2 app.
would you any one suggest me.

[2016-09-03 14:46] ramonornela commented on #518
I think is fix #520

[2016-09-03 20:40] tkem commented on #408
I tried out native Toast myself for the first time right now, and besides having to subscribe for the Toast to be shown, I think (please correct me if I'm wrong) I also have to unsubscribe *manually* to prevent resource leaks.
I would have assumed the observable to complete automatically when the Toast disappears, but this does not seem to be the case.
However, as soon as I unsubscribe the toast g

[2016-09-04 13:24] JustMeDaFaq commented on #525
Same question here, is it even possible?

[2016-09-04 13:39] JustMeDaFaq commented on #414
@ghenry22  did you made any progress on the android plugin?

[2016-09-04 13:48] giltotherescue opened #528 "npm run build failure on v1.3.20 release"
Tried building myself since the Bower repo is not up to date. Received the following error during compile:

[code]

[2016-09-05 01:43] ghenry22 commented on #414
not yet haven't had time to even start looking at it.

There is an android plugin there, you would just have to write yourself a chromecast provider which will handle the 2 different platforms for each required function and you could use the 2 plugins as is.

[2016-09-05 17:22] JustMeDaFaq commented on #414
@ghenry22
Your forked plugin actually erroring when compiling:
AAPT: No resource found that matches the given name (at 'value' with value '@integer/google_play_services_version').

Thats why i thought it isnt ready yet

[2016-09-05 20:02] zefrench opened #530 "switchtoSettings unavailable in plugin Diagnostic"
It seems the typescript file for the plugin "Diagnostic" is not complete.
The function switchToSettings' does not exist and we get this error:
-error in typescript saying: Property 'switchToSettings' does not exist on type 'typeof Diagnostic'

Did you notice it ?

[2016-09-05 23:44] ramonornela commented on #530
I believe it was resolved in 1.3.18, exists problem with documentation in ionic-site issue https://github.com/driftyco/ionic-site/issues/771 current [documentation](http://ionic-site-staging.herokuapp.com/docs/v2/native)

[2016-09-06 02:06] ramonornela commented on #439
I have doubts about that too, because I follow the same procedure @rapropos can you help us here if you have some time ;).

[2016-09-06 10:29] uzumakinaruto123 commented on #186
@ghenry22  I need to status for looping .  can you help with status callback ?

[code]

this does not work.

I decided to edit media.ts.  but i have definition files  `.d.ts` and not `.ts` .

I have latest ionic-native 1.3.20

Thanks ! Help is appreciated.

[2016-09-06 13:04] sonic182 commented on #521
Well, I wanted to do what [Geocoder](https://github.com/mapsplugin/cordova-plugin-googlemaps/wiki/Geocoder) does on [cordova-plugin-googlemaps](https://github.com/mapsplugin/cordova-plugin-googlemaps)

well I guess I've to close this issue

[2016-09-06 13:04] #521 closed

[2016-09-06 13:09] BioPhoton commented on #325
I'm not able to use the "public properties that are private in docs" im my project.

You should remove @private in the docs. Or is there another way to be able to have autocomplete in my IDE??

[2016-09-06 14:42] ZiFFeL1992 commented on #521
You can use geocoder but works in english and you can't change language (in my case this is a problem).

BTW the perfect combination is to use both, Google Places and Geocoder, but from cordova-plugin-googlemaps you can only use geocoder.

[2016-09-06 15:16] remcohaszing opened #531 "Allow disabling of warnings"
I'm using `ionic-native` in a project which may run in Cordova, but also in the browser. When running in the browser, this shows annoying warnings. Additionally I've configured tests to fail whenever a warning is logged.

It would be great if these warnings could be disabled. For example by using something such as:

[code]

[2016-09-06 16:39] JustMeDaFaq commented on #414
Is actually anyone able to get this one to work?
https://github.com/ghenry22/cordova-chromecast

Cant get the PlayServices to be linked correctly.

Or does someone know any other solution?

[2016-09-06 17:16] ayyfish commented on #414
@JustMeDaFaq I've been using the ConnectSDK plugin and it works fine. I've only tested on iOS though

[2016-09-06 17:25] JustMeDaFaq commented on #414
@ayyfish  did you may got an example project?
It compiles fine - but detects no devices.

[2016-09-06 17:37] ayyfish commented on #414
@JustMeDaFaq Are you sure the devices you are trying to connect to are on the same network as your test device/computer

[2016-09-06 17:43] JustMeDaFaq commented on #414
@ayyfish
Yeah, actually porting one of my hobby projects from xamarin to ionic2.
My Xamarin App finds my Chromecast and Fire Stick without any issues.

Could be that im doing something realy stupid

[2016-09-06 19:08] Barryrowe opened #533 "Geolocation.watchPosition stops emitting on single error"
Plugin: Geolocation (cordova-plugin-geolocation)

Issue:
The way that the error callback is bound in the Geolocation.watchPosition method prevents the observable from mimicking the Geolocation API.

When using the native events:
[code]
The watch does not stop emitting successes when an error occurs.

With the ```observer.error``` being bound to the error callback of the geolocation API, the return

[2016-09-06 19:10] Barryrowe commented on #533
In the meantime, this can be worked around by editing your ```node_modules/ionic-native/dist/plugins/geolocation.js``` changing line 63 to match:

[code]

[2016-09-06 19:17] zefrench commented on #530
Sorry, but it does not appears even with this ionic-native version.

[2016-09-06 23:29] ramonornela commented on #530
See https://github.com/driftyco/ionic-native/blob/9c8321d3b4c6f2bd22662e312a13064aceb8171b/src/plugins/diagnostic.ts#L336

[2016-09-06 23:34] ihadeed commented on #530
Hey Alex,

Can you run `npm i --save ionic-native@latest`

That will update your ionic native to the latest version and it should fix
the problem.

On Sep 5, 2016 4:02 PM, "Alex" <notifications@github.com> wrote:

[2016-09-06 23:45] ihadeed commented on #525
Hey there,

Yes you can add your custom plugin to Ionic 2.

Since Ionic 2 uses TypeScript (by default) you might encounter some errors
while using a custom plugin.

What you need to do is add a line at the top of the page to declare the
variable that you are using. For example, if the plugin is called via
`cordova.plugins.camera` .. You need to add this line the top of your .ts
page to avoid error

[2016-09-06 23:50] ihadeed commented on #531
Are you using ionic 1? You can edit the JavaScript file, search  `console.`
and remove them manually. This will do the job for now.

On Sep 6, 2016 11:16 AM, "Remco Haszing" <notifications@github.com> wrote:

[2016-09-07 01:58] ihadeed commented on #533
PR merged and will be published in v1.3.21 soon

[2016-09-07 01:58] #533 closed

[2016-09-07 01:58] #530 closed

[2016-09-07 02:00] ihadeed commented on #528
Problem is fixed now, minor ts-lint errors.

[2016-09-07 02:00] #528 closed

[2016-09-07 02:00] #525 closed

[2016-09-07 02:09] ihadeed commented on #522
Hey there,

The original plugin's API only has one callback for success that gets called if the CSS was inserted successfully. So the promise will never reject unless if an error occurred inside the Ionic Native code.

If you can give me more information related to the error that would be great.

[2016-09-07 02:17] ihadeed commented on #519
I think this would be an issue with:
- the data you're passing to the plugin
- bug with the plugin itself

Ionic Native isn't doing anything that can cause this kind of issue.

I suggest trying to move the map by using the `moveCamera(position)` method. See my example here: https://gist.github.com/ihadeed/9e6cb11eb3ab3efc8ccf3a08ced90bf7

[2016-09-07 02:17] #519 closed

[2016-09-07 02:23] ihadeed commented on #518
Fixed in https://github.com/driftyco/ionic-native/commit/c76de34b9718144a76ee48919bb94bda956a1902 and will be available in the next release `1.3.21`

[2016-09-07 02:23] #518 closed

[2016-09-07 02:24] ihadeed commented on #516
thanks

[2016-09-07 02:24] #516 closed

[2016-09-07 02:29] #511 closed

[2016-09-07 02:29] ihadeed commented on #511
thanks @morcth @ZiFFeL1992

[2016-09-07 02:55] ghenry22 commented on #414
regarding the android chromecast fork it builds fine for me with latest android platform.  Just ran a test project, I have only done minimal testing and merged in a few changes from other forks to the android plugin so I can't gaurantee anything about it.

The ios plugin for chromecast works well though.

re: connectsdk - an ionic native wrapper for this would certainly make it easier to interact

[2016-09-07 02:58] ghenry22 commented on #186
@ihadeed - I remember we didn't have status events working with the first implementation with observables but I have no idea why status events weren't being sent/received.  Perhaps you could take a quick look at the code around the status events now that ionic-native has moved along so much it might be something really obvious.

[2016-09-07 03:03] ihadeed commented on #186
Just pushed a commit that will be available in the next release, should fix the issue, if not please open a new issue and let me know.

[2016-09-07 03:23] #363 closed

[2016-09-07 03:24] ihadeed commented on #382
thanks I just updated the docs

[2016-09-07 03:24] #382 closed

[2016-09-07 03:47] morcth commented on #511
@ihadeed Thanks!

Noob question: How do I update my project to use the new file? I tried npm update but it stayed at 1.3.1.

Do I make the changes to the files in node-modules myself or is there some command I can run?

Thanks

[2016-09-07 03:48] ihadeed commented on #511
I usually use `npm i --save ionic-native@latest` and it does the job. @morcth

[2016-09-07 04:12] morcth commented on #511
That did it! Thanks again for the work you are doing.

[2016-09-07 12:24] zefrench commented on #530
Thanks Ihadeed !
It works !!

[2016-09-08 06:49] dylanvdmerwe commented on #470
Ah that's awesome. Closing issue.

[2016-09-08 06:49] #470 closed

[2016-09-08 13:31] JustMeDaFaq commented on #414
@ghenry22  Could be that you also having old playservices installed? Folder structure changed thats why the forked one doesnt work.

But yeah, an example of connect sdk or the forked one would be realy great. To ensure im not doing something very stupid currently...

[2016-09-08 16:53] vknabel commented on #505
I have had this issue, too. After updating from 1.3.17 to 1.3.21 everything worked again.

[2016-09-08 20:22] dwieeb opened #535 "Module Size (let's modularize/tree shake)"
Ionic Native is one big module. I can't add Device code from Ionic Native without getting YouTube Video Player code. I saw in one project that it added ~1.5mb to an unminified bundle.

Let's fix this!

We have two options: _modularize_ into super tiny modules **or** use _tree shaking_

### Modularization

For modularization we'd need to publish a bunch of npm packages.

- `@ionic/native-core` - co

[2016-09-08 20:31] mlynch commented on #535
Awesome. I definitely vote Tree Shaking, I think modularization is going to cause way more friction than it's worth.

So, can we target two module formats with tsconfig and output to separate directory?

[2016-09-08 21:02] markisadesignerd opened #537 ".."

[2016-09-08 21:02] #537 closed

[2016-09-08 21:52] mlynch commented on #535
I've got some initial changes in this branch: https://github.com/driftyco/ionic-native/pull/538

I'm having trouble getting TS to find the rxjs/Observables. To test, run `npm run build:esm`

[2016-09-09 02:46] dwieeb commented on #535
Nice, that's how I was going to recommend multiple TS outputs.

Can it not find rxjs because the module type is no longer commonjs?

Try adding `"moduleResolution": "node",`

[2016-09-09 12:14] tomgallagher commented on #522
Hi Ibrahim

I'm developing on Cloud9 so I have no access to an emulator and cannot
directly connect to a device.

I'm having to download the apk and then debug using Chrome Dev Tools.

As a result, the error messages and stack traces are very limited: I've
given you all I can get.

Sorry.

Tom

  _____

From: Ibrahim Hadeed [mailto:notifications@github.com]
Sent: 07 September 2016 03:10
To: drifty

[2016-09-09 12:44] davidefavia commented on #222
Thank you @dkobia, same problem here upgrading `ionic-native` from version `1.2.4` to `1.3.21`, I resolved it manually importing all the needed operators as you suggested.
Here below my `ionic info` result for reference:

[code]

[2016-09-09 14:41] mlynch commented on #535
@dwieeb you dog! That did it 👍 Forgot that

[2016-09-09 14:51] mlynch commented on #535
Landed in 7f77b8f06944a887c4b6e33593fdf5ef7fcfb3f4. Can you give it a try?

[2016-09-09 14:51] #535 closed

[2016-09-09 15:00] tkem opened #539 "Please add BLE.startScanWithOptions() support"
This is curiously missing from the `BLE` plugin:

https://github.com/don/cordova-plugin-ble-central#startscanwithoptions

[2016-09-09 17:38] andycaramba opened #540 "Error in Success callbackId: AppVersion1509618001 : TypeError: Cannot read property 'get' of undefined"
Hi. I have subject error.  I use ionic-native with ionic framework version 1.

ionic cli version 2.0.0
cordova cli version 6.3.1

Angular app initialises by this js code:

[code]

In package.json:

[code]

Cordova plugins:

[code]

Debug screenshot:
<img width="1440" alt="screen-2016-09-09 22062016 10" src="https://cloud.githubusercontent.com/assets/229699/18396271/3cbed38c-76dc-11e6-8597-f73291cc

[2016-09-09 17:53] andycaramba commented on #540
This error occurs in ionic-native v1.3.21. If I downgrade to version 1.3.20 error is gone.

[2016-09-10 14:30] nunoarruda opened #541 "Login not working / Update Google Sign-In iOS SDK to the latest version?"
I followed Ionic's Google OAuth tutorial from the [Google OAuth Changes](http://blog.ionic.io/google-oauth-changes/) blog post but when I tap the "Login" button nothing happens, I don't even get errors in the console.

![login_issue](https://cloud.githubusercontent.com/assets/1189149/18411250/4b16d8e4-7763-11e6-8eaa-603c50421532.gif)

I've opened the project in Xcode and when I click the login but

[2016-09-10 15:28] sadi304 opened #542 "Can't import Shake"
Errors come up while trying to import Shake from native .

Has no exported member Shake

[2016-09-10 15:59] sadi304 commented on #542
closed the issue. Its getting the class again . Don't know what happened.

[2016-09-10 15:59] #542 closed

[2016-09-12 04:52] sd5869 opened #543 "import {File Opener} from 'ionic-native' not working"
![image](https://cloud.githubusercontent.com/assets/8257951/18424926/3a5e0dfe-78d2-11e6-9686-ae84f541c2d8.png)
![image](https://cloud.githubusercontent.com/assets/8257951/18424955/955f2d1e-78d2-11e6-8bd2-caaafe921673.png)

to reproduce the issue try to import FileOpener in a blank project.

[2016-09-12 07:40] mhateo commented on #518
Resolved by passing empty arrays in optional params.

[2016-09-12 10:01] ihadeed commented on #543
Update to `ionic-native@1.3.21`

[2016-09-12 10:01] #543 closed

[2016-09-12 12:39] RTK opened #544 "$cordovaGeolocation issue"
Hi,

i get the following error (with stacktrace) using the newest version (1.3.21):

angular.js:13920 TypeError: Cannot read property 'get' of undefined
    at getPromise (app.js:13234)
    at wrapPromise (app.js:13251)
    at Function.<anonymous> (app.js:13382)
    at Function.value [as getCurrentPosition] (app.js:13433)

when calling
`
$cordovaGeolocation
            .getCurrentPosition({

[2016-09-12 18:23] cambronjay commented on #544
You need to import the  ionic native plugin and use it instead.

[2016-09-13 00:26] aggarwalankush opened #545 "CallNumber not working if passed number instead of string"
`    CallNumber.callNumber('4083868925', false);`  - this works
`    CallNumber.callNumber(4083868925, false);`  -  this fails

As mentioned in `call-number.d.ts`, numberToCall is expected in number format but it fails on real device. Passing numberToCall in string format works.

[code]

Also, behind the scenes, ionic-native uses `https://github.com/Rohfosho/CordovaCallNumberPlugin `which also exp

[2016-09-13 07:19] VietAnhh opened #546 "pluginObj._objectInstance is causing problems"
I'm having trouble figuring out why it's saying this.

`TypeError: undefined is not an object (evaluating 'pluginObj._objectInstance')`

Can anyone help me out on what exactly is causing this?

I'm using sqlite and this error shows up on xcode

[2016-09-13 09:03] RTK commented on #544
But why does it work with version 1.3.10 ? It thought on angular 1 it falls back to the ngCordova module which works as an angular module and allows me to inject this service into my controller

[2016-09-13 09:29] danielgek opened #547 "Issue with typepings for googlemaps"
Hello, today i was using googlemaps plugin and i was trying to move camera using `GoogleMapsLatLngBounds` as target, because i want the camera to zoom accordingly with the array of points i have set, but as i'm using typescript, the current typings only accept `GoogleMapsLatLng`.

changing the typing from this:

[code]
export interface CameraPosition {
    target?: GoogleMapsLatLng | GoogleMapsLat

[2016-09-13 09:43] ihadeed commented on #544
Does it work with v1.3.20?

[2016-09-13 10:17] #547 closed

[2016-09-13 10:17] ihadeed commented on #547
thanks

[2016-09-13 10:18] ihadeed commented on #546
Would need more details.

- Code that causes this issue
- Plugin that you're trying to use
- platform you're testing on

[2016-09-13 10:21] ihadeed commented on #541
Yes that would be something to do with the plugin and not the Ionic Native wrapper. Try updating to latest version of the plugin and if that doesn't help, open an issue at their repo.

[2016-09-13 10:21] #541 closed

[2016-09-13 10:25] VietAnhh commented on #546
@ihadeed I switched over to SqlStorage just because of the massive headache trying to figure out that bug T.T sorry but thanks for the response though! I would of provided the code just in case anyone else had the problem but I erased my whole service to start fresh with sqlstorage.

[2016-09-13 10:28] danielgek commented on #547
wow that was fast !! thanks you

[2016-09-13 17:15] candelibas commented on #545
+1

[2016-09-14 01:33] giltotherescue opened #548 "showAppSettings() missing from BackgroundLocation plugin"
According to the cordova plugin's docs there should be a function called showAppSettings():

https://github.com/mauron85/cordova-plugin-background-geolocation#showappsettings

However this function does not in the ionic-native plugin: http://ionicframework.com/docs/v2/native/backgroundgeolocation/

[2016-09-14 11:32] danielgek commented on #547
@ihadeed you should add `GoogleMapsLatLng[]` too, sorry for not mention early! i just noticed in the [documentation](https://github.com/mapsplugin/cordova-plugin-googlemaps/wiki/Map.animateCamera()) and i don't have sure but `animateCamera` may need it too.

thanks

[2016-09-14 14:44] prantikv opened #549 "TODO: Themeable In App Browser"
I recently found myself using the "Themeable In App Browser"

here is the [github link](https://github.com/initialxy/cordova-plugin-themeablebrowser)

The plugin adds a lot of features over the inappbrowers plugin. The best one is the ablity to customize the browser header bar which provides consistent UI.

Would love to see that added to the Ionic-native code base.

ISSUES:
The themeablebrowser p

[2016-09-14 15:16] arielgelbard commented on #298
has this issue been fixed? It appears CardosoGit solution was never merged...

[2016-09-14 16:00] ihadeed commented on #546
Hey

Can you share the code that you are using? Also what platform are you
running on?

On Sep 13, 2016 3:20 AM, "Viet Le" <notifications@github.com> wrote:

[2016-09-15 07:45] bvx89 opened #550 "Discrepancy between JSDoc and source in camera.ts"
There is a discrepancy between the jsdoc and source code of the camera.ts with the `cleanup()`-method for the return type.

**JSDoc**:
`@return Returns a Promise`

**Source code**:
Empty (aka. `void`)

This needs to be updated in the source code if the cleanup actually returns a promise.

[2016-09-15 11:20] BioPhoton opened #551 "$cordovaNetwork/Network onDisconnect is not working"
Here's my code:

[code]

onConnect is working well but i never get an onDisconnect message.

[2016-09-15 15:59] jgw96 opened #552 "File api is incomplete (e.g. getFreeDiskSpace, writeFile) and docs is incomplete (e.g. readAstext)"
_From @dragGH102 on September 14, 2016 15:34_

I'm using Ionic 2 latest beta (37) and trying to work with files (**File** plugin @ ionic-native).

Some methods (readDire, writeDir, ...) work normally.
However others are either **missing** (not implemented as per also in the Typescript definitions), for example:

- getFreeDiskSpace
- writeFile

or lacking a **proper documentation**. For example...

[2016-09-16 08:05] jakjoud opened #553 "Using Cordova-HTTP native plugin in ionic 2"
Hi,
Is there a way to use Cordova-HTTP native plugin in ionic 2 instead of http object. Since Apple doesn't accept apps that doesn't provide IPV6 only connections.
I have found this plugin https://github.com/wymsee/cordova-HTTP  but I am not able to use it in ionic 2 / Typescript

Best regards

[2016-09-16 09:47] dylanvdmerwe opened #554 "Geolocation error condition missing"
Not sure if missing from [docs](http://ionicframework.com/docs/v2/native/geolocation/) or plugin.

[code]

[2016-09-16 12:29] keithdmoore commented on #553
You could use XHRBackend to provide an Http implementation using cordova-http

[2016-09-16 14:39] jgw96 opened #555 "OneSignal not found in ionic-native module"
_From @basvdijk on September 16, 2016 13:9_

#### Short description of the problem:

When I follow the tutorial on http://ionicframework.com/docs/v2/native/onesignal/ the line: `http://ionicframework.com/docs/v2/native/onesignal/`

Gives an error:

`src/node_modules/ionic-native/dist/index"' has no exported member 'OneSignal'.`

I stumbled on this page https://forum.ionicframework.com/t/ionic-2-na

[2016-09-16 14:39] jgw96 commented on #555
_From @danielehrhardt on September 16, 2016 13:39_

Do you run `ionic plugin add onesignal-cordova-plugin` before you import OneSignal?
and use (the subscribe is missing in the docs):
[code]

[2016-09-16 14:39] jgw96 commented on #555
_From @basvdijk on September 16, 2016 13:41_

@danielehrhardt yes I did, also tried `cordova plugin add onesignal-cordova-plugin`

[2016-09-17 21:03] aljibbs opened #556 "VideoPlayer - ionic-native has no exported member"
I have created an app with ionic 2 and when I tried using the VideoPlayer plugin from ionic-native, I got an error that there is no exported member like that. I looked into the node_modules of the app, looked into the ionic-native folder's plugins' folder and realized it was different from the one hosted here. There are certain plugins like the videoplayer that are not in the ionic-native plugins

[2016-09-19 14:03] arielgelbard commented on #298
@mmazloum

[2016-09-19 18:20] bokgeek commented on #412
This import is not working in Ionic2 beta11. _**Ionic-native/dist/index has no exported member 'NFC'**_

`import {NFC, Ndef} from 'ionic-native';`

If I open and look for 'nfc' into _Ionic-native/dist/index.js_ & _index.d.ts_, there is no reference to it.
I neither can find any plugin related to NFC into _node_modules/ionic-native/dist/plugins_ directory.

I'm trying to work with the example from

[2016-09-19 18:26] mhartington commented on #412
@bokgeek did you update the installed package of ionic-native? Check your package.json, please make sure you have the most recent version.

[2016-09-19 22:06] ihadeed commented on #556
Make sure you're using the latest version of `ionic-native`. Check your package.json. To update just run `npm i --save ionic-native@latest`.

[2016-09-19 22:06] #556 closed

[2016-09-19 22:07] ihadeed commented on #555
@danielehrhardt

Make sure you're using the latest version of `ionic-native`. Check your package.json. To update just run `npm i --save ionic-native@latest`.

If you're still experiencing issues then we can re-open this and investigate further.

[2016-09-19 22:07] #555 closed

[2016-09-19 22:08] ihadeed commented on #554
It's just missing from the docs.

You can add `.catch()` or add another function (as a second parameter) inside the `.then()`

[2016-09-19 22:08] #554 closed

[2016-09-19 22:10] ihadeed commented on #553
Yes you can use that plugin.

Add `declare var cordovaHTTP: any` to the top of the page that you need to use the plugin in, and just follow their documentation for usage.

Make sure to provide fallbacks in case the plugin isn't found or if you are running on a browser. These are things that Ionic Native handles for you automatically but it won't be able to handle it for you this time since you're

[2016-09-19 22:13] ihadeed commented on #551
Try using the following code instead and let me know if it works or not:

[code]

[2016-09-19 22:14] #550 closed

[2016-09-19 22:15] ihadeed commented on #550
Thanks. The function does return a promise. Fixed it now.

[2016-09-19 22:16] ihadeed commented on #549
Great plugin, we will add it soon.

[2016-09-19 22:18] #548 closed

[2016-09-19 22:19] ihadeed commented on #548
Thanks for pointing it out.. It's added now and will be available in the next release.

[2016-09-19 22:19] #546 closed

[2016-09-19 22:20] #545 closed

[2016-09-19 22:21] ihadeed commented on #545
thanks for pointing it out, it's fixed now and the fix will be available in the next release

[2016-09-19 22:21] ihadeed commented on #544
@RTK we did some modifications to the ng1 support in 1.3.21 and I suspect that it might be causing the issue. Which is why I'm asking if it works with 1.3.20

[2016-09-19 22:22] #531 closed

[2016-09-19 22:23] BioPhoton commented on #551
This will work for shur. But it is not the $cordovaNetwork module.

My current solution uses the "vanilla" cordova binding.

[code]

What i would like to have is something like this:

this.$cordovaNetwork.onDisconnect()
      .map((value) => { return true })
      .subscribe(
//onNext
          (isOnline) => {
            this.isOnline = isOnline;
            this.$scope.$apply();
          },

[2016-09-19 22:23] #450 closed

[2016-09-19 22:25] ihadeed commented on #414
Just checking in here, I see there's a long conversation going on.

Do you need any help? Is someone working on adding this?
Is the plugin good to be added? or does it have some problems?

[2016-09-19 22:27] ihadeed commented on #408
@mlynch so do you think we should just use promises because it makes more sense and eliminate the feature to notify the user when the toast is tapped?

Not sure how that feature is beneficial anyways.

[2016-09-19 22:31] ihadeed commented on #437
Sorry about that. The method `on` doesn't actually exist in the plugin's API. Not sure if it was a mistake when the wrapper was written or the developer has changed the API.

I will edit the wrapper soon to implement the correct methods.

[2016-09-19 22:40] keithdmoore commented on #408
How about '.first().subscribe()' ?

[2016-09-20 00:12] giltotherescue commented on #548
Thank you 👍

[2016-09-20 01:15] mlynch commented on #448
Thanks will get on this 👍🏼🤓

[2016-09-20 04:15] NgYueHong opened #558 "EstimoteBeacons no longer maintained"
This is to report to you that EstimoteBeacons (http://ionicframework.com/docs/v2/native/estimotebeacons/) is now no longer maintained. So, I guess it's best to have it removed and adding others to bring eddystone support to ionic.

[2016-09-20 05:39] aggarwalankush opened #559 "missing property"
`NotificationEventAdditionalData` is missing `coldstart` property

https://github.com/driftyco/ionic-native/blob/master/src/plugins/push.ts

[2016-09-20 09:31] NoNameProvided opened #560 "Getting pluginWarns messages when plugin is called before platform is ready"
When I launching the app I call `Splashscreen.hide();` in different places. One flow can be so fast that `platform.ready()` is not fired yet. When this happens I got a plugin warning message:

[code]

Of course this happens because it was called before the device ready event but I think calls to Ionic Native plugins should wait for the device ready event and fire the call after it. So we don't hav

[2016-09-20 12:13] aljibbs commented on #556
I run the npm code you gave and yes, now the plugin is part of the modules but there is still a problem, the videoplayer plugin was not exported in the index.d.ts file. I did it myself to make the compiler happy though and now I could reference it from my page but after all that my video file still does not play. There are some plugins that are still not exported like the videostream plugin.

[2016-09-20 12:51] RTK commented on #544
It works in 1.3.20

[2016-09-20 13:06] JustMeDaFaq commented on #414
@ihadeed  actually got it working. Works fawleslly for me, using connectsdk 1.6.

Heres an example code:

`    testConnectSDK(){
        navigator['ConnectSDK'].discoveryManager.pickDevice().success(function (device) {
        function sendVideo () {
            device.getMediaPlayer().playMedia("http://media.w3.org/2010/05/sintel/trailer.mp4", "video/mp4");
        }

        if (device.isReady()

[2016-09-20 13:49] deep113 opened #562 "TODO: Add Custom Config Parameters plugin for better security"
This plugin allows you to store your sensitive data such as passwords, usernames etc. in config.xml. This is stored by creating custom parameters in config.xml. In the runtime, these parameters can be read from config.xml and used in javascript code. This really helps in creating next level of security for cordova based apps.

https://github.com/experiencecommerce/cordova-plugin-customconfigparame

[2016-09-20 18:18] bokgeek commented on #412
Thanks a lot @mhartington, that was the issue.
I can't even read a label but that's another story... I keep trying.

[2016-09-20 18:38] jgw96 opened #563 "VideoPlayer plugin missing from ionic-native modules"
_From @aljibbs on September 19, 2016 11:30_

Cannot import VideoPlayer from the native library (ionic-native) even after downloading the plugin via the ionic 2 docs page. Error says there is no exported member. I have tried lots of solutions online but it just didn't work. I also realized that the plugin is not in the ionic-native modules folder. Is there a problem or is there a special way to get

[2016-09-21 06:35] todamach opened #564 "WebIntent bug"
I'm trying to open .apk using webintent plugin on Ionic2 typescript project. I'm using Ionic native.

official webintent docs shows this example:

[code]

options takes 3 parameters: action, url and type.

When I try to use it in project it only accepts two: action and url.

[code]

If i use it like that it tries to open apk as pdf file and fails. If i add 3rd parameter it says, that it only accep

[2016-09-21 11:34] BioPhoton commented on #551
Hi @ihadeed.
To be more specific i want to merge the offline and online stream.

[code]

I tried to understand the code of ionic native. It looks like the wrappers are compiled automatically or so.
Where is the wrapper function for the Network.onConnect function? Its not really clear for me how this code gets generated.

@ihadeed am i right that i cant use the Network plugin to merge the online an

[2016-09-21 15:32] anand-parmar opened #565 "PhotoViewer plugin missing from ionic-native modules"
Cannot import PhotoViewer from the native library (ionic-native) even after downloading the plugin via the ionic 2 docs page. Error says  has no exported member 'PhotoViewer'. I have tried lots of solutions online but it just didn't work. I also realized that the plugin is not in the ionic-native modules folder. Is there a problem or is there a special way to get it to work ?

[2016-09-21 16:01] mlynch commented on #448
Just pushed the latest release to bower and will look into adding this to our release process

[2016-09-21 16:02] #448 closed

[2016-09-21 16:02] mlynch commented on #448
Cool, we now have `npm run publish` which will publish to npm and bower. cc @ihadeed

[2016-09-21 16:21] Boosten commented on #448
Great @mlynch! I could have done that by myself actually 😳

[2016-09-21 16:51] ihadeed commented on #565
Update to latest version of ionic-native

On Sep 21, 2016 11:32 AM, "Anand Parmar" <notifications@github.com> wrote:

[2016-09-21 19:33] ikarus-balsero opened #566 "Bluetooth Low Energy"
Hello,

First, you guys are doing an amazing job!

I have a question and an issue,

question:
Why for bluetooth low energy you guys decided to use cordova-plugin-ble-central and not cordova-plugin-bluetoothle ( https://github.com/randdusing/cordova-plugin-bluetoothle ) ?
I have been developing for a long time using ionic 1 applications that require BLE communications and my personal opinion is tha

[2016-09-21 20:08] mlynch commented on #566
Hey @ikarus-balsero, I just pushed some changes to support ES2015 modules along with our commonjs modules. This change was partially to support the next release of Ionic 2 that is going out shortly.

Can you share the issue you are seeing when you try to import from ionic-native?

Also, as for supporting the other BLE plugin, we'd love a PR that adds support for it, then we can let the community d

[2016-09-21 20:24] bschellekens commented on #327
Hi All,

I'm just reading this comment, but I would be fond of this integration!

[2016-09-21 20:38] dlemphers opened #567 "ionic-native@1.3.24 is throwing TypeScript errors"
![image](https://cloud.githubusercontent.com/assets/1016114/18728120/69464780-8011-11e6-8fcc-5f645e719705.png)

[2016-09-21 23:15] ihadeed commented on #327
The plugin was already added awhile ago.

On Sep 21, 2016 4:24 PM, "bschellekens" <notifications@github.com> wrote:

[2016-09-22 06:23] anand-parmar commented on #565
thank you

[2016-09-22 06:23] #565 closed

[2016-09-22 07:28] cmaart commented on #567
Yep, can confirm

[2016-09-22 08:46] lukeisontheroad commented on #567
Same here

[2016-09-22 14:39] ezekjh commented on #567
Yup, having the same issue. Had to go back a version..

[2016-09-22 14:41] nachofregeiro commented on #567
I'm experiencing the same issue.

[2016-09-22 14:43] ferminmoli commented on #567
The same is happening here!

[2016-09-22 15:54] jgw96 opened #568 "Ionic native Email Composer not working in Android 5 & 6"
_From @PabloFNK on September 22, 2016 15:47_

The Cordova plugin used by Ionic Native as Email Composer is not working. We have tested it using Android 5 and Android 6 and none of them worked.

The plugin hasn't been updated since 2 years ago so it is not going to be fixed.

We have finally moved to use directly another cordova plugin ([https://github.com/hypery2k/cordova-email-plugin], which is a

[2016-09-22 17:04] ikarus-balsero commented on #566
Hi @mlynch,

I figured out my problem. I will describe it, just in case someone else is having the same issue.

The ionic-native version currently (09/22/2016) inside an ionic2 project is 1.3.10, and the ionic-native repo is 1.3.24 (09/22/2016). Following the Ionic Native Developer Guide the folder "dist" generated when "npm run build" is executed, it cannot replace the ones inside the current ion

[2016-09-22 17:25] FdezRomero commented on #567
Also getting broken builds... I'm not going to complain, but something should be done to avoid breaking the package on ionic-native@latest 😭

[2016-09-22 17:35] mhartington commented on #567
thanks for letting us know. We'll be looking into.

Please refrain from adding "same here"

[2016-09-22 17:44] mhartington commented on #567
@dlemphers  is this an ionic 1 project or ionic 2? Also, what's your installed typescript version?

[code]

[2016-09-22 17:47] mlynch commented on #567
I wonder if this is related to moving from typescript 1.8.10 to 2.0.2 https://github.com/driftyco/ionic-native/commit/7f77b8f06944a887c4b6e33593fdf5ef7fcfb3f4

[2016-09-22 17:51] mlynch commented on #567
Hey all, please check your typescript version and update to 2.0.x if you haven't. We recently moved so the declaration files now require 2.0. In the meantime we'll check for a better backwards compat solution

[2016-09-22 18:00] mlynch commented on #567
Okay, I'm reverting my changes that used typescript 2.0, going to publish a fixed 1.3.25, then will publish a 2.0.0 with typescript 2.0. Stand by

[2016-09-22 18:13] mlynch commented on #567
Okay, fix landed. Can you all try 1.3.25?

[2016-09-22 18:24] nachofregeiro commented on #567
I updated to 1.3.25 and still having the same issue.

[2016-09-22 18:24] FdezRomero commented on #567
Hi Max, I installed 1.3.25 and the previous errors are gone but got a new one. It seems that something might be missing in the export:

[code]

Thanks for checking this and sorry Mike if I disturbed you before, it wasn't my intention.

[2016-09-22 18:27] mlynch commented on #567
@nachofregeiro are you seeing the exact issue or are you seeing what @FdezRomero sees? Also try nuking your ionic-native node modules dir first

[2016-09-22 18:28] nachofregeiro commented on #567
Same as him: Error TS2307: Cannot find module 'ionic-native'.

Latest version working for me is 1.3.21.

[2016-09-22 18:28] mlynch commented on #567
Thanks. So a different issue :D

Are you guys testing in an Ionic app? If so, what version?

[2016-09-22 18:30] FdezRomero commented on #567
[code]

[2016-09-22 18:31] nachofregeiro commented on #567
Cordova CLI: 6.2.0
Gulp version:  CLI version 1.2.1
Gulp local:   Local version 3.9.1
Ionic Framework Version: 2.0.0-beta.11
Ionic CLI Version: 2.1.0-beta.1
Ionic App Lib Version: 2.1.0-beta.0
OS:
Node Version: v5.12.0

[2016-09-22 18:37] mlynch commented on #567
thanks, I think I see the issue here, pushing a fix now

[2016-09-22 18:41] mlynch commented on #567
Okay, I _think_ it's fixed now. can you try 1.3.26?

[2016-09-22 18:42] nachofregeiro commented on #567
1.3.27 is working! Awesome job! Thanks for helping us.

[2016-09-22 18:49] mlynch commented on #567
![image](https://cloud.githubusercontent.com/assets/11214/18761633/5622436a-80cb-11e6-842e-695abb46eaf7.png)

[2016-09-22 18:49] mlynch commented on #567
![giphy 2](https://cloud.githubusercontent.com/assets/11214/18761648/69d92342-80cb-11e6-9918-27ac6e86315b.gif)

[2016-09-22 20:10] #567 closed

[2016-09-23 00:49] olostan opened #569 "Can't build bundle with ionic 2 - not exported members"
When building with ionic 2 (2.1.0-beta2) I am getting this error:
[code]
I am using
[code]
ionic-native version 1.3.20

[2016-09-23 01:10] olostan commented on #569
`npm i --save ionic-native@latest` helped.

[2016-09-23 01:10] #569 closed

[2016-09-23 01:30] mlynch commented on #566
There may have been a separate issue that I fixed today, try the newest 1.3.x release (1.3.27) to see that. Going to close for now, looking forward to your PR!

[2016-09-23 01:30] #566 closed

[2016-09-23 01:32] mlynch commented on #568
@PabloFNK is the API the same? i.e. if we just update the plugin we tell people to install, will it Just Work?

[2016-09-23 01:35] #563 closed

[2016-09-23 01:35] mlynch commented on #563
Should be fixed, @aljibbs can you try the latest version in master?

[2016-09-23 01:37] #564 closed

[2016-09-23 01:37] mlynch commented on #564
Thanks @todamach, just added type as an optional param to the master branch

[2016-09-23 01:39] mlynch commented on #562
I don't think this is true, it's easy to inspect a bundled APK or IPA file and find config.xml to read passwords. You should never store sensitive API keys or passwords on the client, except in the keychain if you must. There they are protected by device level encryption but even then you should keep secrets on the server.

[2016-09-23 01:39] #562 closed

[2016-09-23 01:40] mlynch commented on #560
Thanks, I think it would be cool to have all calls Just Work, but in the meantime we can tweak the error message.

[2016-09-23 01:43] #559 closed

[2016-09-23 01:44] mlynch commented on #559
Thanks! Landed in master

[2016-09-23 01:44] mlynch commented on #558
Is there a better plugin we can support instead?

[2016-09-23 09:41] PabloFNK commented on #568
Yes, the API provided is the same.

[2016-09-23 13:34] JustMeDaFaq opened #570 "Cant compile app after upgrading ionic-native"
Hi,
ive upgraded by using:

npm i --save ionic-native@latest

Now im getting following errors:

TypeScript error: C:/new/n/node_modules/ionic-native/dist/es5/plugins/apprate.d.ts(46,32): Error TS1005: ';' expected.
TypeScript error: C:/new/n/node_modules/ionic-native/dist/es5/plugins/contacts.d.ts(36,14): Error TS1005: '=' expected.
TypeScript error: C:/new/n/node_modules/ionic-native/dist/es5/plu

[2016-09-23 13:58] mlynch commented on #570
You got it working? For others: if you're using typescript < 2.0, use 1.3.27, otherwise you can use the 2.0.x release of ionic-native

[2016-09-23 13:59] mlynch commented on #544
@RTK how are you bootstrapping your Angular app?

[2016-09-23 15:50] JustMeDaFaq commented on #570
Yeah, ive actually just used 1.3.27, fixed it for me. DIdnt know it came from using typescript < 2.0. Thanks :)

[2016-09-23 15:50] #570 closed

[2016-09-23 17:44] Bouzmine opened #571 "Feature request : Taptic Engine plugin"
I'd like this plugin for Taptic Engine feedback on iPhone 6S and 7 to be added. https://github.com/EddyVerbruggen/cordova-plugin-taptic-engine

[2016-09-23 19:49] chsakell opened #572 "Network onConnect / onDisconnect event don't fire"
[Network](http://ionicframework.com/docs/v2/native/network/) native plugin events seem to stop firing. [This](https://github.com/chsakell/ionic2-angular2-firebase/blob/master/app/app.ts#L57-L84) code used to work but not anymore.

Any suggestions?

Thanks

[2016-09-23 19:51] mlynch commented on #572
Thanks, duplicate of #551

[2016-09-23 19:51] #572 closed

[2016-09-23 19:52] mlynch commented on #551
Hmm, I wonder if this is related to moving to a new rxjs import. Also the fact that this uses `eventObservable` might be where this issue is happening.

[2016-09-23 20:25] BioPhoton commented on #551
Hy Max, nice that you took this one.
For my shame I was not able to find the real Code of the Network thing.
I would investigate in this if someone could show me where this Code is.

I reacently finished a big Projekt with ionic and rx. Pretty awesome to work with rx. 😀

Would love to investigate in this bug...

[2016-09-23 20:28] arielgelbard opened #573 "google maps setPadding not working"
google maps setPadding function is not working

Tried setPadding on a cordova project and it works no problem...

I am on ionic 2 beta 11

[2016-09-23 22:08] deep113 commented on #562
i have used all the things but i dont get it.
it is available in encrypted format

[2016-09-24 06:04] ghenry22 commented on #552
Actually getfreediskapace is implemented in the native code but has no JavaScript interface in the plugin itself, been this way forever, you can run a Cordova.exec command to access the native function, this could be implemented in the ionic native wrapper I guess

[2016-09-24 14:20] ramonornela commented on #563
@mlynch but it was not exported in line 148

[2016-09-24 19:10] ramonornela opened #577 "Update Changelog"
After 1.3.21 changelog it is not more updated.

[2016-09-24 20:26] mlynch commented on #577
Thanks will get on that and also need to make this part of the publish process

[2016-09-24 21:01] mlynch commented on #568
Thanks, I added the new plugin, mind trying?

[2016-09-24 21:01] #568 closed

[2016-09-24 21:24] mlynch commented on #551
No worries, taking a look now. Was able to reproduce...

[2016-09-24 21:28] mlynch commented on #551
Actually, I wasn't able to reproduce this. This works fine for me in the most recent release:

[code]

Am I missing something?

[2016-09-24 21:34] mlynch commented on #551
Also the object that this returns is a real observable:

https://github.com/driftyco/ionic-native/blob/master/src/plugins/plugin.ts#L227

[2016-09-24 21:34] #551 closed

[2016-09-24 21:51] mlynch commented on #572
Can you try the most recently release? I tested this and it worked fine on my end, couldn't repro

[2016-09-24 21:52] mlynch commented on #551
One thing...you're using ES6 arrow functions which aren't universally supported. Not sure if you're transpiling, but that would certainly keep this from working on, say, iOS

[2016-09-24 22:00] ramonornela commented on #573
Can provider more info of problem?

[2016-09-24 22:11] arielgelbard commented on #573
@ramonornela I call ```map.setPadding(0,0,200,0)``` and it executes and does not set the padding like the google sdk is suppose to do.

[2016-09-24 22:26] #437 closed

[2016-09-24 22:27] mlynch commented on #437
Just added the new methods to this plugin along with a new `@CordovaFunctionOverride` decorator that handles situations where the plugin author expects developers to override a function in the plugin, like `BackgroundMode.onactivate = function() {}`. Instead, the plugin wraps that in an observable and handles it for you.

[2016-09-24 22:28] mlynch commented on #540
Hmm, I'm guessing this is due to the custom bootstrap you're running. It's not straightforward to get the angular1 injector() unless you stick to the standard ng-app. Let me see if I can add another way of grabbing it...

[2016-09-24 22:44] mlynch commented on #577
Done, thanks

[2016-09-24 22:44] #577 closed

[2016-09-24 23:52] ramonornela commented on #577
Thanks ;)

[2016-09-25 15:12] whitty69 commented on #437
stupid beginner question... how do I get the fix into my app?

[2016-09-25 15:52] ramonornela commented on #437
Problem that the version 2.0.3 is compatible with typescript 2.0 and ionic-angular 2.0.0-beta11 is not, only in beta.12 which will be launched soon.

[2016-09-25 16:22] whitty69 commented on #437
ok, thanks for that :-) I'll just need to be patient!

[2016-09-25 16:23] SylvainGuittard opened #579 "Google Maps: addTileOverlay is not working"
# Steps to reproduce:
- Create an app with native google maps plugin.
- Add the following code
[code]
src: https://github.com/mapsplugin/cordova-plugin-googlemaps/wiki/TileOverlay

# Error
Error message during build:
``` Error TS2345: Argument of type '{ tileUrlFormat: string; }' is not assignable to parameter of type 'GoogleMapsTileOverlayOptions'. Object literal may only specify known properties

[2016-09-25 19:23] ihadeed commented on #100
@mlynch I'll leave it up to you to add this feature (merge PR) or leave it out.

[2016-09-25 19:30] ihadeed commented on #579
Sorry about that, there was a typo in the interface. Just pushed a commit that fixes this and it will be available in the next release.

https://github.com/driftyco/ionic-native/commit/f36b1c03cbaed2ddc71d4cbd02d55959d2267258

[2016-09-25 19:30] #579 closed

[2016-09-25 19:53] ihadeed commented on #558
@NgYueHong is suggesting adding support to this plugin here (made by the same developer): https://github.com/evothings/cordova-eddystone

I just read the note that the `estimotebeacons` developer left in the README file. It says to use the `iBeacon` plugin, which we already have a wrapper for in ionic-native.

I think there is no harm in leaving the Estimote Plugin for now, in case anyone is using

[2016-09-25 20:10] ramonornela commented on #573
What the version ionic-native?

[2016-09-25 20:54] Bouzmine commented on #571
@mlynch Could you add the unofficial API to the plugin?

[2016-09-25 20:58] ihadeed commented on #573
I doubt this is an issue with Ionic Native. It's probably just another conflict caused by Ionic Framework or could be a zoning issue. Try wrapping your `setPadding()` call with `ngZone.run()`.

[2016-09-25 21:24] mlynch opened #582 "Document or add getPlugin()"
Should be possible to fallback to calling plugin directly, with our helper magic. Note to self mainly

[2016-09-25 21:27] ihadeed commented on #582
As in a method that is injected automatically by the `@Plugin()` decorator that returns `pluginRef` ?

[2016-09-25 21:28] mlynch commented on #582
Yea, I want to avoid people having to call the plugin directly on their own (to verify an issue, for example), and be able to still use the ionic-native class since we're not always 100% up to date w plugin changes

[2016-09-25 21:30] ihadeed commented on #582
Would be cool if the method is available in every class automagically ... so the user wouldn't have to figure out what the `pluginRef` is .. They can just call `Camera.getPlugin().getPicture(...)` for example.

[2016-09-25 21:31] ihadeed commented on #84
@mlynch do you guys already have code for this in the ionic framework repo? or should I write it from scratch?

[2016-09-25 21:31] mlynch commented on #582
Yep, exactly. Will be a nice "escape hatch"

[2016-09-25 21:37] arielgelbard commented on #573
@ramonornela the latest version

@ihadeed I tried `ngZone.run()` like this:
[code]
and is still not working for me...to confirm this, I tried `this.map.setClickable(false)` and it successfully executes no problem in `ngZone.run()`.

[2016-09-25 21:38] ihadeed commented on #362
Can you try this again using the latest version of `ionic-native` ?

[2016-09-25 21:55] #549 closed

[2016-09-25 22:07] ihadeed commented on #472
You should wrap the method call with `this.platform.ready().then(() => { ... });`

[2016-09-25 22:28] #484 closed

[2016-09-25 22:36] #539 closed

[2016-09-25 22:36] ihadeed commented on #539
Fixed and will be available in the next release

[2016-09-25 22:39] ihadeed commented on #500
I'm not sure what are you asking for here. Is there a specific plugin that you're requesting to be added? If so, please provide the repository link so we can have a look.

I can't find anything that's called "digital compass plugin" on Google.  Also, the link you provided no longer exists.

[2016-09-25 23:00] #582 closed

[2016-09-25 23:06] ihadeed commented on #84
Just had a look at https://github.com/driftyco/ionic-native/blob/master/scripts/docs/typescript-package/processors/readTypeScriptModules.spec.js#L69-L132

Seems like the processor can already read interfaces. It just needs to be rendered in the template.

[2016-09-25 23:08] ramonornela commented on #84
@ihadeed Adjust template https://github.com/driftyco/ionic-native/blob/master/scripts/docs/templates/common.template.html maybe need processor

[2016-09-25 23:14] ihadeed commented on #84
@ramonornela seems like the `typescript-package` folder contains processors that can parse interfaces, but I don't see them being imported anywhere in the process of doc generation.

I will look into it more tonight and see how this could be done.

[2016-09-25 23:17] ramonornela commented on #84
Ionic Native usage
[code]
Typescript Package available in 0.12.

[2016-09-25 23:25] ramonornela commented on #84
Problem too para Ionic see [LoadingController LoadingOptions](http://ionic-site-staging.herokuapp.com/docs/v2/api/components/loading/LoadingController/).

[2016-09-25 23:25] mlynch commented on #582
Pretty simple, figured adding the plugin check wouldn't be appropriate here as that could be annoying. Instead, they can call `checkInstall()` for a check w/ full error report.

[2016-09-25 23:41] mlynch opened #585 "Idea: visual debugging aids"
One thing that might be helpful is a "debug" mode where calls to plugins that aren't installed can trigger alerts, along with ways to mock data or "run" an app and control it (think a side menu with plugins to access to send to the app running inside this app)

[2016-09-25 23:44] ramonornela commented on #84
I think that dgeni Ionic can be created a project separated and use npm as well [ionic-app-scripts](https://github.com/driftyco/ionic-app-scripts)

[2016-09-25 23:52] ramonornela opened #586 "Create ISSUE_TEMPLATE github"
Create template to facilitate open issue, try to ease discussion in comments

[2016-09-26 00:56] ramonornela commented on #84
In [dgeni-config](https://github.com/driftyco/ionic-native/blob/master/scripts/docs/dgeni-config.js) register processor

[2016-09-26 02:14] ihadeed commented on #585
So you're thinking of disabling the current console logs unless debug mode
is enabled?

We could call a function before bootstrapping the app. Just like how we
call enableProdMode() in angular 2. Maybe we can even intercept the
enableProdMode() call somehow to save some time for Ionic 2 users.

As for the side menu idea, are you thinking to inject a side menu in any
app? Or to create a demo applic

[2016-09-26 02:19] ihadeed commented on #84
@ramonornela yeah I saw that page in the framework's docs. They're typing the docs manually for the interfaces. But the interfaces are written in a different file, maybe that's why.

In our case it should be easier to automatically document them since everything is one page.

[2016-09-26 03:12] ramonornela commented on #84
I think that @see resolve
[code]

[2016-09-26 05:58] tkem commented on #539
Thanks a lot!

[2016-09-26 06:28] ihadeed commented on #84
Yeah you're right they're registered in dgeni-config .. https://github.com/driftyco/ionic-native/blob/master/scripts/docs/dgeni-config.js#L4

---

I just looked into the code and figured out how (almost) everything works. Looks like dgeni opens up `index.ts` as a module and parses it's exports. It doesn't care if there are multiple classes/interfaces in a file, they still get separate files genera

[2016-09-26 13:14] johnpapa opened #590 "SQLite + ionic-native + Ionic 1"
I'm trying to get SQLite working through an Ionic 1 app. I installed ngCordova and it works ... but when I use ionic-native the `SQLite` object comes back as a function that returns undefined. Has anyone been able to get this combination to work?

cc // @walkingriver @mlynch

[2016-09-26 13:43] Yimiprod opened #591 "1.3.27 InAppBrowser typescript definition breaking."
Hi

After updating from 1.3.20 to 1.3.27, i stumbled upon a problem, the definition of the class `InAppBrowser` has changed, now when i do:
[code]
It say i shouldn't have passer thoses three parameters and instead i should only do:
[code]
But it's not how it's supposed to work.

Ionic informations:
[code]

I don't know what version of typescript i'm currently using (`tsc -v` saying i haven't insta

[2016-09-26 13:51] johnpapa commented on #590
Here is what I get when I inject and try to use `$cordovaSQLite`

![image](https://cloud.githubusercontent.com/assets/1202528/18836603/bd5b5b2e-83ce-11e6-86fb-b5db74933ace.png)

[2016-09-26 14:11] mlynch commented on #590
Hey John, `$cordovaSQLite` is a constructor with our plugin, so you'll want to call `new` on it first. Sounds like we got this figured out and we could be more clear about how this works.

I'm also going to review whether we need this to be a constructor. Will file a separate issue.

[2016-09-26 14:11] #590 closed

[2016-09-26 14:11] mlynch opened #592 "SQLite: review constructor"
Right now the SQLite plugin requires you to call `new` on it before you use it. I don't think this should be required: https://github.com/litehelpers/Cordova-sqlite-storage

[2016-09-26 14:15] johnpapa commented on #590
Thanks @mlynch for the help

OK … so if i have this right …

1. use ionic to add the plugin
[code]

2. add `ionic-native` either through bower or npm (both are the same, right?)

3. Add `ionic-native` as a module dependency

[code]

4. Inject the service

[code]

5. use the new API after `$ionicPlatform.ready`

[code]

[2016-09-26 14:29] ihadeed commented on #592
Yeah you're right...

`openDatabase` should be a static function that creates a new `SQLite` object and sets it's `_objectInstance` value. It will resolve an instance of `SQLite` on success, or reject with the error if failed.

[code]

[2016-09-26 14:35] mlynch commented on #592
Why does it need to be instance based?

[2016-09-26 14:45] ihadeed commented on #592
@mlynch to eliminate the need to use callbacks. Some methods have callbacks in them and if we don't make it instance based we wouldn't be able to replace those callbacks with promises.

[2016-09-26 14:54] owlcode commented on #567
After upgrading to 2.0.3 I'm still having this issue
`Cordova CLI: 6.3.0
Ionic Framework Version: 2.0.0-beta.11
Ionic CLI Version: 2.0.0-beta.35
Ionic App Lib Version: 2.0.0-beta.19
ios-deploy version: 1.8.6
ios-sim version: 5.0.8
OS: Mac OS X El Capitan
Node Version: v6.3.1
Xcode version: Xcode 8.0 Build version 8A218a

tsc -v
Version 2.0.0`

[2016-09-26 15:07] nachofregeiro commented on #567
If you are using ionic-gulp-browserify-typescript, you may be still using tsify 0.14.8 and typescript 1.8.10 even if you globally installed typescript 2.0.

[2016-09-26 15:16] owlcode commented on #567
I reinstalled these packages (npm remove & npm install) and it still doesn't work. In my package.json I have

[code]

[2016-09-26 15:18] nachofregeiro commented on #567
Do npm list and check this:

[code]

[2016-09-26 15:27] mlynch commented on #567
Currently that script uses an old version of typescript. We're going to be rolling out beta.12 this week with some other changes and that supports TS 2.0

[2016-09-26 15:28] owlcode commented on #567
Ok, thank you 👍

[2016-09-26 17:01] PabloFNK commented on #568
Hi guys,

how can we get the version with the change from npm as this is not in any stable version?

[2016-09-26 18:28] rob3c commented on #408
`.first().subscribe()` or `.take(1).subscribe()` would work, but you can always do `.toPromise()` on the Observable to get a single value and not worry about unsubscribing, since it auto-unsubscribe afterwards.

I agree the tapping feature doesn't seem useful except maybe to dismiss it early, although tapping an actual button on a toast can be handy.

The overloading of the show and click events i

[2016-09-27 00:58] ghenry22 commented on #552
This is all that is required and it could be implemented in the ionic-native wrapper for the getFreeDiskSpace call.  The platform detection is to adjust the returned result to be in a consistent format on both android and ios.

[code]

[2016-09-27 01:02] ghenry22 commented on #414
if connectSDK 1.6 is working well then it would definitely make a great addition to ionic native.  An ionic native wrapper for this with some basic examples and docs would open up airplay and chromecast functionality with a much lower learning curve to cordova developers.  This functionality really isn't there at the moment.

You could seperately add my chromecast specific plugin for ios if you wi

[2016-09-27 05:34] anand-parmar opened #593 "Typescript error in ionic-native 2.0.3"
**CLI version**
[code]
**ionic-native version**
`2.0.3`

**Typescript Version**
`Version 2.0.2`

**Error**
[code]

[2016-09-27 08:19] ramonornela commented on #593
Ionic2 beta.11 not compatible with typescript 2.0 wait beta.12, because ionic-native >= 2.0 is compatible with typescript 2

[2016-09-27 12:36] adubovsky opened #594 "File#checkFile missed feature."
Today I have tried to upgrade `ionic-native` to the latest 1.x version (now we are using `1.3.2`) and found out that `File#checkFile` method does not provide `Entry` of existing file anymore, just `true` or `FileError`.

For our case we need to check if file exist and if yes -> get its native url. I can't find a way to do this now because e.g. `File#resolveLocalFilesystemUrl` method is private...

[2016-09-27 14:36] danielgek opened #595 "Documentation for BackgroundGeolocation"
Hi, i think the BackgroundGeolocation documentation is outdated or the typing are incorrect in the documentation  of the plugin, the author describes the usage like this:

[code]
and the [ionic-native documentation](http://ionicframework.com/docs/v2/native/backgroundgeolocation/) is written accordingly

but the typings do not meet the documentation:

[code]
my current implementation is:
[code]

i

[2016-09-27 15:32] #593 closed

[2016-09-27 20:21] arielgelbard commented on #573
@ramonornela @ihadeed , have you tried setPadding and is working with an ionic 2 / ionic-native project?

[2016-09-28 18:28] ihadeed opened #601 "TODO: ContentSync - Download & Cache Remotely Hosted Content"
Reference: https://github.com/phonegap/phonegap-plugin-contentsync

[2016-09-28 20:40] vlados opened #602 "[2.0.0-rc.0] - Cannot use native plugins"
After migrating to 2.0 RC0 I am unable to use native plugins.
Example https://github.com/driftyco/ionic/issues/8261

[2016-09-28 20:46] vlados commented on #601
Why not use http://ionicframework.com/docs/v2/native/codepush/?

[2016-09-28 21:55] ihadeed commented on #601
CodePush is like Ionic Deploy, used to push code updates to your users. ContentSync is different, it lets you download files from a server and cache them for later use. Like how SoundCloud caches the audio, or how SnapChat caches all the pictures and videos.

[2016-09-28 21:56] ihadeed commented on #602
I'll look into this soon, just finished upgrading an app to rc0. Will test the native plugins in a bit.

[2016-09-29 00:34] ihadeed commented on #602
I think this issue is related to https://github.com/driftyco/ionic-native/issues/560

I'm having the same problem as you when the app starts up, but when I try to use plugins later on they work fine. But that's still strange because I wrap everything with `platform.ready()`...

Will investigate further and let you know if I find a solution.

[2016-09-29 11:23] vlados commented on #602
Are you able to use native plugins ?
How did you integrated it?  Can you post simple code?

[2016-09-29 12:52] mlynch commented on #602
@vlados try creating a new project w rc0 using ionic CLI to see a plugin or two being used

[2016-09-29 15:39] richardshergold opened #604 "RC.0 sqlite plugin doesn't work"
This plugin doesn't seem to work for me - I followed the docs here

http://ionicframework.com/docs/v2/native/sqlite/

but I get the error

"sqlitePlugin is not defined"

[2016-09-29 15:45] richardshergold commented on #558
At the Ionic UK meetup last night we had a talk from Aaron Czichon and he said he was working on adding support to Ionic Native for Estimote Beacons in the "next few weeks"

[2016-09-29 20:41] richardshergold commented on #604
Just been told this does work so I will try again in the morning and report back.

[2016-09-29 21:06] mlynch commented on #604
Hmm, this should work, did you install the plugin? https://github.com/litehelpers/Cordova-sqlite-storage

[2016-09-29 21:14] richardshergold commented on #604
Yeah I did.  I will try again in the morning and let you know if it works.

[2016-09-30 07:08] richardshergold commented on #604
@mlynch closing this because I was being an eeejot!  Working fine....  (sorry!)

[2016-09-30 07:08] #604 closed

[2016-09-30 07:35] danielgek commented on #602
tried and it says the plugin is not installed, even in a fresh project, but googlemaps plugin works, i use a few more and none of them works

[2016-09-30 08:26] kyleap opened #605 "Error storing item, plugin_not_installed"
ionic cli version : 2.1.0
"ionic-native": "^2.0.3"
"ionic-angular": "^2.0.0-rc.0",
Plugin Name : http://ionicframework.com/docs/v2/native/nativestorage/
Platform : ios
when run with commend : [npm run ios -l -c] got errors

0     742222   warn     Native: tried calling t.setItem, but the t plugin is not installed.
1     742223   warn     Install the t plugin: 'ionic plugin add cordova-plugin-nativ

[2016-09-30 11:30] vlados commented on #602
@mlynch Yes, I've tried and some of the Plugins are working, some of them returns data wrapped in __zone_value key ... something is not right

[2016-09-30 13:27] doender commented on #602
I am having the same issue

[2016-09-30 13:56] Andalarian opened #606 "Ionic2 Phonegap's plugin barcode scanner parameters"
I saw in the Phonegab barcode scanner plugin documentation tha tI can set some parameters for the plugin but in the Ionic one i saw nothing.
Is-it possible to set parameters ?
I've tried to do it like in the phonegap's documentation, but keep getting a "Supplied parameters do not match any signature of call target" error so i guess you can't to it like that.

Thank's in advance.

Phonegap's docume

[2016-09-30 15:19] uditguru commented on #573
Hey , I've also tried various workarounds but its noy working for me as well , please help with this if anyone can

[2016-09-30 17:40] jgw96 commented on #602
Hello @vlados and @doender which plugins are you all having issues with specifically?

[2016-09-30 18:02] doender commented on #602
With 'diagnostic', it's the first one I tried.

[2016-09-30 18:05] ihadeed commented on #602
@doender can you share your code (that part where you're calling the plugin) and any error messages / stack traces?

I'm using the diagnostic plugin without any issues.

[2016-09-30 18:06] ihadeed commented on #606
Can you share the code that you're trying to use?

[2016-09-30 18:08] ihadeed commented on #605
From the stack trace you provided it looks like you tried to use the plugin before `deviceready` has fired. Can you wrap your method calls with `platform.ready()` and let me know if that works?

[2016-09-30 18:13] ihadeed commented on #595
I just had a look. Looks like the `configure` function doesn't return back a promise. Instead, it takes success and error callbacks like the original plugin does.

I'm not sure why it's setup that way, it should have `@Cordova({ callbackOrder: 'reverse' })` instead of `@Cordova({sync: true})` and return back a promise instead.

[2016-09-30 18:16] chsakell commented on #572
Works fine @mlynch . I had to migrate ionic 2 to RC.0 before trying it.

Thanks again.

[2016-09-30 18:18] ihadeed commented on #591
@Yimiprod the first parameter (url) is the only required one, the other 2 are optional.

Can you share the error message that you're getting along with usage information?

This plugin is working fine with me, running latest version of Ionic Native.

[2016-09-30 18:22] ihadeed commented on #571
@mlynch what do you think about adding a new parameter for the `@Cordova` decorator: `customRef`.. so we can do something like:

[code]

[2016-09-30 18:25] ihadeed commented on #522
Hey I just tried using `insertCSS` and it worked. Maybe the remote the URL you're using isn't white listed? or perhaps it could be some CORS issues?

[2016-09-30 18:38] tomgallagher commented on #522
Hey there,

I  just sidestepped it in the end by using the execute script to add the css. There's no real magic in the insertCSS routine so I don't feel like I'm missing much.

As a sidenote, I've been developing quite heavily with the InAppBrowser over the last three weeks. Some things I've found, which you may or may not know:

1) Do not use the InAppBrowser with WKWebView on IOS, it's like jump

[2016-10-01 00:48] kyleap commented on #605
It's work! thanks!

[2016-10-01 00:48] #605 closed

[2016-10-01 02:50] ramonornela commented on #573
@uditguru Tomorrow I will try look at it 😉

[2016-10-01 04:34] prantikv opened #608 "TODO: Firebase Plugin for Analytics"
Would love to see the cordova-plugin-firebase  [here](https://www.npmjs.com/package/cordova-plugin-firebase)

The plugin is primarily used for Firebase Analytics and Remote Config.

There are other plugins for Firebase Realtime database [here ](https://www.npmjs.com/package/cordova-plugin-firebase-realtime-database)and Firebase Auth [here](https://www.npmjs.com/package/cordova-plugin-firebase-auth

[2016-10-01 14:42] anand-parmar opened #609 "Getting square blank image in notification in Ionic 2"
Image in notification works in ionic 1. But when i use in Ionic 2  Getting square blank image in notification.

**I have tried**

`ionic plugin add de.appplant.cordova.plugin.local-notification`

saved image in `platforms\android\res\drawable\sample.png`

Here is code

[code]
**CLI version**
[code]

[2016-10-01 17:45] trangnt58 opened #610 "[2.0.3] MediaPlugin doesn't work"
I checked MediaPlugin with ionic-native 1.3.10 and it worked. But with v 2.0.3, it doesn't work. Please check again.

[2016-10-01 17:57] ihadeed commented on #610
What is the error that you're getting?

[2016-10-01 18:03] trangnt58 commented on #610
I have installed cordova plugin media, ionic-native v2.0.3
[code]
but it doesn't work.
And when I try with old project with ionic-native v1.3.10. It works. Please help me

[2016-10-01 18:08] trangnt58 commented on #610
It doesn't show error. But it seems `new MediaPlugin` doesn't create

[2016-10-01 18:15] ihadeed commented on #610
What version of TypeScript are you using?

[2016-10-01 18:20] trangnt58 commented on #610
It has version 2.0.3

[2016-10-01 18:58] ihadeed commented on #610
Ok I figured the issue out, it's a mistake with my last commit to the media plugin.

I will fix it soon, in the meanwhile, you can call `file.status.subscribe(()=>{});` before you attempt to play it.

[2016-10-01 19:12] ihadeed commented on #610
Fixed in https://github.com/driftyco/ionic-native/commit/58a99a14d50b7de24d7236e2fd2006004d87976f and will be available in the next release

[2016-10-01 19:22] ihadeed commented on #609
Please refer to this page for instructions on using the icon property:
https://github.com/katzer/cordova-plugin-local-notifications/wiki/10.-URIs

[2016-10-01 19:23] trangnt58 commented on #610
@ihadeed  thank you so much

[2016-10-02 03:51] anand-parmar commented on #609
I found solution on [https://github.com/katzer/cordova-plugin-local-notifications/issues/966#issuecomment-248515131](https://github.com/katzer/cordova-plugin-local-notifications/issues/966#issuecomment-248515131)

[2016-10-02 03:51] #609 closed

[2016-10-02 04:35] ihadeed commented on #609
@anand-parmar thanks for sharing the solution!

[2016-10-02 07:01] lufias opened #615 "2.0 RC 0 Inconsistent way to import plugin"
Im not sure if this actually expected. Most of the plugin can directly be imported into the component using import {Plugin} from 'ionic-native'. But for Device plugin, it needs to be imported into the module providers list in app.module.ts before being DI injected into the component.

Still, neither platform or uuid return anything although the property is there

[2016-10-02 09:57] ramonornela commented on #573
@uditguru I'm traveling many problems Internet since yesterday, I'll try later.

[2016-10-02 12:16] Inoverse commented on #558
Didn't expected that the plugin is no longer maintained. I will have a look at the plugin and the Estimote SDK in the upcoming weeks. I'll try to maintain it and extend it with the new Estimote SDK. If this is successful, I'll also create the Native plugin.

[2016-10-02 13:07] junaidahmed93 opened #616 "Google Map (cordova-plugin-googlemaps) Overlapping on Side Menu"
Hello Everyone,

I am using cordova-plugin-googlemaps with ionic side menu. Map loading and working fine , Side Menu also opens fine but when i click on item in menus, that click hit on google map (zoom in) instead of navigate to menu items. Map page is overlapping on Side Menu.

I also Tried with `map.setClickable(true|false);` but nothing happens

Here is My Code

`
import { Component } from '@a

[2016-10-02 17:06] mlynch commented on #615
None of the plugins are injectable so I don't think that's right, as they aren't using any Angular 2 features, it's just a vanilla TypeScript project.. You import from ionic-native. Happy to take a look at your code sample to see what's going on.

[2016-10-02 17:06] #615 closed

[2016-10-02 17:30] mlynch commented on #602
I need specific plugins in order to assess this. I just tested a bunch and they work great:

[code]

[2016-10-02 22:17] ihadeed commented on #616
This is a problem with (1) the plugin itself (visit their repo for help), or (2) the Ionic Framework (you can get help on forums).

[2016-10-02 22:17] #616 closed

[2016-10-02 23:08] ihadeed opened #617 "Fix PayPal wrapper"
`declare class` should become `declare var` and `interface` instead.

Reference of the issue: https://forum.ionicframework.com/t/paypal-cordova-plugin/55578/25

[2016-10-02 23:08] #362 closed

[2016-10-02 23:13] ihadeed opened #618 "TODO: add cordova-safe plugin - Encrypt/Decrypt any file"
https://github.com/disusered/cordova-safe

[2016-10-03 01:02] jgw96 opened #619 "Device plugin not working since 2.0.0-rc.0"
_From @allnightlong on October 1, 2016 8:27_

I've got such a code in one of my service:
`this.deviceId = Device.device.uuid ? Device.device.uuid : ('test-device-' + Date.now());`

In prod env deviceId is actual uuid of the device with fallback in dev environment .
Running with ionic 2.0.0-beta.11 working as expected.
Since upgrading to 2.0.0-rc.0 deviceId is always test-device-timestamp even on r

[2016-10-03 01:02] jgw96 commented on #619
_From @manucorporat on October 1, 2016 10:48_

Can you remove the /node_modules, /platforms and /plugin folders? and create them from scratch?
[code]

[2016-10-03 01:02] jgw96 commented on #619
_From @allnightlong on October 2, 2016 6:13_

Actually, I was building with
`ionic package build android`

But after trying your suggestion, I've got very interesting situation:
After run:
`ionic run android`
situation is the same - `Device.device.uuid` is `false`.

I've tried to debug (livereload + console):
`ionic run android -lc`
And now it's working :confused:, e.g. `Device.device.uuid` is my

[2016-10-03 01:03] jgw96 opened #620 "Use Legacy Swift Language Version (SWIFT_VERSION)"
_From @emcniece on September 30, 2016 23:18_

#### Short description of the problem:

IOS builds are failing with the recent update to XCode 8 - "(SWIFT_VERSION) is required to be configured correctly..."

#### What behavior are you expecting?

Successful compilations. Setting the `SWIFT_VERSION=2.3` variable in the environment doesn't affect the build process.

**Steps to reproduce:**
1. Upgrade

[2016-10-03 01:08] mlynch commented on #619
Interesting, looks like possibly an issue with the package service? Going to close since this doesn't appear related to ionic native itself.

[2016-10-03 01:08] #619 closed

[2016-10-03 02:49] ihadeed commented on #620
Sorry @jgw96, I don't understand why is this an Ionic Native issue?

[2016-10-03 02:59] emcniece commented on #620
Agreed - if anything, this is an XCode issue. I was just hoping to see if anyone else in the field was dealing with the same problem.

There are a few stack tickets around this, but nothing that solves the problem for the Ionic CLI.

[2016-10-03 04:56] marban commented on #610
I'm getting `ORIGINAL EXCEPTION: TypeError: undefined is not an object (evaluating 'pluginObj._objectInstance')`
on file.init.then

Makes sense?

[2016-10-03 05:13] ihadeed commented on #610
This is fixed in master. Will be available in next release.

As of now, you need to call .status.subscribe() right after creating a new
MediaPlugin in order to get it to work.

On Oct 3, 2016 12:56 AM, "thomas marban" <notifications@github.com> wrote:

[2016-10-03 06:23] Andalarian commented on #606
The first is from the documentation of Ionic2 (With the addition of the parameter)
The second is from the documentation of phonegap

`BarcodeScanner.scan().then((barcodeData) => {
 //success
 }, (err) => {
	//error
},
{
//Param
}  `

`cordova.plugins.barcodeScanner.scan(
      function (result) {
          //success
      },
      function (error) {
          //error
      },
      {
         //pa

[2016-10-03 08:51] stevengunneweg opened #621 "Native Contacts is broken in v2.0.3"
I need to save a contact to the phone's contact list but the code that I used in Beta.11 no longer works in v2.0.3. All parameters are readonly and when I tried to use the interfaces I got errors.

[code]

[code]

I used the example from [ionic-native docs](https://ionicframework.com/docs/v2/native/contacts/) however this seems to be outdated.

[code]

The documentation also lacks information abou

[2016-10-03 12:08] junaidahmed93 opened #622 "Module has no exported member 'Location Accuracy'"
Hello everyone,
I am getting error while importing LocationAccuracy from ionic native
`Module has no exported member 'Location Accuracy'`
I have already installed the plugin.
Is there any solution?

[2016-10-03 12:48] junaidahmed93 commented on #622
Following this code snippet from IONIC 2 native

import { LocationAccuracy } from 'ionic-native';

LocationAccuracy.canRequest().then((canRequest: boolean) => {

if(canRequest) {
// the accuracy option will be ignored by iOS
LocationAccuracy.request(LocaitonAccuracy.REQUEST_PRIORITY_HIGH_ACCURACY).then(
() => console.log('Request successful'),
error => console.log('Error requesting location permis

[2016-10-03 14:04] jgw96 opened #625 "Module has no exported member 'Location Accuracy'"
_From @junaidahmed93 on October 3, 2016 12:9_

Hello everyone,
I am getting error while importing LocationAccuracy from ionic native
`Module has no exported member 'Location Accuracy'`
I have already installed the plugin.
Is there any solution?

_Copied from original issue: driftyco/ionic#8431_

[2016-10-03 14:04] jgw96 commented on #625
_From @manucorporat on October 3, 2016 12:14_

Can you share the code that is failing?

[2016-10-03 14:04] jgw96 commented on #625
_From @junaidahmed93 on October 3, 2016 12:23_

Following this code snippet from IONIC 2 native

import { LocationAccuracy } from 'ionic-native';

LocationAccuracy.canRequest().then((canRequest: boolean) => {

  if(canRequest) {
    // the accuracy option will be ignored by iOS
    LocationAccuracy.request(LocaitonAccuracy.REQUEST_PRIORITY_HIGH_ACCURACY).then(
      () => console.log('Request succ

[2016-10-03 14:04] jgw96 commented on #625
_From @manucorporat on October 3, 2016 12:30_

Can you remove the node_modules folder and: `npm install`? let me know if that fixed the issue

[2016-10-03 14:04] jgw96 commented on #625
_From @junaidahmed93 on October 3, 2016 12:37_

I have re-installed node_modules after removing previous one, but still no luck
Error is same

[2016-10-03 16:53] jgw96 opened #627 "Ionic 2 RC.0 - Google Analytics"
_From @baltazaroliveira on October 3, 2016 16:37_

I finally upgraded my app to Ionic 2 RC0 and when i run the app on my Device i get a error in Google Analtycs (work on latest beta)

![image](https://cloud.githubusercontent.com/assets/953742/19045310/075cef28-8990-11e6-894e-e5345aee1924.png)

The plugin is installed

![image](https://cloud.githubusercontent.com/assets/953742/19045301/fd818432-898

[2016-10-03 17:05] ihadeed commented on #627
@baltazaroliveira are you wrapping your call with `platform.ready().then(()=> { ... })` ? it's working fine on my rc0 app.

[2016-10-03 20:57] #617 closed

[2016-10-03 21:15] ihadeed commented on #625
Closing this, discuss in #622

[2016-10-03 21:15] #625 closed

[2016-10-03 21:22] ramonornela opened #629 "Problem generate docs"
See [CircleCI](https://circleci.com/gh/driftyco/ionic-native/1085#build-timing/containers/0)
[code]

[2016-10-03 21:40] ihadeed commented on #622
Fixed now, please update to latest version.

[2016-10-03 21:40] #622 closed

[2016-10-03 21:42] #620 closed

[2016-10-03 21:42] ihadeed commented on #610
Please update to latest ionic-native version, this is fixed now.

[2016-10-03 21:42] #610 closed

[2016-10-03 21:46] ihadeed commented on #606
The options go in the `scan()` function not in `.then()`.

[code]

With params:
[code]

[2016-10-03 21:46] #606 closed

[2016-10-03 22:04] perrygovier commented on #629
`@private` tags are not needed on the interface if the var is marked private.

[2016-10-03 22:10] dylanvdmerwe commented on #554
Yes, this was an issue to note that the documentation should be updated.

[2016-10-03 22:12] perrygovier commented on #629
fixed in 973c80b26484bb6884fb9334f931667daadf6212

[2016-10-03 22:12] #629 closed

[2016-10-03 22:31] ramonornela commented on #629
Thanks 😉

[2016-10-03 22:55] kaikcreator opened #630 "Ionic 2 RC: GoogleMaps plugin not working"
Hi,

I'm updating a proyect that makes use of Geolocation and GoogleMaps native plugins to RC0.

I've added android platform to the new project, and installed both plugins. However, when I try to build, after linting (no errors) I get a "bundle prod failed" error with the following information:

bundle prod failed:  **Module** /home/kaik/work/courseIonic2DONE/geolocationAppRC0/node_modules/**ionic

[2016-10-04 00:14] mlynch commented on #627
Closing as a duplicate of #602 where I show that this plugin indeed works.

[2016-10-04 00:14] #627 closed

[2016-10-04 00:24] mlynch commented on #630
Hey, I just tested this and it's importing fine for me. Can you share more about your project? Perhaps something I can check out online. Or, how are you importing the project?

Can you also try doing an npm install to fetch the newest ionic-native before doing the build again?

[2016-10-04 00:33] mlynch commented on #630
If you run `npm show ionic-native version` what do you see? You should see 2.1.1

[2016-10-04 00:49] danielehrhardt commented on #630
Same Problem here after Updated to 2.1.1 with Geolocation

[2016-10-04 00:49] Bubelbub commented on #630
@mlynch yes I have the same issue since upgrading from ionic-native 2.0.3 to 2.1.1

[2016-10-04 00:53] mlynch commented on #630
Hey guys, what version of `@ionic/app-scripts` do you have? run `npm view @ionic/app-scripts version` to see. You should be on 0.0.28, if not do an update (npm install)

[2016-10-04 00:55] danielehrhardt commented on #630
[code]

[2016-10-04 00:55] Bubelbub commented on #630
@mlynch yes I have 0.0.28. But same issue:

	[02:48:09]  bundle dev started ...
	[02:48:16]  bundle dev failed:  Module C:\xampp\htdocs\node_modules\ionic-native\dist\index.js does not export Geolocation (imported by C:\xampp\htdocs\.tmp\pages\home\home.js)
	[02:48:16]  bundle dev failed:  Module C:\xampp\htdocs\node_modules\ionic-native\dist\index.js does not export Geolocation (imported by C:\xa

[2016-10-04 00:56] mlynch commented on #630
Can you share a snippet of code where you're using Geolocation and importing from ionic-native?

[2016-10-04 00:57] danielehrhardt commented on #630
`import {Geolocation} from 'ionic-native';`
[code]

[2016-10-04 01:07] emcniece commented on #620
Actually @ihadeed on second thought, perhaps this an Ionic Native issue. Not with Ionic Native specifically, but with the plugins and surrounding community.

Any plugin that uses Swift is going to throw this error. Here's a quick setup to test:

[code]

And the build fails here. Stack dump:

[code]

To rehash, the real problem here is XCode 8 complaining about `SWIFT_VERSION` settings, but this pr

[2016-10-04 01:18] ramonornela commented on #630
@danielehrhardt This code exec on ```deviceready```?

[2016-10-04 01:20] mlynch commented on #630
Okay, I can reproduce after referencing it in the code rather than just importing it. Going to revert the last few ionic-native releases to the one that was working with the build.

[2016-10-04 01:23] Bubelbub commented on #630
haha @mlynch the first thing I do if everything is mostly stable is writing tests :+1:
I think at the moment or before in beta 11 it would be wasted time to write tests because everything could change (and changed as we see).

So then if everybody can work with rc0 now and can help you writing test then this problems shouldn't happen again. This is a moment where everybody can see that this automa

[2016-10-04 01:32] davidemanske commented on #630
I don't know which mix of all of the plugins/node/npm/ionic/ionic-native I should be using... seems like everything I try ends up in some unique error case.

[2016-10-04 01:32] mlynch commented on #630
@Bubelbub yep, tests are great. In this case the new releases were not properly exporting symbols in a way that worked with es2015 modules that we use in Ionic 2.

Everyone: I just unpublished the last two versions of ionic-native. if you do an npm install you should get version 2.0.3 which should work. We are looking into publishing the new versions again with this working for the build.

Can som

[2016-10-04 01:34] emcniece commented on #620
After reading x, one of the steps to push XCode in the right direction is to include a `SWIFT_VERSION = 2.3;` line in the `buildSettings` block for each plugin in the `project.pbxproj` file. Once this is done, XCode stops complaining about the version.

In this example (with Geofence), adding this property is all that is needed to get the build to compile and emulate. I haven't tested the actual f

[2016-10-04 01:34] Bubelbub commented on #630
Yes works very fine :+1:
Thank you!

[2016-10-04 01:35] danielehrhardt commented on #630
Yes 2.0.3 with app Script 0.0.28 is working!!

[2016-10-04 01:40] emcniece commented on #620
Interesting - on a more complex app (with 14 Cordova/IN plugins) there are still only 4 `buildSettings` directives in the `project.pbxproj` file. Adding the `SWIFT_VERSION` tag to these 4 spots will make the app compile, but one of the plugins (https://www.npmjs.com/package/cordova-plugin-zeroconf) fails due to Swift syntax errors.

[2016-10-04 01:57] emcniece commented on #620
Alright, project compiles properly after settings `SWIFT_VERSION = 3.0` in the `project.pbxproj` file.

Next step is figuring out how to get the `SWIFT_VERSION` line in that file by default.

[2016-10-04 05:15] b-hobbs commented on #630
I'm having a similar issue but with going from 1.3.10 to 2.0.3 with importing GoogleMapsLatLng.
[code]
It worked in 1.3.10 but does not work after upgrading. Is there a new place to import GoogleMapsLatLng from?

[2016-10-04 07:54] baltazaroliveira commented on #602
Not Working. Give the same error!

Should unistall GA plugin?

![image](https://cloud.githubusercontent.com/assets/953742/19066210/0ab144fa-8a10-11e6-8e33-2ea7727d4844.png)

Error

![ga - ionic 2](https://cloud.githubusercontent.com/assets/953742/19066216/15d457a0-8a10-11e6-9b1f-c236771968d9.png)

Thanks

[2016-10-04 07:55] baltazaroliveira commented on #627
Answered on post #602

[2016-10-04 12:46] rocco opened #631 "Ionic2 app does not build using camera plugin"
I am using ionic-native's master branch (same issue for v2.1.0). My Ionic2 (also v2.1.0) app uses the camera plugin like this:
[code]

... not much going on here, just the import of Camera and a call to Camera.getPicture().

I am getting an error when trying to build the app:

[code]

This is related to commit 9bffc994e7ddf9b4a0e3001ec8ecd6f17f947374 where the `Camera` object, amongst others, was

[2016-10-04 14:11] frederikschubert opened #632 "Barcode Scanner crashes app"
The barcode scanner appears consistently forces a reload of the app after opening and closing it a few times. I am using the WKWebView fork of ionic.
This is really hard to debug, since there are no error messages logged to the console and the total VM memory allocation stays below 13MB with only a few detected memory leaks.

[2016-10-04 16:40] #631 closed

[2016-10-04 16:40] mlynch commented on #631
Master is broken. 2.0.3 is the only working version currently, and we're aware of the above and working on it, thanks.

[2016-10-04 16:50] mlynch commented on #602
Okay, I think I see what's going on here. We're running into a separate issue with using the `name` field I believe.

Does it work if you do this:

[code]

The `setTimeout` is there to test whether htis is just a race condition

[2016-10-04 17:39] ihadeed commented on #632
This is something to discuss at the barcode scanner plugin repo as it doesn't seem to be an ionic-native issue.

We will be adding the ZBar barcode scanner plugin soon once this PR gets resubmitted https://github.com/driftyco/ionic-native/pull/626

So you can try that when it's available.

[2016-10-04 17:39] #632 closed

[2016-10-04 17:42] ihadeed commented on #629
thanks @perrygovier !

[2016-10-04 17:46] ihadeed commented on #554
@dylanvdmerwe just updated the docs, they should be available in the next docs update

[2016-10-04 17:46] #84 closed

[2016-10-04 22:12] ihadeed commented on #621
The read-only parameter problem should be fixed by #635

If you're getting `cannot read property create` that means you're probably not waiting for `deviceready` event to fire or you do not have the plugin installed.

[2016-10-05 06:20] NeoLSN opened #636 "Please add cordova-plugin-zeroconf as a plugin"
Please consider to add this https://github.com/becvert/cordova-plugin-zeroconf plugin in ionic-native.

[2016-10-05 12:12] pascalrijk opened #641 "GoogleMaps focus"
Hi,

I am using GoogleMaps and this is working like a charm but overlay items like a menu or alert box are visible but not working because the focus is always on the map. Maybe there is a problem with the z-index or something?

Ionic info output:

Cordova CLI: 6.2.0
Ionic Framework Version: 2.0.0-beta.11
Ionic CLI Version: 2.0.0-beta.37
Ionic App Lib Version: 2.0.0-beta.20
OS: Distributor ID:	Ubun

[2016-10-05 12:38] nakulgulati commented on #641
@pascalrijk Try `map.setClickable(false)` when on menu open (it is an even you can subscribe to) and before doing `alert.present()`. You will have `setClickable(true)` to bring focus to map after that.

[2016-10-05 18:01] hugomosh opened #642 "Error when retriving the lat and lng in GoogleMaps"
In the build I get this error when trying to get the camera position:

`Property 'lat' does not exist on type 'GoogleMapsLatLng | GoogleMapsLatLngBounds'.`

In the ts of ionic-native there is this class but it doesnt share the object Instance.
[code]

How can I retrive the lat or the original object? `toString` works fine.

Or how can I skipped the ionic-native and use the regular plugin??

[2016-10-05 19:20] aggarwalankush opened #643 "Broken - SMS and CallNumber plugin"
[code]

These two plugins have different name when installed.

[code]

so when I do `ionic state save`, it saves `com.cordova.plugins.sms` `mx.ferreyra.callnumber` in my package.json which breaks when I do `ionic state restore`

[code]

@ihadeed IMHO, you should rename these plugins to use original name to avoid conflicts.

[2016-10-06 00:41] ziggyJ opened #645 "Google Maps setPadding function does not work on the android"
I called the setPadding(50,50,50,50), but there is no padding added on the map.

I looked into the ionic native code. The ionic native wrapper add 2 extra null value at the end of the args that makes args length to 6, but in the Google Maps Cordova plugin requires the args length is less or equal to 4.

I think adding 2 extra null value to args also breaks a lot of functions of other Cordova plugi

[2016-10-06 00:44] ihadeed commented on #642
Just pushed a commit that should fix this issue. Please stay tuned for the next release and let us know if the issue is resolved.

[2016-10-06 00:45] ihadeed commented on #645
Duplicate of #573

[2016-10-06 00:45] #645 closed

[2016-10-06 00:46] ihadeed commented on #643
Hey

This is an issue caused by the plugin vendors, the information they have stored in config.xml does not match their npm package names. It's not something we can control on our end, I suggest you get in touch with them to fix the issue.

What I do in this situation is edit my package.json manually and modify the `id` value to the correct npm package name to avoid these problems when running `io

[2016-10-06 00:46] #643 closed

[2016-10-06 00:48] ihadeed commented on #641
This is a common issue when using this plugin with the Ionic Framework (and a few other frameworks). Best place to get help would be the googlemaps plugin repo, or the Ionic forums.

[2016-10-06 00:48] #641 closed

[2016-10-06 00:51] ziggyJ commented on #573
The issue is caused by ionic native add 2 extra null value on the args when the function is a sync call.

I have fixed it on my fork and I will provide a pull request.

[2016-10-06 00:51] #591 closed

[2016-10-06 01:00] ziggyJ commented on #573
My pull request here: https://github.com/driftyco/ionic-native/pull/646
That is my simple fix, just add resolve and reject to the args if either of them is not null.
But it seems that I am touching some core functions,  I am not sure if it does not break other functions.

[2016-10-06 01:08] ihadeed commented on #642
Please update to `ionic-native@2.1.2` and let me know if you're still having this issue.

[2016-10-06 01:08] #642 closed

[2016-10-06 01:08] ihadeed commented on #630
Please update to `ionic-native@2.1.2` and let me know if you're still having this issue.

[2016-10-06 01:35] ihadeed commented on #602
Please update to `ionic-native@2.1.2`

[2016-10-06 04:11] balasivagnanam opened #647 "index.js doesnot export PayPalPayment error"
I am running the latest version of ionic-native to implement PayPal integration,
But I am getting the below error when I try to use it.

![image](https://cloud.githubusercontent.com/assets/4233785/19140264/fb6b2650-8bbd-11e6-993f-d22672b8fa2f.png)

Cordova CLI: 6.3.1
Ionic Framework Version: 2.0.0-rc.0
Ionic CLI Version: 2.1.0
Ionic App Lib Version: 2.1.0-beta.1
OS:
Node Version: v6.7.0

"dependen

[2016-10-06 04:29] ihadeed commented on #647
This is fixed now, please update to `ionic-native@2.1.6`

[2016-10-06 04:29] #647 closed

[2016-10-06 04:31] #630 closed

[2016-10-06 04:32] #500 closed

[2016-10-06 04:34] ihadeed commented on #522
@tomgallagher one solution could be to use the SafariView plugin for iOS to avoid these issues.

Thanks for the information btw!

[2016-10-06 04:34] #522 closed

[2016-10-06 04:45] balasivagnanam commented on #647
errors are gone and app is executing.

Haven't tested for paypal working though. Thanks a lot.

Building for device is so slow :-( with new app-scripts

Is there a way to make it work in browser?
I get cordova.js not found and use a device to test in browser.

[2016-10-06 04:49] ihadeed commented on #647
@balasivagnanam

I do the following to develop on device:
[code]

[2016-10-06 04:50] balasivagnanam commented on #647
great thanks 👍 will try it

[2016-10-06 07:48] doender commented on #602
My bad, I forgot to wrap the plugin in `platform.ready`...

[2016-10-06 08:02] #621 closed

[2016-10-06 08:51] John-Luke opened #648 "Cordova feedback plugin"
Consider add the Cordova plugin device feedback
Repo: [https://github.com/VVelda/device-feedback](https://github.com/VVelda/device-feedback)

[2016-10-06 09:14] ramonornela commented on #573
Problem with one to three arguments in example code above has four arguments :wink:, more too exists problem mentioned 😉

Thanks

[2016-10-06 11:49] sjorsroelofs opened #649 "Undefined is not an object"
I'm using Ionic 2 RC0 and when I try to use a Ionic-native plugin, I get the following error message in the console when running on my iPhone:
[code]

As far as I can see, this happens at line 109 from the ionic-native code (https://github.com/driftyco/ionic-native/blob/master/src/plugins/plugin.ts#L109):
[code]

The code I use for the OneSignal plugin (called inside platform.ready):
[code]

This

[2016-10-06 11:57] tomgallagher commented on #522
Pretty sure the SafariView plugin does not offer executeScript sadly

[2016-10-06 12:35] danielehrhardt commented on #649
Same Problem here!!

[2016-10-06 15:02] mlynch commented on #649
We're trying to narrow this down. If you wrap this in platform ready and add a setTimeout for a few ms or seconds, does it work?

[2016-10-06 16:02] emilio-simoes opened #650 "Can't get position for Polygon click event"
In cordova-plugin-googlemaps the click event has two parameters, the first one is the clicked polygon and the second one is the clicked position:

[code]

But ionic-native uses an Observable that only passes through the polygon object leaving the position inaccessible.

The clicked position should be accessible in the event.

[2016-10-06 16:04] Xenoage opened #651 "Barcode plugin missing in iOS"
I installed the barcode plugin like described on https://ionicframework.com/docs/v2/native/barcode-scanner/ . Up to now, this worked with the Ionic beta versions.

In Ionic 2.0.0 RC 0 , after building using the `ionic package` online service and running on iOS, I get the following error: `plugin_not_installed`

[2016-10-06 16:27] baltazaroliveira commented on #602
Updated to latest Ionic Native 2.1.6. Same error with the change suggested!

[code]
Please help to resolve this issue!

[2016-10-06 17:10] sjorsroelofs commented on #649
Yep, it was already in platform ready, but after a 1 second delay it works. Will use this as a temporary solution. Thanks!

[2016-10-06 17:37] balasivagnanam opened #652 "PayPal JSON error on renderSinglePaymentUI"
I am getting JSON error on renderSinglePaymentUI

[code]
I can get success message in device for the Paypal.init method. But renderSinglePaymentUI keeps giving JSON error.

Just wondering if it is because the paymentDetails is not being passed in it?

as per this issue
https://github.com/paypal/PayPal-Cordova-Plugin/issues/90 last comment.

[2016-10-06 20:04] ihadeed commented on #651
Can you share the code that you're using?

Make sure you're waiting for deviceready event to due. Also make sure
you're running latest version.

On Oct 6, 2016 12:04 PM, "Andreas Wenger" <notifications@github.com> wrote:

[2016-10-06 21:48] Xenoage commented on #651
My system information:

[code]

Device should be ready, since the method is only called after clicking on a button.
Code:

[code]

In plugins/ios.json I find:

{
    "installed_plugins": {
        //...
        "phonegap-plugin-barcodescanner": {
            "PACKAGE_NAME": "com.mysoftware.myappname"
        }
    },
    //...
}

[2016-10-07 00:33] ihadeed commented on #651
@Xenoage I've had similar issue with iOS before, and my action was only performed after a button click. I solved it by waiting for deviceready.

Try wrapping your call with `platform.ready().then(() => { ... })`

[2016-10-07 02:16] mlynch commented on #602
Can one of you send me your main.js file from `www/build/main.js`? I think this is a build related issue where the classname is getting renamed. max@ionic.io

[2016-10-07 05:54] Xenoage commented on #651
Thanks for the idea, but unfortunately this did not solve the problem. I still get the error "plugin_not_installed". The same code works on Android without any problems.
Maybe this is a problem with the `ionic package` build service? Unfortunately I can not build for iOS on my machine.

[2016-10-07 07:52] baltazaroliveira commented on #602
In Attach! Thanks for your help! :-)

[build.zip](https://github.com/driftyco/ionic-native/files/515558/build.zip)

[2016-10-07 09:46] mlynch commented on #651
Can you share a screenshot of the console output you see? I'm wondering if this is related to that Class name munging issue I'm trying to track down :(

[2016-10-07 12:24] junaidahmed93 commented on #622
This issue is not fixed , still facing same error after updating
`Module has no exported member 'Location Accuracy'`

[code]

[2016-10-07 12:36] junaidahmed93 opened #656 "Not Fixed : Module has no exported member 'Location Accuracy'"
I have update ionic but still getting same error.

[code]

[code]

[2016-10-07 13:11] danielehrhardt commented on #649
Not working at my project. I do not get any "Notification permission" prompt,

[2016-10-07 13:22] MaxDaten opened #657 "File Plugin: How to obtain a DirectoryEntry/FileEntry of existing Directories/Files"
Hi,

is there an undocumented way to obtain a 'DirectoryEntry'/'FileEntry' of existing directories/files?

When creating Dirs/Files via `createDir` or `createFile` the promise returns a handy Entry type, but how to get it for already existing entries? Do I really have to use the low-level `window.resolveLocalFilesystemUrl`? [`getDirectory`](https://github.com/driftyco/ionic-native/blob/master/src/

[2016-10-07 14:25] BioPhoton commented on #551
Hy, sry for answering so late. THX for your time! I updated all libs and now it is working fine...

[2016-10-07 14:26] BioPhoton commented on #551
PS: I use typescript and yes, i transpile.

[2016-10-07 16:17] ColinFrick opened #658 "addMarker in Google Maps stopped working"
I'm unable to add any marker to the map. If I call addMarker I receive following error in LogCat:

[code]

The properties lat and lng are not added directly to the position object, but are wrapped in _objectInstance:
`10-07 18:06:49.486: I/System.out(3799): {"_objectInstance":{"lat":43,"lng":-89}}`

Test source code:
[code]

Tested in the Android Emulator:
- Android 6.0 (Google APIs)
- Google Maps

[2016-10-07 16:34] ZiFFeL1992 commented on #658
Have you tried with branch master?

Also offtopic (sorry): How did you get those debug logs?

[2016-10-07 16:43] ColinFrick commented on #658
The master branch of ionic-native?
As I'm using the latest release 2.1.7 and that was released 26 hours ago, I doubt that would change something but I'll try.

If you mean the google maps master, yes I tried both npm and directly from git.

Off topic: If you use the Android Studio you'll get the Android Device Monitor, which is able to connect to the emulator and show the log files of the ionic ap

[2016-10-07 16:47] jholt1 commented on #595
What is the decision for this issue?

[2016-10-07 16:49] jgw96 opened #659 "Duplicated documentation for SocialShare"
_From @aldo-roman on October 4, 2016 21:53_

We have two links for SocialShare native plugin

http://ionicframework.com/docs/v2/native/social-sharing/
http://ionicframework.com/docs/v2/native/Social%20Sharing/

It seems they are duplicated and we should only keep one of them.

_Copied from original issue: driftyco/ionic#8491_

[2016-10-07 16:52] ZiFFeL1992 commented on #658
I was refering to branch master of Google Maps plugin.

How many markers are you adding? Does the code fails when you add the first marker?

[2016-10-07 17:02] ZiFFeL1992 commented on #658
Try this:

[code]

[2016-10-07 19:01] ColinFrick commented on #658
Actually only one. All properties defined as GoogleMapsLatLng don't work for me.
Even setting up GoogleMap with the camera property doesn't work.

I created a new ionic2 project, and followed http://www.joshmorony.com/integrating-native-google-maps-into-an-ionic-2-application/ to reproduce it.

This throws an error:
[code]

Removing the 'camera' property fixes the problem.

[2016-10-07 19:10] ColinFrick commented on #658
Reverting ionic-native to the default version 2.0.3 fixes the problem (https://github.com/driftyco/ionic2-app-base/blob/master/package.json)

[2016-10-07 22:36] danielehrhardt commented on #649
Here is a temp Solution:
Update the SDK to 2.0.6:
`ionic plugin update onesignal-cordova-plugin`
add this to the platform ready:
[code]

[2016-10-07 22:51] ramonornela commented on #658
Try using branch master of the plugin compatible with wkwebview and cordova 5 in iOS, maybe the code was adjusted to this.

Thanks

[2016-10-08 13:37] sjorsroelofs commented on #649
With that code I get the following error message:
[code]

[2016-10-08 15:11] mlynch commented on #649
I am guessing this is a duplicate of #602

[2016-10-08 15:15] mlynch commented on #602
Hey, in your `package.json` for your RC0 app, can you try replacing `build` with this? `"build": "ionic-app-scripts build --dev",`

[2016-10-08 15:49] mlynch commented on #602
Can someone send me a project with this issue happening? The more I look at the code the more I'm thinking something else is going on, perhaps in your project or with the plugin (maybe it changed?). The console error might be broken but it shouldn't impact anything else because both the plugin window reference and the method name are still intact, and we don't use the `name` field for anything imp

[2016-10-08 18:32] Xenoage commented on #651
I do not know how to display the console output. I have only a hardware device for testing and can not emulate the app (since I have no Mac). Can you help me?

[2016-10-08 19:09] ihadeed commented on #659
This would be an issue to address at the ionic-site repo. Old folders don't get deleted automatically by the doc generator. See https://github.com/driftyco/ionic-site/tree/master/docs/v2/native

[2016-10-08 19:09] #659 closed

[2016-10-08 19:14] ihadeed commented on #658
This could be caused by this edit here: https://github.com/driftyco/ionic-native/commit/72a694a5e1a61d8743e742ebe7431bafd3f0ed4d#diff-7380fd903dab74ddcc7e9b47a00b3156R884

`.addMarker()` is expecting an object with the properties `lat` and `lng`. We're passing an object with the property `_objectInstance` and two getter functions that will bring the values of `lat` and `lng`. Maybe the `.addMarker

[2016-10-08 22:51] ihadeed commented on #658
Should be fixed now, please update to `ionic-native@2.1.8`

[2016-10-08 22:59] ihadeed commented on #650
I'll look into a solution for this. Possibly converting the args to an object so it becomes function({overlay; latlng;}){} instead of what you have there.

In the meanwhile, here's a work around:
[code]

[2016-10-09 00:46] ihadeed commented on #652
Can you change this here:
[code]

to :
[code]

An provide me with the full error that you're getting.

Also, I just fixed the constructor for PayPalPayment to accept PaymentDetails (not published yet, it's in master)

[2016-10-09 00:55] ihadeed commented on #656
I just tried this and it works.

Can you run `npm i --save ionic-native@latest` to make sure it's the latest version?

If that doesn't work. I guess you can join the conversation here: https://github.com/driftyco/ionic-native/issues/602 since you're most likely experiencing the same issue(s).

[2016-10-09 00:55] #656 closed

[2016-10-09 00:57] #658 closed

[2016-10-09 03:20] Bouzmine commented on #651
Same issue here. @mlynch Do you want the XCode output ? Here's what I get :

[2016-10-09 08:56] ihadeed commented on #651
@Bouzmine looks like an issue caused by the plugin. See what I found on Google:

https://github.com/wildabeast/BarcodeScanner/issues/31

http://www.ltwebs.com/2014/01/22/plugin-barcodescanner-not-found-or-is-not-a-cdvplugin/
http://stackoverflow.com/questions/18142247/phonegap-3-0-0-barcodescanner-plugin

[2016-10-09 13:11] Bouzmine commented on #651
@ihadeed I wouldn't understand why it was working before RC0

[2016-10-10 01:00] wanjungao opened #665 "BLE isEnabled promise does not return boolean. Instead it returns null"
It's supposed to return a promise of a boolean. But instead, it always returns a promise of null.

the following code will work.

declare let ble: any;
isEnabled = (): Promise<boolean> => {
		let p = new Promise<boolean>((resolve, reject) => {

			if (typeof ble != 'undefined' && ble) {
				ble.isEnabled(
					() => {
						console.log("Bluetooth is enabled");
						resolve(true);
					},
					()

[2016-10-10 05:28] ColinFrick commented on #658
Thanks @ihadeed It works now.

[2016-10-10 09:44] tamerbak commented on #553
@ihadeed,
I've same issue and tried to use Cordova plugin. I receive all time a 415 http error (Media type unsupported). I use same request headers as I did with http object. it's a content-type header. I sniffed my mobile's network to watch my request, all seems to be right. Is there any intention to create an Ionic-native 2 version of this plugin ?

[2016-10-10 10:13] emilio-simoes commented on #650
I'll be looking forward for the solution, thanks.

In the meanwhile I've found that same fix after a while but with a small difference. Since the 'objectInstance' is private an to avoid typescript compilation errors I'm registering the event like this:

[code]

It works the same way and I don't get that nasty error when running the app.

[2016-10-10 10:25] kadoshms opened #666 "File plugin writeToFile append does not work"
Hey,

I am currently using version 1.3.21, but could not find any change log about that in later versions, so I can only guess this issue was not resolved.

I am trying to create a logging mechanism in my app, then the reasonable thing to do is to append the logs to a single file.
For some reason, it replaces the last line only, such that at the end the log file has only one single row.

The code

[2016-10-10 10:26] baltazaroliveira commented on #602
Updated Ionic Native to latest - 2.1.9
Changed the package.json

![image](https://cloud.githubusercontent.com/assets/953742/19233249/44f4951a-8edc-11e6-8f72-77c175468124.png)

When run in chrome developer i get this.

![image](https://cloud.githubusercontent.com/assets/953742/19233268/641d2862-8edc-11e6-8fa4-458a804ee36c.png)

Hope teat helps to resolve this issue.

[2016-10-10 12:56] junaidahmed93 commented on #656
@ihadeed  After updating to the latest version
I am getting error
[code]

[2016-10-10 13:11] junaidahmed93 commented on #656
LocationAccuracy.canRequest().then((canRequest: boolean) => {

  if(canRequest) {
    `Error After this line`
    LocationAccuracy.request(LocationAccuracy.REQUEST_PRIORITY_HIGH_ACCURACY).then(
      () => console.log('Request successful'),
      error => console.log('Error requesting location permissions', error)
    );
  }

});

[2016-10-10 13:55] tkem commented on #665
@wanjungao: What makes you think it would return a `Promise<boolean>`? It's declared as `Promise<any>`, and the docs make it quite clear there's no `boolean` state involved:
https://github.com/don/cordova-plugin-ble-central#isenabled

[2016-10-10 14:26] anaganisk opened #667 "Onesignal interfacing seems to be obsolete with Ionic 2"
The current initialisation is failing with onesignal API,
`OneSignal.init('somekey',
        { googleProjectNumber: 'somenumber', autoRegister: true })
        .subscribe();`
It fails with a promise(failure) presenting an error as unable to call apply on undefined in zone.js .
I dint dig into the code much yet but I think there is some change in the one signal API, and it must be reflected in ioni

[2016-10-10 15:17] taljacobson opened #668 "InAppPurchase occasionally crashes app"
after installing InAppPurchase from the ionic 2 native page reference
`
$ ionic plugin add cordova-plugin-inapppurchase
`

i occasionally get a white screen on app start after building for android, this can happen on the same build, that is if i reload the chrome inspect window it will either produce the error or work fine.
when i remove the plugin all seems to work fine

`
ionic run android
`

wi

[2016-10-10 15:29] anaganisk commented on #667
**I've done some digging the one signal API has been significantly changed, and the current bindings in Ionic native are obsolete, the must be fixed!**

[2016-10-10 15:31] wanjungao commented on #665
Original library has two call backs, that we can use to determine the enabled or not. The ionic native API is a promise, which is better. However, it always return a promise of null. There is no way to tell it is ebabled or not. Maybe I missed something.

Do you have sample code to use ionic BLE check if it is enabled?

Besides, I think isEnabled function returns a promise of a Boolean is more int

[2016-10-10 15:31] jgw96 opened #669 "NativePageTransitions problem"
_From @raul07kry on October 8, 2016 0:54_

In IonicNative there is a NativePageTransition plugin, but use case is completely empty. I only found a way to use it with Ionic 1, but absolutly 0 information about Ionic 2 usage. C'mon guys, you could do better. Can anybody paste a simple code about usage of this thing? Thank you in advance.

_Copied from original issue: driftyco/ionic#8572_

[2016-10-10 15:33] wanjungao commented on #665
Maybe you expect to use catch to determine ble not working?

[2016-10-10 15:35] anaganisk commented on #667
This is the link to the git diff of the current and old one
https://github.com/OneSignal/OneSignal-Cordova-SDK/compare/ac8e1e558a425fa79695cec7482e36b05214faab...master

[2016-10-10 15:40] tkem commented on #665
Exactly. The `failure` callback of a Cordova plugin always results in an error, which you can catch. I agree this is not very intuitive in this case, but ionic-native` is just a wrapper for plugins, and does not (and IMHO should not) change basic functionality. In this case, it might be better if the plugin passes a `boolean` to its `success` callback, and reserves `failure` for true errors. But t

[2016-10-10 16:23] jgw96 opened #670 "Use Provider in BaseRequestOptions"
_From @kyleap on October 10, 2016 5:1_

I want set headers for every http request , so i try get storage data by NativeStorage , but the service provider is null (looks like not Injectable ready) , how can i use service provider in baseRequestOptions , thanks

NativeStorage : [https://ionicframework.com/docs/v2/native/nativestorage/](url)

code:

@Injectable()
export class AppRequestOptions extend

[2016-10-10 19:23] ihadeed commented on #602
In the picture it looks like you're making the plugin call before
deviceready is fired. Are you sure you're wrapping all your calls with
platform.ready() ?

On Oct 10, 2016 6:27 AM, "baltazaroliveira" <notifications@github.com>
wrote:

[2016-10-10 19:27] ihadeed commented on #667
Are you waiting for deviceready to fire?

On Oct 10, 2016 10:26 AM, "Anagani Sai Kiran" <notifications@github.com>
wrote:

[2016-10-10 19:28] anaganisk commented on #667
Yes, I am, it worked untill i updated the plugin to a newer version.

[2016-10-10 19:29] ihadeed commented on #670
Ionic native doesn't offer Angular2 providers at the moment you can only
use the static methods.

On Oct 10, 2016 12:23 PM, "Justin Willis" <notifications@github.com> wrote:

[2016-10-10 20:46] anaganisk commented on #667
@ihadeed Yes, I am, it worked untill i updated the plugin to a newer version. Like I mentioned earlier its seems like an obsolete integration, with one signal api, the way the api must be intialised has changed in one signal, correct me if I am worng thank you!

[2016-10-10 20:47] mlynch commented on #667
Another data point for adding a version flag to plugins.

[2016-10-10 22:11] #670 closed

[2016-10-10 22:58] ihadeed commented on #668
Do you know what is triggering that error?

Are you calling any plugin APIs on app startup ?

[2016-10-11 02:24] joubin-ca commented on #602
I'm experiencing the same issue however specifically with SQLite native-plugin.
Here are a few things that I have done to see if they are the solution, to no avail:

1. Check the plugin list. It's listed: cordova-plugin-sqlite-2 1.0.4 "SQLitePlugin"
2. Updated package.json (as suggested here): "build": "ionic-app-scripts build --dev"

Anyone else has the same issue with the SQLite plugin?

[2016-10-11 03:19] wanjungao commented on #665
make sense to me. Thanks.

On Monday, October 10, 2016 11:40 AM, Thomas Kemmer <notifications@github.com> wrote:

Exactly. The failure callback of a Cordova plugin always results in an error, which you can catch. I agree this is not very intuitive in this case, but ionic-nativeis just a wrapper for plugins, and does not (and IMHO should not) change basic functionality. In this case, it might be be

[2016-10-11 03:42] mlynch commented on #602
@joubin-ca @baltazaroliveira I'm at a loss. Can either one of you zip up and email me your whole project? max AT ionic DOT io. That would be immensely appreciated!

[2016-10-11 03:52] mlynch commented on #602
Also, can you try the suggestion here: https://github.com/driftyco/ionic-native/issues/651#issuecomment-252485648

Namely: `ionic state reset` and then `rm -rf node_modules/` then `npm install`

[2016-10-11 05:08] ihadeed commented on #665
Just having a look at this.

Calling isEnabled should return a promise that resolves if its enabled and
will reject if it's not.

On Oct 10, 2016 11:19 PM, "wanjungao" <notifications@github.com> wrote:

[2016-10-11 06:18] ColinFrick commented on #657
I have the same requirement. I'd like to check if a file already exists and return the FileEntry without modifying it.

[2016-10-11 08:06] #553 closed

[2016-10-11 08:11] #360 closed

[2016-10-11 08:12] #667 closed

[2016-10-11 09:04] ihadeed commented on #553
@tamerbak it's added now, please update to latest version

This plugin is amazing, it makes the same calls in 25-50% of the time the Angular 2 HTTP service takes. Thanks for suggesting it @jakjoud

[2016-10-11 09:12] jakjoud commented on #553
@ihadeed Thank you for intergating it 👍

[2016-10-11 09:14] tamerbak commented on #553
Thank you @ihadeed, yes indeed, being "native" will accelerate Http requests on devices.

[2016-10-11 10:34] junaidahmed93 opened #676 "Error on LocationAccuracy.REQUEST_PRIORITY_HIGH_ACCURACY"
@ihadeed Initially i was facing problem in Location Accuracy (Module has no exported member 'Location Accuracy'). This problem is now fixed, but i am getting another error after this fix
I also update ionic-native to latest but still no luck.
I am getting error
[code]

LocationAccuracy.canRequest().then((canRequest: boolean) => {

if(canRequest) {
`Error After this line`
LocationAccuracy.request(L

[2016-10-11 11:06] steveharbick opened #677 "Mixpanel people() functions not exposed"
The MixpanelPeople functions (Cordova plugin window.mixpanel.people) are not available. I've attempted to set the people properties by using MixpanelPeople.set() and by Mixpanel.people.set(), but neither works.

When attempting **MixpanelPeople.set()**, I get following build error:
`[18:46:12]  Error: Module /Users/steveharbick/dev/src/ServConnect/node_modules/ionic-native/dist/esm/index.js does n

[2016-10-11 12:27] ramonornela commented on #573
@uditguru the version 2.2.0 fix this?

[2016-10-11 23:35] #676 closed

[2016-10-11 23:36] ihadeed commented on #676
thanks this is now fixed and will be available shortly in the next patch release

[2016-10-11 23:37] ihadeed commented on #677
Can you try something like this:

[code]

[2016-10-12 00:17] ihadeed commented on #657
Just pushed a commit (not merged yet) that makes resolveLocalFilesystemUrl and resolveDirectoryUrl methods public instead of private. They return a promise that resolves with Entry and DirectoryEntry respectively.

[2016-10-12 00:30] ihadeed commented on #657
And I just made getFile and getDirectory public as well.

[2016-10-12 00:33] ihadeed commented on #657
You will still have to do something like that. Ionic Native exports a wrapper for that function as well. You will need to do something like:

[code]

[2016-10-12 00:37] ihadeed commented on #594
Just pushed a commit that will be merged shortly and published in v2.2.2. `getFile`, `getDirectory`, `resolveLocalFilesystemUrl`, and `resolveDirectoryUrl` will be public.

That should solve you issue here, right?

[2016-10-12 00:45] ihadeed commented on #552
@ghenry22 thanks for suggestion, just implemented this. However, I'm just returning back the raw response from the native code, not modifying anything based on platform.

[2016-10-12 01:01] #657 closed

[2016-10-12 01:55] joubin-ca commented on #602
@mlynch - I did the following ionic state reset and then rm -rf node_modules/ then npm install, but didn't work. I shared with you a copy of my project.
Thanks.

[2016-10-12 03:16] ramonornela commented on #439
Related #464

[2016-10-12 03:17] ihadeed commented on #666
Can you try with the latest version v2.2.2 and report back? Thanks.

[2016-10-12 03:17] #666 closed

[2016-10-12 03:17] ihadeed commented on #594
Can you try with the latest version v2.2.2 and report back? Thanks.

[2016-10-12 03:17] #594 closed

[2016-10-12 03:18] ihadeed commented on #552
@dragGH102 @ghenry22 Can you try with the latest version v2.2.2 and report back if you still have any issue? Thanks.

[2016-10-12 03:18] #552 closed

[2016-10-12 03:18] ihadeed commented on #505
@comfortme Can you try with the latest version v2.2.2 and report back if you still have any issue? Thanks.

[2016-10-12 03:19] ihadeed commented on #464
@pgg Can you try with the latest version v2.2.2 and report back if you still have any issue? Thanks.

[2016-10-12 03:19] #464 closed

[2016-10-12 03:29] lufias opened #683 "2.0 RC0 Geolocation Not Working"
After upgrade, Geolocation plugin keeps returning error of PositionError with no helpful message at all. Tried on two different phone with the same errors returned. Im running it with crosswalk plugin on android platform. I even create a fresh project, but still the errors persist.

https://github.com/lufias/GeoTest

[code]

[code]

[2016-10-12 04:22] ihadeed commented on #683
Does this only happen when you're using crosswalk?

I'm able to use this plugin on both Android, iOS, and Browser without any
problems.

On Oct 11, 2016 11:29 PM, "lufias" <notifications@github.com> wrote:

[2016-10-12 04:25] lufias commented on #683
@ihadeed I'll give it a try.. without crosswalk..

[2016-10-12 04:57] lufias commented on #683
@ihadeed After removing crosswalk, I still unable to get the result, and the plugin still return me PositionError. But, running ionic serve, chrome shows me this warning instead:

`getCurrentPosition() and watchPosition() no longer work on insecure origins. To use this feature, you should consider switching your application to a secure origin, such as HTTPS. See https://goo.gl/rStTGz for more deta