[2017-03-22 21:45] jadsalhani commented on #1208
Maybe worth mentioning that this should be done for all plugin providers. I didn't find it mentioned in the native doc pages.

[2017-03-22 22:51] ihadeed commented on #1208
@jadsalhani it's mentioned here: http://ionicframework.com/docs/v2/native/#Add_Plugins_to_Your_App_Module

[2017-03-22 22:52] ihadeed commented on #1226
Please follow the instructions here: http://ionicframework.com/docs/v2/native/#Add_Plugins_to_Your_App_Module

You need to add the provider to your NgModule

[2017-03-22 22:52] #1226 closed

[2017-03-22 22:54] petrot commented on #1226
Thanks! I forgot this little think.. :)

[2017-03-22 22:54] ihadeed commented on #1225
This issue was moved to driftyco/ionic-plugin-keyboard#257

[2017-03-22 22:54] #1225 closed

[2017-03-22 22:58] ihadeed commented on #1224
The SQLite plugin maintainer has responded to you here: https://github.com/litehelpers/Cordova-sqlite-storage/issues/651

[2017-03-22 22:58] #1224 closed

[2017-03-22 23:05] ihadeed commented on #1214
@lorkel

From what I see, you have `@ionic-native/core@3.1.0` installed and you're trying to install version `3.1.1` of the plugins. You need to make sure that you have the same version of `core` and the plugins to get rid of these warnings.

This will be fixed in the next release in a way that you don't have to update `@ionic-native/core` unless if you need to.

[2017-03-22 23:09] ihadeed commented on #1221
`ionic-native` package is 2.x. We no longer use it in Ionic Native 3.x.

You need to install `@ionic-native/core` and `@ionic-native/device` then import `Device` from `@ionic-native/device`.

[2017-03-22 23:09] #1221 closed

[2017-03-22 23:09] #1219 closed

[2017-03-22 23:10] ihadeed commented on #1118
@Scuttman `BackgroundGeolocation.configure` now returns an observable and doesn't take callback parameters.

[2017-03-22 23:12] ihadeed commented on #1092
@chenlitchian https://github.com/driftyco/ionic-native/blob/v2.x/src/plugins/network.ts#L59

[2017-03-22 23:19] jadsalhani commented on #1208
Heh, Chrome was displaying the old cached version of the page...A hard reload did the trick. Talk about trusting your browser these days

Thanks!

[2017-03-22 23:22] ihadeed commented on #1208
@jadsalhani See https://github.com/driftyco/ionic-app-scripts/issues/825

[2017-03-22 23:52] lorkel commented on #1214
@ihadeed Per my second message, I tried to upgrade to `@ionic-native/core@3.1.1` but then got the following errors:
[code]
For anyone else needing help with this... if you just upgrade `@ionic-native/core`, `@ionic-native/splash-screen` and `@ionic-native-status-bar` manually up to `@3.1.1` the errors go away.

[2017-03-22 23:53] ihadeed commented on #1214
@lorkel Just published `3.2.0` that solves this issue. You will no longer get these error messages unless the `core` package needs to be updated.

[2017-03-23 00:04] lorkel commented on #1214
@ihadeed Last question - when I run `npm update -g @ionic-native/` and then check the version I am getting 4.1.2, is that right? Or should I be updating a different package?

[2017-03-23 00:12] ihadeed commented on #1214
What I meant is your plugins have to be at least `3.2.0` so you don't experience these errors again, unless  it's necessary.

Just run:
[code]

[2017-03-23 00:15] lorkel commented on #1214
Ahh great, okay thanks for the clarification!

[2017-03-23 06:40] peterpeterparker opened #1229 "googleanalytics, inappbrowser, splashscreen and statusbar not part of 3.2.1"
Hi,

googleanalytics, inappbrowser, splashscreen and statusbar support were and are still available in their version 3.0.0

These four aren't available in version 3.2.1 of ionic-native, why?

Best regards

[2017-03-23 08:56] daviddbeasy commented on #1201
Hi, have you tried to use the method
Diagnostic.registerNFCStateChangeHandler without any error? I can't still
use it.

2017-03-21 9:54 GMT+01:00 David Domínguez Briante <daviddbeasy@gmail.com>:

[2017-03-23 12:52] AmitMY opened #1232 "Update NPM version"
https://www.npmjs.com/package/ionic-native still has 2.9.0, even though 3.1.0, 3.1.1, 3.2.0, 3.2.1 were released

[2017-03-23 13:08] roshandhabekar commented on #964
guy's can any one help me , whenever i enter the push initializing code to my iniatialize app block
, my app got stucked and it stopped working with "UNFORTUNATELY STOPPED WORKING" while running on android device`

`this.platform.ready().then(() => {
      StatusBar.styleDefault();
      let push = Push.init({
        android: {
          senderID: "#########"
        },
        ios: {
          a

[2017-03-23 13:19] theomathieubhvr opened #1234 "[Documentation] MediaPlugin page has disappeared"
Hey,

I think the title is clear enough ;)

I think last issues were solved here https://github.com/driftyco/ionic-native/pull/1220.

[2017-03-23 17:21] Screeze commented on #1232
Since version 3 you have to add @ionic-native/core + each plugin which you need e.g. @ionic-native/admob.

[2017-03-23 17:42] ihadeed commented on #1232
As @Screeze said, `ionic-native` package is 2.x and anything under the `@ionic-native/*` scope is 3.x

[2017-03-23 17:42] #1232 closed

[2017-03-23 18:14] daviddbeasy commented on #1201
After updating to 3.2.1 the error has been solved. Thanks.

2017-03-23 9:55 GMT+01:00 David Domínguez Briante <daviddbeasy@gmail.com>:

[2017-03-23 18:20] ihadeed commented on #1229
The packages are re-named. They are now `google-analytics`, `in-app-browser`, `splash-screen` and `status-bar`.

Also worth noting that since Ionic Native 3.1.x, all packages export injectable providers instead of static classes. Please refer to the official Ionic Native docs for more information.

[2017-03-23 18:20] #1229 closed

[2017-03-23 18:21] #1201 closed

[2017-03-23 19:01] peterpeterparker commented on #1229
thx for the feedback @ihadeed

[2017-03-23 19:38] jcoon5026 opened #1239 "Screen Orientation undefined is not an object Exception"
I'm having an issue attempting to get the ScreenOrientation plugin to work properly. I've followed the suggestions in #472 and another that I can't recall at the moment, but it basically said to set a timeout on it. After following both of these steps, I'm still recieving this error

My ionic info

Ionic Framework Version: 2.2.0
Ionic CLI Version: 2.2.1
Ionic App Lib Version: 2.2.0
Ionic App Scrip

[2017-03-23 19:39] Maziar-Fotouhi opened #1240 "Issues in the documentation"
@ihadeed

http://ionicframework.com/docs/v2/native/3d-touch/

This page currently has this command for saving the package:
`npm install --save @ionic-native/3d-touch
`
but this is the actual folder:
`npm install --save @ionic-native/three-dee-touch
`
Thank you.

[2017-03-23 19:49] Maziar-Fotouhi commented on #1240
Just noticed two more issues in the documentation. **Sorry for being too picky. Just trying to help** in case these were missed.

Camera plugin does not have install scripts in documentation:
`http://ionicframework.com/docs/v2/native/camera/
`
`@ionic-native/camera
`
*******************************************************

I know I'm being super picky with this one but the word "in" in the install

[2017-03-23 20:40] Deharlan opened #1241 "Inappbrowser have no more the callback function?"
I don't know anymore how to get a return in Inappbrowser when i use the executeScript(script: {file?: string, code?: string})

With this new update of the ionic-native-3x, changed the ways i get the return from this executeScript

[2017-03-23 21:51] ihadeed commented on #1241
According to the docs here http://ionicframework.com/docs/v2/native/in-app-browser/#executeScript it returns a Promise.

[2017-03-23 21:51] #1241 closed

[2017-03-23 21:59] ihadeed commented on #1239
You need to inject `ScreenOrientation` and then call `this.screenOrientation.lockOrientation(...)`.

Please refer to the latest Ionic Native documentation for instructions on how to use Ionic Native 3.x

[2017-03-23 21:59] #1239 closed

[2017-03-23 22:46] sfaizanh commented on #1240
`npm install --save @ionic-native/File` should be `npm install --save @ionic-native/file`
`npm install --save @ionic-native/Social Sharing` should be `npm install --save @ionic-native/social-sharing`
any many other have same issues

[2017-03-23 22:48] sfaizanh commented on #1234
[https://ionicframework.com/docs/v2/native/media/](https://ionicframework.com/docs/v2/native/media/)

[2017-03-23 22:51] jcoon5026 commented on #1239
I'm unable to npm install the Screen Orientation provided on this site:
https://ionicframework.com/docs/v2/native/screen-orientation

Is there something I'm not doing properly here, or is this an incorrect npm
install command?

On Thu, Mar 23, 2017 at 3:59 PM, Ibby Hadeed <notifications@github.com>
wrote:

[2017-03-23 23:08] daveshirman opened #1242 "Updated to ionic-native 3.2.1 now getting loads of typescript compile errors"
Updated all required packages according to documentation.
Now getting transpile error all over the shop, e.g.:
[code]

What is the documentation missing to make this correct? I followed exactly what it said to do [here:](https://ionicframework.com/docs/v2/native/)

 Here's my package.json dependencies for reference:

[code]

Ionic info:
[code]

[2017-03-23 23:24] #1242 closed

[2017-03-23 23:24] daveshirman commented on #1242
documentation wasn't clear enough that you now need to inject all your providers as with any other dependency, this wasn't the case before.

[2017-03-23 23:41] ihadeed commented on #1242
@daveshirman it does say that here https://ionicframework.com/docs/v2/native/#Add_Plugins_to_Your_App_Module

[2017-03-23 23:42] ihadeed commented on #1239
This should work
[code]

[2017-03-23 23:43] ihadeed commented on #1240
This is fixed now

[2017-03-23 23:43] #1240 closed

[2017-03-23 23:43] ihadeed commented on #1234
It's fixed now. Thanks for reporting the issue.

[2017-03-23 23:43] #1234 closed

[2017-03-24 00:01] daveshirman commented on #1242
@ihadeed Actually no that's not what I meant.  I'm talking about the need to inject into the class itself.

e.g

`constructor (public _Camera: Camera) { ... }`

I've fixed it all now, just don't think the documentation was clear enough on this point.

[2017-03-24 03:12] ihadeed commented on #1242
@daveshirman that is also documented in the Usage section here: http://ionicframework.com/docs/v2/native/camera/

[2017-03-24 03:14] #165 closed

[2017-03-24 03:14] #237 closed

[2017-03-24 03:15] #321 closed

[2017-03-24 03:15] #395 closed

[2017-03-24 03:15] #271 closed

[2017-03-24 03:15] #408 closed

[2017-03-24 03:16] #438 closed

[2017-03-24 03:17] ihadeed commented on #472
This issue should be resolved by using Ionic Native 3.1.x and latest version of the plugin.

[2017-03-24 03:17] #472 closed

[2017-03-24 03:17] #540 closed

[2017-03-24 03:19] #592 closed

[2017-03-24 03:23] #1177 closed

[2017-03-24 03:24] ihadeed commented on #1100
Closing since this is a plugin issue.

[2017-03-24 03:24] #1100 closed

[2017-03-24 03:25] ihadeed commented on #1091
Sorry I forgot to update this issue.

The latest version of Ionic Native 3.x supports the latest version of this plugin now.,

[2017-03-24 03:25] #1091 closed

[2017-03-24 08:37] peterpeterparker commented on #1229
@ihadeed it works like a charm, thx!

[2017-03-24 08:37] daveshirman commented on #1242
Camera was just an example. I meant in the main documentation guide. It is just a suggestion that it could be clearer for the benefit of others. That's all.

[2017-03-24 09:05] peterpeterparker opened #1244 "[ionic-native 3.2.2] File module size"
After having converted my project to Ionic Native 3.2.2 (thx again for that) I ran source-map-explorer to discover the result size of the libraries.

I turns out that that the File module is 3-4 bigger than other modules I use (see enclosed image). I understand that that module contains a little bit more methods than the others, but is there a way to spare codes?

Of course this isn't a bug, I jus

[2017-03-24 09:50] RazaLabs opened #1245 "TODO: RTC plugin"
Any idea or eta when webrtc will be available in ionic-native?

[2017-03-24 09:56] NoNameProvided commented on #1100
Some higlight in the docs would be nice, not? This is totally not the expected behaviour even if the underlying plugin causes this.

[2017-03-24 10:55] luckylooke commented on #651
I had to manually put an entry of barcodescanner into `config.xml` for plugin to be installed on iOS and also same for Android.
ionic version 2.2.1
My entry to config.xml:
[code]

[2017-03-24 11:00] luckylooke commented on #244
I came to same problem with ionic 2.2.1.. I have to put manualy a barcodescanner entry into config.xml like I have mentioned [here](https://github.com/driftyco/ionic-native/issues/651#issuecomment-288991987) in #651

[2017-03-24 12:03] ihadeed commented on #1100
@NoNameProvided sure

Does this describe the "quirk" well:

[2017-03-24 12:03] ihadeed commented on #1245
Could you please provide a link to the repo of this plugin?

[2017-03-24 12:05] ihadeed commented on #1244
@peterpeterparker when you build your app with `--prod` flag, is the output file size still bigger than it would've been with Ionic Native 2.x ?

[2017-03-24 12:05] NoNameProvided commented on #1100
Yes, looks good!

[2017-03-24 12:05] ihadeed commented on #1242
Thanks @daveshirman we'll work on improving the docs further. Any suggestions are  welcome.

[2017-03-24 12:07] ihadeed commented on #1100
Thanks @NoNameProvided just pushed a commit for that. It will be live in the next doc update.

[2017-03-24 12:17] RazaLabs commented on #1245
I preffer this shim to be included
https://github.com/webrtc/adapter
or another
https://github.com/alongubkin/phonertc

[2017-03-24 12:30] dnmd commented on #1221
@ihadeed , sorry for the typo's, that is indeed misleading. I've updated the sample. Extending the `Device` plugin does call the constructor from `DeviceExt`, however, it is not possible to "update" e.g. the uuid, since it will return `null` in the browser. Hope this clarifies it better.

[2017-03-24 12:35] Deharlan commented on #1241
Could you make an example?

[2017-03-24 12:39] ehorodyski commented on #1169
If you're opening up the Google Maps app, even if it's invoked from InAppBrowser, it won't open the app inside of a WebView. At least as far as I know.

InAppBrowser will only control what's in an InAppBrowser instance.

[2017-03-24 12:42] ihadeed commented on #1169
In addition to what @ehorodyski said:

When you use the `_system` target, you have no control over what you want the browser window to look like. `_system` opens it in an app of the user's choice. You need to use `_blank` to open it in an InAppBrowser instance that you can customize.

[2017-03-24 12:42] #1169 closed

[2017-03-24 12:43] ehorodyski opened #1246 "Compatible w/o Ionic?"
One of the big draws for me to contribute to this library was it was moving Cordova plugins into TypeScript, with some extra love.

It's been a while since I've been here last, and now I see that everything has been re-written for Angular 2 using Injectable providers. Will this code still provide other Cordova users, who aren't running Ionic, the ability to use typings?

[2017-03-24 12:45] ihadeed commented on #1241
[code]

[2017-03-24 12:47] ihadeed commented on #1246
Only the `ionic-native` package will provide that, which is 2.x. It will only be maintained to fix bugs and will not have any new plugins added to it.

Starting from Ionic Native 3.x it's going to support Angular 2.x+ apps only.

[2017-03-24 12:47] #1246 closed

[2017-03-24 12:49] ihadeed commented on #1221
Your class should look like this instead:
[code]

[2017-03-24 12:56] Deharlan commented on #1241
Thank you so much

[2017-03-24 12:58] ehorodyski commented on #1246
Do you mind if I ask the reasoning behind this?

In all fairness, my team has no interest in building anything Cordova-based without Ionic 2 going forward, but we have Ionic 1 apps currently in development and "global" components that we are trying to keep framework agnostic (of course, with the only caveat being that it's Cordova-based).

[2017-03-24 13:23] ehorodyski commented on #1210
How would you test a newly added plugin since each plugin is it's own dependency?

[2017-03-24 13:29] peterpeterparker commented on #1244
@ihadeed I really think it's better with Native 3.x (I'm using it since alpha version) respectively that the output file size is smaller, you guys did a great job!

Note: I didn't tried to generate the above report (generated after ionic serve) with --prod, because I just don't know how to generate the source map while running the --prod ;)

But still, according above report, the module File is re

[2017-03-24 13:35] joshbabb commented on #1210
Eric,

How we did it was to fork ionic-native, add our own custom plugin code,
`npm run build` our fork, and manually copy over the @ionic-native folder
produced into the node_modules folder of the test project (or use a
relative path instead of a version number in package.json)

Sorry if that's not what you were asking

On Mar 24, 2017 8:23 AM, "Eric Horodyski" <notifications@github.com> wrote:

[2017-03-24 13:42] ehorodyski commented on #1210
@joshbabb -- I did that as well.

The Ionic Native 3.x structure has each plugin as it's own node dependency, so this is what my `package.json` is looking like:

[code]

But when I a) try `npm install @ionic-native/intel-security` or b) try to just reference it in the code, I get:

[code]

I did copy the entire `ionic-native` project into `node_modules/ionic-native` however, maybe I need to remove

[2017-03-24 13:53] theomathieubhvr commented on #1234
Thanks !

[2017-03-24 14:09] joshbabb commented on #1210
I did not use the file: method of linking the correct package, I used ../
(relative paths.)

Also make sure that you're using the new @ionic-native

Will post more once I'm at my desk.

On Mar 24, 2017 8:42 AM, "Eric Horodyski" <notifications@github.com> wrote:

[2017-03-24 14:12] mlynch commented on #1246
@ehorodyski we still support that through ionic-native 2.x. We just want to focus 3.x and all new work on ionic native going forward for Ionic 2.x+ and Angular 2.x+

We will continue to fix and improve 2.x!

[2017-03-24 14:20] ehorodyski commented on #1210
Hey @joshbabb -- Thanks for the response.

I got it working, I moved over the entire `ionic-native` package, and it literally just needs to be `dist`. I should have listened to the docs, but I wasn't sure if it was accurate. I thought that since each plugin is it's own module that it would follow a folder structure in `node_modules`  where each plugin got it's own folder.

Very happy it isn't, but

[2017-03-24 16:27] johannpinson opened #1248 "[ionic-native 3.2.2] Camera Preview look not installed/available"
Hi!

I juste migrate today a project from ionic-native 2.x to 3.2.2

Some plugin like Camera continue to work as expected, but not the Camera Preview, and I get this error in the console :

[code]

Also, I didn't reaIly follow the documentation, which said:
[code]

I put this:

[code]

I already try to delete the folder in plugins (and corresponding line in config.xml) and make a npm uninstall bef

[2017-03-24 16:36] johannpinson commented on #1248
Edit :

I confirm that I can keep only the CameraPreview with the v2.9.0 and other native plugins (like Camera) with the v3.2.2

[2017-03-24 17:22] brandyscarney opened #1249 "bug: Geocode instance non present"
_From @Vito96 on March 24, 2017 15:36_

**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>Geocode instance is not present in Geocoder (ionic-native).</span>

<span is-issue-template></span>

_Copied from original issue: driftyco/ionic#10909_

[2017-03-24 18:37] jgw96 opened #1250 "Contacts plugin - Can't create after update."
_From @Klerith on March 23, 2017 23:35_

**Ionic version:**
[ ] **1.x**
[ X ] **2.x**

**I'm submitting a ...**
[ X ] bug report
[ ] feature request
[ ] support request => Please do not submit support requests here, use one of these channels: https://forum.ionicframework.com/ or http://ionicworldwide.herokuapp.com/

**Current behavior:**
After the new change of moving 'ionic-native' to  '@ionic-na

[2017-03-24 18:37] jgw96 commented on #1250
_From @rapropos on March 24, 2017 0:0_

Should probably be reassigned to ionic-native, but I suspect the problem is failure to adjust to the new injectable syntax:

### OLD:
[code]

### NEW:
[code]

[2017-03-24 18:37] jgw96 commented on #1250
_From @Klerith on March 24, 2017 0:4_

I use the new syntax version using '@ionic-native/contacts'

But after running some test here, looks like it works on devices, but in the browsers crashes with that error.

[2017-03-24 19:12] ihadeed commented on #1244
@peterpeterparker that source map is showing you how big the source file is (`node_modules/@ionic-native/....`).

When you build your app with the `--prod` flag it will uglify and treeshake the code and it ends up being much smaller than that.

[2017-03-24 19:12] #1244 closed

[2017-03-24 19:27] ihadeed commented on #1249
@Vito96 `Geocoder` class is exported by the `@ionic-native/google-maps` package. It's injectable and has one instance method `geocode`.

[2017-03-24 19:27] #1249 closed

[2017-03-24 19:28] #1250 closed

[2017-03-24 19:55] jcoon5026 commented on #1239
Thank you. That worked for me well. Perhaps you could help with another
issue that I'm having. I'm using the ScreenOrientation to lock the screen
into landscape mode when I navigate to a specific page and unlock when I
leave that page. This renders and works properly with Android devices. With
IOS it isn't working properly. The orientation is locked in landscape, but
if I'm in portrait when I navi

[2017-03-24 21:02] theomathieubhvr opened #1252 "[AOT] Plugin Media failing"
Hey,

I got this error when building with AOT and @ionic-native/media.

Error encountered resolving symbol values statically. Could not
@ionic-native/media

Thanks !

[2017-03-25 09:08] 05bca054 opened #1253 "Super template not compatible with ionic-native 3+"
Hello,

I have tried many times to work with ionic but i think super template from ionic is not quite working with ionic-naitve V3+.

Yet i tried to fix several errors(Which causes ionic-native to run) but now i stuck with weird error(No modification made to template pages) which says

Runtime Error
Error in :0:0 caused by: No provider for SplashScreen!

Error: DI Error
    at v (http://localhost:

[2017-03-25 09:16] peterpeterparker commented on #1244
@ihadeed so there is no way to explore the size of the ionic native bundle after building it with --prod?

and still, even if all module gonna be smaller, File still gonna be 3-4 bigger than the other, don't you think that should be improved?

[2017-03-25 12:31] AmitMY opened #1254 "Geolocation getCurrentPosition does not return a promise"
In previous versions (pre v3) geolocation `getCurrentPosition` returned a promise. Now it uses callbacks. Is that intended?

[2017-03-25 13:44] AmitMY commented on #1254
somehow, it fixed itself :)

[2017-03-25 13:44] #1254 closed

[2017-03-25 17:43] ehorodyski commented on #1246
@mlynch -- Thanks for the update. I understand the current prioritization of 3.x.

When it's time to start back up on 2.x, I'd love to help contribute, time permitting (who knows, maybe my job will bank me hours to help considering we use Cordova so heavily).

I think it's really important, as a Cordova and Ionic consumer, to try to align the efforts Cordova is currently committing to with Typescr

[2017-03-26 01:54] ihadeed commented on #1244
@peterpeterparker I'm not aware of any way to check that.

Not sure what you mean by the second part of your comment. Could you please elaborate?

[2017-03-26 01:55] ihadeed commented on #1253
Did you add `SplashScreen` and other plugin providers to your `@NgModule` ?

[2017-03-26 03:45] 05bca054 commented on #1253
Thank you ihadeed,

This will fix those problem, but i recommended that update super template which fix those ionic-native V3+ issues.

-Naitik

[2017-03-26 07:39] peterpeterparker commented on #1244
@ihadeed I was just meaning that, even if the code is uglyfied and treeshaked during build, the output result may be the "same" respectively even compressed the module File may still weight 3-4 times more than the other modules

For example:

Before build

File 42kb (or 3 * Facebook or GA size)
Facebook 14kb
GA 13 kb

After build

File X kb (or 3 * Y)
Facebook Y kb
GA Y kb

[2017-03-26 08:17] ihadeed commented on #1244
@peterpeterparker oh I see what you mean.

AFAIK, tree shaking doesn't work so well with decorators. We use lots of decorators in Ionic Native and it causes the tree shaking processor to think that we actually need all the functions to be there. This is one of the reasons why we split the plugins into their own packages.

We will definitely look into more ways to reduce the bundle size in the futu

[2017-03-26 09:47] EventfulG opened #1259 "Native transfer plugin - not available after install in ionic2 app"
I have installed native TRANSFER plugin in my ionic 2 app in 2 steps:
    1. ionic plugin add cordova-plugin-file-transfer
    2. npm install --save @ionic-native/transfer

After that i imported the plugin in my   home.ts page.
    `import { Transfer } from '@ionic-native/transfer';`

I tried to use the plugin to upload a file
    `var ft = new Transfer();`

But i can't use ft var, because Transfe

[2017-03-26 10:35] ihadeed commented on #1259
You have to inject `Transfer` as a provider. Then inject it in any service/component and call `this.transfer.create()` instead of `new Transfer`.

[2017-03-26 10:35] #1259 closed

[2017-03-26 18:40] javico2609 opened #1261 "@ionic-native/splashscreen is not in the npm registry"
npm verb node v7.7.3
npm verb npm  v4.4.4
npm ERR! code E404
npm ERR! 404 Not found : @ionic-native/splashscreen
npm ERR! 404
npm ERR! 404  '@ionic-native/splashscreen' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)
npm ERR! 404 It was specified as a dependency of 'ICBancking'
npm ERR! 404
npm ERR! 404 Note that you can also install fro

[2017-03-26 21:25] paoesco opened #1262 "Geolocation.watchPosition().filter does not compile with ionic 2.2.0 and ionic-native 2.4.1"
Hello,

After updating Ionic and Ionic Native, it seems that part of my code is not compiling anymore.

[code]

The above code is from the documentation that can be found here : https://ionicframework.com/docs/v2/native/geolocation/

The error is :
[code]

My dependencies are :
[code]

One thing I have spotted is that when doing a `npm install` I have this :
[code]
It seems that ionic-native is st

[2017-03-26 23:38] ihadeed commented on #1261
Its renamed to `@ionic-native/splash-screen`

[2017-03-26 23:38] #1261 closed

[2017-03-26 23:51] ihadeed commented on #1262
Update your `ionic-native` package to the latest version.

[code]

[2017-03-26 23:51] #1262 closed

[2017-03-27 01:32] billygerhard opened #1263 "Plugin Request: cordova-plugin-ad-adcolony"
There is an ionic-native plugin for AdMob, but there aren't any other ad services on it yet. This would allow native AdColony ads to be used easily with ionic-native. This service is mostly targeted towards mobile game creators, and would help game developers a lot.

https://github.com/cranberrygame/cordova-plugin-ad-adcolony

[2017-03-27 08:29] EventfulG commented on #1259
Thank you. It worked

[2017-03-27 09:03] cataragak90 opened #1264 "build --prod error"
Hello!
ionic build --prod doesn't work:
error: can't resolve module @ionic-native/core from .../node_modules/@ionic-native/status-bar/index.d.ts
[11:56:17]  build dev failed: Cannot read property 'Plugin' of undefined, resolving symbol StatusBar in
            /..../node_modules/@ionic-native/status-bar/index.d.ts

[2017-03-27 10:08] ihadeed commented on #1264
Is `@ionic-native/core` installed?

What versions are you using?

[2017-03-27 10:10] aamir1995 commented on #1021
Why not use ionic 2 built in method for registering Back button action?
http://ionicframework.com/docs/v2/api/platform/Platform/#registerBackButtonAction

[2017-03-27 11:10] cataragak90 commented on #1264
yes, it is
the dependencies from the package.json file:
"dependencies": {
    "@angular/common": "2.2.1",
    "@angular/compiler": "2.2.1",
    "@angular/compiler-cli": "2.2.1",
    "@angular/core": "2.2.1",
    "@angular/forms": "2.2.1",
    "@angular/http": "2.2.1",
    "@angular/platform-browser": "2.2.1",
    "@angular/platform-browser-dynamic": "2.2.1",
    "@angular/platform-server": "^2.2.1

[2017-03-27 11:59] RafaelKr opened #1265 "[ionic-native 3.2.4] TypeError: plugin.constructor.getPluginRef is not a function"
I wrote a ionic-native wrapper for the plugin [cordova-plugin-qrscanner](https://github.com/bitpay/cordova-plugin-qrscanner), but when I run my application and call any method of QRScanner (in this case `QRScanner.prepare()`), it throws with this error:
[code]

Steps to reproduce:
Download [attachments.zip](https://github.com/driftyco/ionic-native/files/872350/attachments.zip)
[code]
now merge the

[2017-03-27 12:14] tscislo-lingaro opened #1266 "ionic-native vs @ionic-native/core?"
Hello,
What is the difference between https://www.npmjs.com/package/ionic-native and https://www.npmjs.com/package/@ionic-native/core ?
I know that core is just core for ionic-native, but I'm more interested if those versions go hand in hand?

[2017-03-27 12:47] ValentinKlinghammer commented on #1266
No, they don't. `@ionic-native/core` is the current version (3.x) and let's you choose each individual module instead of including them all at once like the old version `ionic-native` (2.x) did. Since the naming is different, I assume the old npm package is kept (also for backwards compatibility).

For more details, see *"Usage"* in the [Docs](https://ionicframework.com/docs/v2/native/).

[2017-03-27 13:11] oborudko commented on #1265
I had same error after switching to ionic-native3 when using .find on Contacts plugin,

[code]
extract from packages.json
[code]

example code usage
[code]

[2017-03-27 13:28] ihadeed commented on #1264
Try updating `@ionic/app-scripts`.

I can't reproduce this issue with the latest version of Ionic 2.

[2017-03-27 13:29] #1266 closed

[2017-03-27 13:50] jgw96 opened #1267 "How to pass custom params in to GoogleMapsMarkerOptions"
_From @narayansikarwar on March 27, 2017 9:23_

There is no option to pass some custom data in to **GoogleMapsMarkerOptions** typescript wrapper. So we need some property for passing custom data to **GoogleMapsMarkerOptions** like **params**.
Because cordova native map plugin already have these options like
[code]

Here 'myMsg': 'Hello' is a custom parameter.

_Copied from original issue: driftyco

[2017-03-27 13:52] javico2609 commented on #1261
ok, thx

[2017-03-27 14:25] ramoncarreras commented on #1165
Yes. I'm facing this same issue with ionic-native **3.2.4**.

My system information:

[2017-03-27 15:13] jonaszuberbuehler opened #1268 "Secure Storage: .create() Promise never resolved/rejected in browser"
Calling `secureStorage.create()` in browser (`ionic serve`) the returned Promise is never resolved/rejected when run in browser.

I'm using the following code:

[code]

None of the callbacks gets ever called. The same works perfectly for all the other plugins I'm using.

Anything I'm missing here?

[2017-03-27 16:24] theomathieubhvr commented on #1252
Sorry for that, it's a mistake I did.

[2017-03-27 16:36] #1252 closed

[2017-03-27 16:38] AlFalahTaieb opened #1269 "Error: Uncaught (in promise): ReferenceError: MarkerClusterer is not defined"
I'm trying to build with Ionic 2 Gelocation + Clusters

I always get this error :/ is there a solution ?

`Runtime Error
Uncaught (in promise): ReferenceError: MarkerClusterer is not defined ReferenceError: MarkerClusterer is not defined at http://localhost:8100/build/main.js:82961:17 at t.invoke (http://localhost:8100/build/polyfills.js:3:9655) at Object.onInvoke (http://localhost:8100/build/main

[2017-03-27 17:24] ihadeed commented on #1269
From what I see in the stack trace, this doesn't look like an Ionic Native issue.

[2017-03-27 17:25] ihadeed commented on #1268
Sorry, the documentation is wrong/outdated. The plugin doesn't support the browser platform.

[2017-03-27 17:26] #1268 closed

[2017-03-27 18:17] wbhob opened #1270 "Intercom Plugin"
It would be amazing if someone made a cordova-intercom plugin wrapper.

[2017-03-27 18:26] ihadeed commented on #1267
Hey @narayansikarwar

You can use the `get` and `set` methods to add custom data.

[code]

[2017-03-27 18:26] #1267 closed

[2017-03-27 18:26] #1269 closed

[2017-03-27 18:27] ihadeed commented on #1265
Fixed in `3.3.0`.

[2017-03-27 18:27] #1265 closed

[2017-03-27 18:28] ihadeed commented on #1264
Can you also upgrade `@ionic-native/core` to `3.3.0` or downgrade to `3.2.3`. Version `3.24` has a bug, not sure if it's causing this issue but it's worth a try.

[2017-03-27 18:28] ihadeed commented on #1253
This issue was moved to driftyco/ionic-starter-super#86

[2017-03-27 18:28] #1253 closed

[2017-03-27 18:29] arielgelbard commented on #1021
I do use the back button method in platform then call the 'back as home' trigger method to trigger a minimize...the plugin you suggest accomplishes the same thing...I am suggesting that a 'minimize' plugin be integrated into Ionic Native....

[2017-03-27 18:34] jonaszuberbuehler commented on #1268
@ihadeed Thanks for your answer. But in this case should't the Promise be rejected with a meaningful reason?

[2017-03-27 18:54] ihadeed commented on #1268
Just pushed a commit to fix that :)

[2017-03-27 18:55] jonaszuberbuehler commented on #1268
@ihadeed Awesome, thx :)

[2017-03-27 19:00] #1185 closed

[2017-03-27 20:01] ihadeed commented on #1057
This is added now and available in latest version.

[2017-03-27 20:01] #1057 closed

[2017-03-27 20:02] ihadeed commented on #990
This plugin was added awhile ago. Sorry I forgot to update this issue.

[2017-03-27 20:02] #990 closed

[2017-03-27 20:02] ihadeed commented on #783
This was added awhile ago. Sorry I forgot to update this issue.

[2017-03-27 20:02] #783 closed

[2017-03-27 20:03] #710 closed

[2017-03-28 03:41] bjakubiak opened #1275 "SQLite plugin: echoTest() and deleteDatabase() fails"
When ran on SQLiteObject it throws

I ran it on iOS device, @ionic-native/sqlite versions from 3.1.0 to 3.3.0.

Maybe both echoTest() and deleteDatabase() methods should belong to SQLite class rather than to SQLiteObject?

[2017-03-28 06:18] ihadeed commented on #1275
Are you using `@ionic-native/core@3.2.4` ?

If so, please update that package, as that version has a bug.

[2017-03-28 06:22] ihadeed commented on #1275
Just checked, you're right the methods should be part of the SQLite class. I will fix this soon.

[2017-03-28 07:49] GavinHellyer opened #1277 "Background Mode Configuration"
The Background Mode plugin is missing a few options on the BackgroundModeConfiguration interface, most importantly the icon option. Please refer to the [Cordova Plugin](https://github.com/katzer/cordova-plugin-background-mode) for more information.

I have attached a snip from their documentation. If the rest of the options could be added that would be great.

[code]

I have tested manually updati

[2017-03-28 08:04] oborudko commented on #1265
Still getting the error, after update to 3.3.0,
[code]

[code]

[code]

[2017-03-28 08:28] #1275 closed

[2017-03-28 08:31] #1277 closed

[2017-03-28 09:06] omgalbert commented on #1169
Thanks for you answers guys.

The problem is that I'm trying to open a web page using _blank as well but it doesn't show the browser window in the webview.

[2017-03-28 09:08] ihadeed commented on #1169
@omgalbert
None of the In App Browser plugins we have will open a URL inside of your current WebView.

To achieve that kind of functionality, you will need to use an iframe.

[2017-03-28 09:35] tkem commented on #823
Any news on this? I still see ionic-native making claims about "easy to use plugins with Angular change detection" on its front page...

[2017-03-28 10:23] omgalbert commented on #1169
@ihadeed
to open a url, has the option closebuttoncaption, it means there is the possibility to show a button to close the browser opened and come back to the application. Android doesn't have any problem because it has the back button, but for not ios .

This is what I want and currently it's not working:
![capture](https://cloud.githubusercontent.com/assets/5729856/24400597/e519e904-13a8-11e7-95

[2017-03-28 10:40] ihadeed commented on #1169
Not sure why you're not getting the toolbar with the `Done` button. Can't see anything wrong with the Ionic Native wrapper.

I will test this out when I get a chance.

In the meanwhile, may I suggest using the `BrowserTab` plugin: https://ionicframework.com/docs/v2/native/browser-tab/

[2017-03-28 10:44] ihadeed commented on #823
This issue can be fixed by upgrading your app to use Angular 4 instead of Angular 2.

At the moment, the official Ionic 2 app base still uses Angular 2. My guess is that they will upgrade it to Angular 4 once Ionic 3 is ready for production.

I'm using `ionic-angular@2.3.0` with Angular 4 in this demo app here and it works well: https://github.com/ihadeed/ionic-native-playground

[2017-03-28 10:49] #1170 closed

[2017-03-28 10:49] #485 closed

[2017-03-28 10:49] #571 closed

[2017-03-28 11:18] narayansikarwar opened #1278 "alert popup buttons are not working on native cordova google map."
When I click on OK button inside alert then map zoom is triggered and alert button is not clicking. So can you please tell how it's working with native map.

![capture](https://cloud.githubusercontent.com/assets/19340500/24402438/3ceb558c-13d6-11e7-8262-d4943a365c6c.PNG)

[2017-03-28 11:32] theunreal opened #1279 "Admob misstype & missing api"
I'm trying to use admob with ionic 2 project using the latest ionic-native
1. the name of the package in the docs is wrong: https://ionicframework.com/docs/v2/native/admob/

import { AdMob, AdMobOptions, AdSize, AdExtras } from '@ionic-native/ad-mob';

should be
import { AdMob, AdMobOptions, AdSize, AdExtras } from '@ionic-native/admob';

2. This is currently impossible to detect when the user can

[2017-03-28 11:57] #1279 closed

[2017-03-28 12:06] ihadeed commented on #1278
I think this is because the native map is handling all the click events, and the actual Alert component isn't receiving them.

What I would do in this situation is use the `Dialogs` plugin to display a native Dialog instead of the Ionic Framework's Alert component.

I'm closing this issue since it's not an Ionic Native issue. I suggest seeking help in the Ionic Forums to see if anyone else has fou

[2017-03-28 12:06] #1278 closed

[2017-03-28 12:07] gabrielmuresan opened #1280 "@ionic-native/sqlite forced into AMBIGUOUS call"
The typescript definition for sqlite requires the user to use `SQLiteDatabaseConfig` when opening a new database, but the cordova plugin decides that this is AMBIGUOUS call because location AND iosDatabaseLocation properties must be specified.
[code]

the plugin only understands only when one or the other are present

[2017-03-28 12:08] ihadeed commented on #1280
Thanks, I'll fix this now.

[2017-03-28 12:09] #1280 closed

[2017-03-28 12:30] ihadeed commented on #1248
I'm using the Camera Preview plugin here without any problems: https://github.com/ihadeed/ionic-native-playground/blob/master/src/pages/camera-preview/camera-preview.ts

Make sure you have the right plugin installed. I also recommend installing the plugin from the repo instead of NPM, as they haven't updated their NPM package yet.

[code]

[2017-03-28 12:30] #1248 closed

[2017-03-28 12:33] tkem commented on #823
Great news, @ihadeed, thank you!

[2017-03-28 12:45] cataragak90 commented on #1264
ok, I upgraded some packages & ionic version, now I dodn't have that error anymore but I execute the command "ionic build android --prod" and I wait and nothing happens ( for about 10 - 15 min)
- ionic version: 2.2.1
- @ionic-native: 3.3.0
- @ionic/app-scripts: 1.2.1

ionic build android --prod

[2017-03-28 12:49] #1210 closed

[2017-03-28 12:51] ihadeed commented on #1264
What is the last thing you see in the command prompt before it freezes?

[2017-03-28 12:55] ihadeed commented on #1159
Just updated the PhotoViewer plugin along with many others.

I'll make sure all plugins have the platforms documented when I get some time.

Feel free to submit pull requests to improve any plugin's documentation!

[2017-03-28 12:55] #1159 closed

[2017-03-28 13:06] cataragak90 commented on #1264
http://screencloud.net/v/A1gP7

[2017-03-28 13:07] #1173 closed

[2017-03-28 13:10] ihadeed commented on #1264
Not sure what the problem is here, but here are a few things to try to narrow the issue down:
- `npm run build --prod` instead of `ionic build`
- `rm -rf node_modules && npm install` to re-install your node modules in case something is messed up there

[2017-03-28 13:11] ihadeed commented on #1216
You can visit the plugin repositories to see examples, or you can check out this personal project here to see lots of plugins in action: https://github.com/ihadeed/ionic-native-playground

[2017-03-28 13:11] #1216 closed

[2017-03-28 13:14] ihadeed commented on #1184
Try using this fork: https://github.com/Switch168/cordova-HTTP. Works best for me.

[2017-03-28 13:20] ihadeed commented on #1167
Seems like an issue with the plugin and not Ionic Native. I see a few related issues there.

Try throwing a console log inside your `.then` block to see if the callback is being called at all or it's crashing before that.

[2017-03-28 13:20] #1167 closed

[2017-03-28 13:21] ihadeed commented on #1172
Sorry forgot to update this issue. The signature has been updated, just make sure to install the plugin from the repo.

[2017-03-28 13:21] #1172 closed

[2017-03-28 13:22] ihadeed commented on #1068
I just tested this out using the latest version of plugin + ionic native, can't reproduce the issue.

[2017-03-28 13:22] #1068 closed

[2017-03-28 13:28] #1165 closed

[2017-03-28 13:30] RafaelKr commented on #1265
Same for me with `"@ionic-native/core": "^3.4.0"`.
@oborudko Is my workaround working for you?

[2017-03-28 13:32] ihadeed commented on #1265
@RafaelKr  Update `@ionic-native/contacts` to latest version as well.

[2017-03-28 13:34] RafaelKr commented on #1265
I'm not using @ionic-native/contacts
I created this issue, because this happens with the plugin-wrapper I wrote for `cordova-plugin-qrscanner`.

[2017-03-28 13:39] ihadeed commented on #1265
@RafaelKr I can't tell what's wrong with it without seeing the source code.

Make sure your `@Plugin` decorator is there and has at least the following properties in it's config: `pluginName`, `plugin`, and `pluginRef`.

[2017-03-28 13:41] RafaelKr commented on #1265
The code is in attachements.zip which is attached in the first post of this issue. (https://github.com/driftyco/ionic-native/files/872350/attachments.zip)
I have all properties defined.

[2017-03-28 13:43] cataragak90 commented on #1264
no, it doesn't work, it also freezes...
I tried to build the same app but using "ionic-native" instead of "@ionic-native 3.x", and it works fine

[2017-03-28 13:48] ihadeed commented on #1265
@RafaelKr

- the class needs `@Injectable()` decorator (imported from `@angular/core`)
- all methods should NOT be static

If you are planning to submit this wrapper as a PR, few more notes:
- the `QRScanner` class will be imported from `@ionic-native/qr-scanner`. This needs to be fixed in the `@usage` section of the docs
- the `@name` tag in the docs should read `QR Scanner`
- the `QRScannerStatu

[2017-03-28 13:51] RafaelKr commented on #1265
Thank you! I will follow your guidance.

[2017-03-28 14:04] louisdoe opened #1282 "unmet dependency with @ionic-native/device"

[2017-03-28 14:08] #1282 closed

[2017-03-28 14:13] aamir1995 opened #1283 "Firebase plugin says "plugin not installed" but plugin is installed already"
**System info:**
Cordova CLI: 6.0.0
Ionic Framework Version: 2.0.0-rc.5
Ionic CLI Version: 2.2.1
Ionic App Lib Version: 2.2.0
Ionic App Scripts Version: 1.0.0
ios-deploy version: Not installed
ios-sim version: Not installed
OS: Windows 10
Node Version: v6.8.1
Xcode version: Not installed
Ionic Native Version: @ionic-native/core": 3.1.0

**Description:**
The ionic native plugin for Firebase is inst

[2017-03-28 14:20] ihadeed commented on #1283
You're calling the plugin before `deviceready` has fired.

Wrap your call with `this.platform.ready().then(() => { ... });`

[2017-03-28 14:20] #1283 closed

[2017-03-28 14:43] Sampath-Lokuge commented on #549
Hi @ihadeed

Can you please tell me how to use it? I have a huge problem now with the latest in app browser plugin.
You can see the issue here.Hope I can resolve that issue if I use above plugin.Hence it has a back button to the app.Please help me for this.Thanks.

[**Stackoverflow**](http://stackoverflow.com/questions/43069812/how-to-get-back-to-the-app-after-in-app-browser-view)

[**Video about

[2017-03-28 15:01] Ghayyas opened #1284 "Cant Resolve all parameters for SQLiteObject (?)"
Hello Ionic Developers. Im currently working with Ionic 2 using Sqlite from Ionic native. I'm having Issue with this. I need to Insert into table I have write query and codes but its not working. I have also Inject `SqliteObject` in `ap.module.ts` But when I tried to make apk It gave me run time error with.

`Can't resolve all parameters for SQLiteObject`.
And also I need to understand What is the

[2017-03-28 15:02] rosterrier opened #1285 "3.4.1 network folder empty"
only README.md and package.json included

[2017-03-28 15:25] ihadeed commented on #1285
Fixed now. Update to `3.4.2`.

[2017-03-28 15:25] #1285 closed

[2017-03-28 15:33] ihadeed commented on #549
@Sampath-Lokuge see http://ionicframework.com/docs/v2/native/themeable-browser/

[2017-03-28 15:49] Sampath-Lokuge commented on #549
Hi @ihadeed

Oh.. Thanks a lot.I'll try that.One question, Can you please tell me what do you think about the issue which I have mentioned on above URL? How can I resolve that issue? I'm trying to find a solution for that whole day.But no luck yet.Do you have any workaround at least? Thank you.

[2017-03-28 16:18] AmitMY opened #1287 "NativeAudio.preloadSimple throws `cordova_not_found` error"
Doing NativeAudio.preloadSimple on browser throws a cordova_not_found error. Can be catched, but if I understand correctly you are catching it yourself so you can `console.warn` instead, right?

[2017-03-28 17:34] rashnk commented on #1264
--prod build failed after adding a plugin, no provider for Camera

[2017-03-28 19:31] gacalves commented on #686
Thanks a lot @mosca90  !
Works fine!

[2017-03-29 00:03] FdezRomero opened #1288 "SocialSharing: Add missing methods (setIPadPopupCoordinates)"
Hi there!

I noticed there are some missing methods in the SocialSharing plugin, especially `setIPadPopupCoordinates`, which is needed to specify the position and size of the button the user has pressed so that the sharing popup on iPad can be positioned according to Apple's guidelines. And as you all know, not doing this may be a reason for app rejection.

Would also be a good opportunity to revi

[2017-03-29 05:45] amerzad opened #1290 "Upgrading to version 3 results in @ionic-native/network folder empty of js files"
And also a truncated package.json file.
I tried several versions, and also tried to clear the npm cache, but no success.

[2017-03-29 06:50] SVANNER commented on #1248
Hi ihadeed,

I got the same problem as johannpinson.
Thanks for your recommendations. It is working for Android, however, for the browser install i got the message "The provided path ".... /platforms/browser"is not a valid browser project at install/uninstall of the ionic plugin.

Did you experience the same problem ? Do you have a work-around ?

Thanks a lot !

[2017-03-29 06:52] rashnk commented on #1290
Due to major changes in native3 several issues when adding a plugin to existing project, i fixed by creating new starter project and copied existing src folder, added plugins again, also inject in module.ts,

[2017-03-29 07:35] ramoncarreras commented on #1290
Same problem here. I had to downgrade to 3.3.2 version.

[2017-03-29 08:09] richardgcosgrove opened #1291 "@ionic-native/admob admoboptions lacks license parameter"
The package should have an option for setting license for anyone who purchases one like the cordova plugin does. For example:

`this.admob.createBanner({
        license: 'My License'
        adId: this.admobid.banner,
        position: this.admob.AD_POSITION.BOTTOM_CENTER,
        autoShow:true
      });
`

[2017-03-29 09:30] arsewizz opened #1293 "twilio plugin"
Thanks for the great work with ionic native, just to know if there is a plan for the twilio plugin ?

[2017-03-29 10:56] gboyegadada opened #1294 "@ionic-native/native-page-transitions docs too vague"
I've been trying to use the native page transitions module following instructions here (https://ionicframework.com/docs/v2/native/native-page-transitions/) without any luck. Can docs be updated to show usage clearly? Also it seems there are no ionic 2 examples anywhere online (I've looked since yesterday). The following would save my life:

1. Where each code snippet should be placed in what file

[2017-03-29 11:12] sfolador opened #1295 "Native: tried accessing the SecureStorage plugin but it's not installed."
Hi, i followed the guide here:

http://ionicframework.com/docs/v2/native/secure-storage/

but I still receive this error: Native: tried accessing the SecureStorage plugin but it's not installed.
What did I do wrong?

[2017-03-29 11:15] FdezRomero commented on #1290
Which version of `npm` are you guys using?

You can also get around this by listening to the `online` and `offline` events on `window`, which is a web standard and works in Cordova if you have `cordova-plugin-network-information` installed. Plus it will work in a PWA with the same code:

[code]

Remember to use `declare var window;` before the class so TypeScript won't complain.

[2017-03-29 11:19] amerzad commented on #1290
Node v6.10.0
Npm 3.10.10

[2017-03-29 11:31] FdezRomero commented on #1290
@amerzad Looks good. I have the same node/npm version and no problems with other plugins on 3.4.2 (I'm using this one through `window` as in my previous comment).

Are you using other `@ionic-native` packages on 3.4.2? Do they also fail?

[2017-03-29 11:32] cataragak90 commented on #1264
@rashnk did you include Camera in providers?

[2017-03-29 11:35] anchitdurairaj commented on #806
I have got the same problem while writing the image to device(Android)  , understood from the above information that writing as blog make the problem , but the fileWriter method will only accept blob and will never accept Array buffer , can any one explain in brief how to write the image captured from camera to a location in the device ...

[2017-03-29 12:26] ihadeed commented on #1293
Could you please provide the link to the actual plugin?

[2017-03-29 12:29] ihadeed commented on #1290
Update to the latest version of the plugin and it should work fine.

This was an issue in 3.4.1 I think.

Sorry for not mentioning this in release notes. I'll update it when I get a chance.

[2017-03-29 12:29] #1290 closed

[2017-03-29 12:35] matudelatower opened #1296 "We could create examples for each listed plugin"
example Facebook:

in my `app.modules.ts`

[code]

and add custom response from every requestURI

[2017-03-29 13:31] azakusilo opened #1297 "[ionic-native 3.4.2] TypeError: plugin.constructor.getPluginRef is not a function"
Hello I wrote a wrapper for [ionic native push plugin](http://ionicframework.com/docs/v2/native/push/). But after the App is starts. It's get a error TypeError: plugin.constructor.getPluginRef is not a function.
Here is a code of my wrapper:

[code]
I got lastest installed packeges:

[code]

[2017-03-29 18:45] danielflippance opened #1299 "Ionic 2 App Preferences gives Plugin Not Installed"
I'm using Ionic 2 and have installed the AppPreferences plugin and it's prerequisites as per the docs. When calling fetch I receive a "plugin not installed" error similar to this issue with Ionic 1 https://github.com/driftyco/ionic-native/issues/438.

Here's how I installed:

    $ ionic plugin add cordova-plugin-app-preferences
    $ npm install --save @ionic-native/app-preferences

Fetch the pre

[2017-03-29 19:59] amymarsh4work opened #1300 "Ionic SecureStorage: Running on Android Uncaught Syntax Error "_native: Can't resolve all parameters...""
After moving to ionic-native 3 core and reinstalling the SecureStorage plugin, I'm getting the following error (below). The project won't even load onto the phone. Things I've tried that didn't help:
- Changed code to match example in documentation
- Included SecureStorage and SecureStorageObject in providers array in app.module.ts
- Installed in a fresh, empty project created last week
- Used bot

[2017-03-29 21:22] danielflippance commented on #1299
Strangely I notice that .store does work with no error, and the promise is returned correctly:

    this.appPreferences.store('mysetting', 'thenewvalue')
    .then(function(value) { //This gets successfully called });

[2017-03-29 22:38] ihadeed commented on #1287
Yes, you're right.

[2017-03-29 23:01] ihadeed commented on #1248
@SVANNER

[code]

[2017-03-29 23:17] ihadeed commented on #1300
You only need to inject `SecureStorage`. You shouldn't inject `SecureStorageObject`.

[2017-03-29 23:21] #1297 closed

[2017-03-29 23:21] #1291 closed

[2017-03-29 23:21] #1294 closed

[2017-03-29 23:21] #1299 closed

[2017-03-29 23:58] danielflippance commented on #1299
I've installed 3.4.3 and .fetch() now returns:

    {"__zone_symbol__state":false,"__zone_symbol__value":"plugin_not_installed"}

[2017-03-30 00:38] ihadeed commented on #1299
`.fetch()` returns a promise now.

[2017-03-30 01:30] crscaballero commented on #1178
Thanks so much, i have the same problem

[2017-03-30 07:50] AmitMY opened #1302 "Serve/Browser support for core plugins"
Currently, dialogs & spinner dialog are not supported in browser / serve mode.

So I have a method to show a dialog, which goes like this:
[code]

And a more complex method for spinner dialog, which conditionally injects the spinnerDialog, or LoadingCtrl.

And to get the user's language I do:
[code]

https://ionicframework.com/docs/v2/native/action-sheet/
should use
https://ionicframework.com/docs

[2017-03-30 08:03] Schwobaland opened #1303 "Plugin-Request: parse-push-plugin"
We are using parse-server for push-notifications. An ionic-native-plugin would be very nice :)

Maintained version of cordova-plugin is here: https://github.com/taivo/parse-push-plugin

Thanks! :)

[2017-03-30 08:04] AmitMY commented on #1287
I am right - so is this expected to be catched, or I am right that you are catching most errors from most plugins?

[2017-03-30 08:40] azakusilo commented on #1297
I Updated my package but still have the same error in the same place of code on check hasPermission

[2017-03-30 12:01] dorgold opened #1304 "Plugin request: phonegap-mobile-accessibility"
Hey,

I would love to see https://github.com/phonegap/phonegap-mobile-accessibility added to ionic-native. This is a plugin which exposes the phone accessibility properties in cordova.

[2017-03-30 12:33] cocowalla commented on #881
@megharajdeepak you are unzipping the SQLite database file to `applicationStorageDirectory + '/library/localdatabase/'`, but your `openDB()` function seems to be opening a file from a different path - surely that just creates a new, empty database?

[2017-03-30 12:44] megharajdeepak commented on #881
@cocowalla While opening the db, following code is used. If it's ios, 'iosDatabaseLocation' would be used as default, while for android, 'location' would be used as default. In both the cases, DB would point to the same location where it was downloaded and unzipped.

`

if(this.platform.is('ios')){
            dbObj = {name: "appdata.db", iosDatabaseLocation: 'default'};

        }else if(this.pla

[2017-03-30 12:57] cocowalla commented on #881
@megharajdeepak ah, I see, so `default` is mapped to `applicationStorageDirectory + '/library/localdatabase/'` by the SQLite plugin?

I'm working in an emulator right now - do you know if this should work in the Android emulator? When I try it, it always seems to create a new, empty database, rather than using the one that was downloaded.

[2017-03-30 14:37] amymarsh4work commented on #1300
Ibby,
Thanks for your prompt reply. I removed SecureStorageObject from the providers array and it worked fine. :)
- Amy

[2017-03-30 14:37] #1300 closed

[2017-03-30 14:40] cocowalla commented on #881
@megharajdeepak I figured it out, the path does differ for Android, so you need something like:

[code]
Thanks for the sample you gave, it was really helpful for downloading and using pre-populated SQLite databses 👍

[2017-03-30 17:30] danielflippance commented on #1299
Thanks. I'm now seeing an error when .then() is called:

    this.appPreferences.fetch('mysetting').then(function(res) {
      alert('++ Fetch succeeded res: ' + JSON.stringify(res));
    }, function(err) {
      alert('++ Fetch err: ' + JSON.stringify(err));
    });

Outputs:

    ++ Fetch err: "plugin_not_installed"

[2017-03-30 18:41] rivailruiz commented on #1284
Hi. I'm going through the same problem. Can someone help us?

[2017-03-30 19:23] danielflippance commented on #1299
Solved by waiting for platform ready:

    platform.ready().then(() => { .this.appPreferences.fetch().then()... }

[2017-03-30 19:49] ihadeed commented on #1287
We only catch the errors that our decorators generate: `cordova_not_found` and `plugin_not_installed`.

[2017-03-30 19:51] ihadeed commented on #1284
You're not supposed to inject `SQLiteObject` in your module. Only `SQLite`.

[2017-03-30 19:51] #1284 closed

[2017-03-30 20:00] ihadeed commented on #1297
@azakusilo just updated the push plugin.

`hasPermission` should be part of the `Push` class and not `PushObject`.

Correct usage is:
[code]

[2017-03-30 20:33] AmitMY commented on #1287
So, letting you know:
`Error: Uncaught (in promise): cordova_not_available`
When using native audio plugin on serve

[2017-03-30 20:52] ihadeed commented on #1287
I'm unable to reproduce this with latest version of `@ionic-native/core` and `@ionic-native/native-audio'.

What version of Ionic Native are you using?

[2017-03-30 20:59] Ghayyas commented on #1284
I have Implement `SQLite` But it still having issue..

[2017-03-30 21:01] ihadeed commented on #1284
@Ghayyas can you share your code here, and what is the issue that you are having

[2017-03-30 21:01] Ghayyas commented on #1284
@rivailruiz I have made Simple Demo SQLite core In ionic 2 with CRUD operation. You can see it here..
https://github.com/TeamClouders/Ionic-2-sqlite-demo

[2017-03-30 21:02] AmitMY commented on #1287
Perhaps it is the way I am doing it..
Version:`3.4.3`

I am using it outside of angular context, so I import the injector, and then:
[code]

*The injector is the angular injector

[2017-03-30 21:03] Ghayyas commented on #1284
@ihadeed I have tried using Ionic native. But it always gave me new errors. So I have done it with SQLite Core. NOT IONIC NATIVE...

[2017-03-30 21:09] ihadeed commented on #1287
I don't think it makes a difference.

[2017-03-30 22:06] arsewizz commented on #1293
thanks for the reply. here is the link https://github.com/jefflinwood/twilio_client_phonegap

[2017-03-30 22:24] iursevla commented on #881
@cocowalla  are you using cordova-sqlite-ext instead of cordova-sqlite-storage to open pre-populated databases?

[2017-03-31 04:56] rivailruiz commented on #1284
@Ghayyas thank you for it. It Works it for me 👍

[2017-03-31 08:32] Manduro opened #1307 "Transfer plugin stuck at 3.4.3"
Have a look at https://www.npmjs.com/package/@ionic-native/transfer

All other plugins have updated to 3.4.4, but this one hasn't. Muse be some publishing issue?

[2017-03-31 09:48] cocowalla commented on #881
@iursevla `cordova-sqlite-storage`

[2017-03-31 11:23] iursevla commented on #881
@cocowalla but with cordova-sqlite-storage you can use pre-populated databases?
I used cordova-sqlite-ext to open pre-populated databases but now i can't use it because when i install the types for sqlite it won't contain the method **openDatabase(options)** in the SQLite interface.

[2017-03-31 12:43] cocowalla commented on #881
@iursevla

Yes, `cordova-sqlite-storage` is working with pre-populated databases.

The `openDatabase` method has been renamed to `create`, which despite the misleading name only actually *creates* a new database if the specified file doesn't already exist.

[2017-03-31 12:51] iursevla commented on #881
@cocowalla Thank you. Even ionic 2  official docs still talk about openDatabase method.

[2017-03-31 15:40] kamok commented on #1264
This problem only occurs after installing `"@ionic-native/core": "^3.4.4",` which I need to for the `@ionic-native/barcode-scanner`...I can build without `--prod` fine.

[2017-03-31 17:36] 8BallBomBom opened #1309 "Request to add additional Database plugins"
Hey There.

I'm using this plugin https://github.com/litehelpers/Cordova-sqlcipher-adapter instead of this plugin https://github.com/litehelpers/Cordova-sqlite-storage

Everything is working as expected since it is the same as SQLite just with encryption functionality.
The issue i'm having is this.

When creating or opening a database you can specify a key to encrypt the database.
https://github.c

[2017-03-31 19:45] kamok commented on #1264
The latest version of `ionic-app-scripts` is giving me issues. I could not build even without `ionic-native/core`. The only version that works for me for `ionic-app-scripts` is `1.2.2`.

Here's my Ionic info:
[code]

[2017-03-31 20:20] recyclethis opened #1310 "App Preferences & ionic package build"
I believe that cordova-plugin-app-preferences does not work properly with ionic package build. To generate your preferences pane you configure your preferences in a app-settings.json file which I believe is not uploaded to the ionic package servers. The sneaky thing is, the plugin uses a default app-settings.json file if it cannot find the developer configured one so you get a preferences panel in

[2017-03-31 20:38] jgw96 opened #1311 "Build failed ionic 2"
_From @IvanLencina on March 31, 2017 20:16_

**Ionic version:**  (check one with "x")
[ ] **1.x**
[x] **2.x**

**I'm submitting a ...**  (check one with "x")
[x] bug report
[ ] feature request
[ ] support request => Please do not submit support requests here, use one of these channels: https://forum.ionicframework.com/ or http://ionicworldwide.herokuapp.com/

**Current behavior:**

After I install

[2017-04-01 09:46] flyingfisher opened #1312 "No decorator to set listener"
I have a method, need to convert to observable.

method:  setNotificationListener()
this method only take one param, to pass a function to receive notification.
e.g.  setNotificationListener(data => console.log('notification', data));

How can I convert it to observable?
I tried following decorator options:
1.
    observable: true
    successIndex: 0  (try both with and without this)
2.
    event:

[2017-04-01 11:10] ihadeed commented on #1311
Do you have `@ionic-native/core` installed?

[2017-04-01 11:15] ihadeed commented on #1310
See https://github.com/apla/me.apla.cordova.app-preferences#preferences-interface-generator

The plugin creates `app-settings.json` for you in the root directory of your app, see here: https://github.com/ihadeed/ionic-native-playground/blob/master/app-settings.json

Just modify that file.

[2017-04-01 11:15] #1310 closed

[2017-04-01 12:45] AmitMY commented on #1287
@ihadeed Repro:
https://github.com/AmitMY/ionic-native-audio-error
How:
- `ionic start` a menu app
- add `@ionic-native/native-audio` to package, module, and app
- inject the `injector`
- when platform ready, inject `NativeAudio` and load something

[2017-04-01 18:10] IvanLencina commented on #1311
@ihadeed  Yes. I included it in my package.json and I did `npm install`

[2017-04-01 23:07] louisdoe opened #1314 "unable to npm install globalization with ionic 2.2.0, Unmet dependencies"
Hi

I am trying to install globalization plugin to access .getPreferredLanguage() in my ionic 2 app, but I get this UNMET DEPENDENCY error.

[code]

$ ionic info

Your system information:

Cordova CLI: 6.5.0
Ionic CLI Version: 2.2.1
Ionic App Lib Version: 2.2.0
ios-deploy version: Not installed
ios-sim version: Not installed
OS: Linux 4.4
Node Version: v7.4.0
Xcode version: Not installed

here my

[2017-04-02 05:58] ihadeed commented on #1307
Just fixed it.

[2017-04-02 05:58] #1307 closed

[2017-04-02 05:59] SVANNER commented on #1248
@ihadeed

Working now! Thanks a lot!

[2017-04-02 20:19] speedfl commented on #1160
Hello.

Any news on it ?

Thanks a lot

Best regards

[2017-04-03 09:35] luckylooke opened #1316 "FileChooser plugin not installed"
Following steps here: https://ionicframework.com/docs/native/file-chooser/
I am getting **"plugin_not_installed"**

I am calling `fileChooser.open()` in button click handler, so platform is ready. I was also trying to encapsulate into `platform.ready().then(...)`, didnt help.

I have had similar problem with barcodescanner, I have fixed it by adding a line into config.xml:
`<plugin name="phonegap-

[2017-04-03 11:25] logicerpsolution opened #1318 "admob plugin not working on ios"
i have created and integrated my admob id and plugin in my app but when i build it for ios and run on simulator it shows nothing .....
do i also need firebase admob sdk for ios to work it properly??

[2017-04-03 12:59] recyclethis commented on #1310
Thanks Iadeed. My point was that it seems the ionic package system doesn't upload that file to the build servers, so while you do get a preference pane generated, it is always the sample settings installed by the plugin and any changes to the app-settings.json file are not included in the build. It seems to be an issue with the ionic package system and not this plugin, but it would be great if som

[2017-04-03 15:15] bvx89 commented on #1316
Have you tried to remove/add plugin again? Have you verified that the plugin has been included in your platform code? If you're using ionic-native 3, have you added the native plugin in app.module.ts as a provider?

[2017-04-03 15:40] rodneyjoyce opened #1319 "New version of google-analytics-plugin incompatible with latest Ionic Native"
Hello,

My Ionic cloud builds started failing this morning with no source code change on my side.

It looks like a new breaking change was made in 1.7.6 with the GetVar method - https://github.com/danwilson/google-analytics-plugin/blob/master/browser/UniversalAnalyticsProxy.js

This causes this error:

![image](https://cloud.githubusercontent.com/assets/3522966/24617543/d2f764ee-1859-11e7-8cf7-62d

[2017-04-03 19:35] luckylooke commented on #1316
😇 I am so sorry, my fault.. I didnt realise that FileChooser plugin is not included in Ionic View App bundle.. see here: https://docs.ionic.io/tools/view/

I am sorry.. @bvx89 Thanks you for reply anyway!

[2017-04-03 19:35] #1316 closed

[2017-04-03 20:31] fredroo opened #1320 "Error in import and Brazil currency"
IN: https://ionicframework.com/docs/native/paypal/
this right way to import: import { PayPal, PayPalPayment, PayPalConfiguration } from '@ionic-native/paypal';

and BRL currency not work, but paypal cordova plugin work with BRL currency

[2017-04-03 20:34] fredroo commented on #1319
i also have this problem

[2017-04-03 20:50] rodneyjoyce commented on #1319
Ok, did the fix above work for you?

[2017-04-04 01:10] Rieranthony commented on #1264
Same problem for me ... I got this error when I tried to do "npm run build-android-release"

package.json :

`
  "dependencies": {
    "@angular/common": "2.2.1",
    "@angular/compiler": "2.2.1",
    "@angular/compiler-cli": "2.2.1",
    "@angular/core": "2.2.1",
    "@angular/forms": "2.2.1",
    "@angular/http": "2.2.1",
    "@angular/platform-browser": "2.2.1",
    "@angular/platform-browser-d

[2017-04-04 01:59] kamok commented on #1264
@Rieranthony I upgraded Ionic Framework version to 2.1 in my package.json and remove node_modules. Then npm cache clean followed by npm install worked for me.

[2017-04-04 04:57] Rieranthony commented on #1264
@kamok Thank you for your response but that didn't work for me!
Any others solutions? :/

[2017-04-04 07:19] ThomasKientz opened #1321 "[app-preferences] suite not working"
I used to use the suite method with this plugin like that :

[code]

I haven't succeed to use the suite with the wrapper, I have tried :

- in the constructor, with no success
[code]
- or like this but i got a type error : `"property fetch doesn't exist on type Object"`
[code]

[2017-04-04 08:31] johannpinson commented on #1248
hi @ihadeed

Works fine! Thanks 👍

[2017-04-04 10:18] SKempin opened #1322 "Native Google Maps code example error"
The example code on https://ionicframework.com/docs/native/google-maps/ has an error on line:
``` const marker: Marker = map.addMarker(markerOptions)```

which creates the following error:

[code]

[2017-04-04 13:39] ggiacomo commented on #982
Please add this
`var ref = new $cordovaInAppBrowser('https://google.com');`

somewhere in the main ionic documentation. Spent like 2h to solve this issue :(

[2017-04-04 14:00] ggiacomo commented on #982
@ihadeed , how to pass the option object to this new syntax?
This open the browser
`var ref = new $cordovaInAppBrowser('https://google.com',);`
but this  is not opening the browser
`var ref = new $cordovaInAppBrowser('https://google.com', '_blank,', {location:"no"});`

Thank you very much.

[2017-04-04 14:07] ggiacomo commented on #982
Ok I answer myself, the new syntax receive an option string instead the object
`'location=no,toolbar=no,...'`

[2017-04-04 18:55] IvanLencina commented on #1311
Could anyone help me please?

[2017-04-05 05:44] chenlitchian commented on #1264
After i add Network,

build prod failed: Cannot read property 'Plugin' of undefined, resolving symbol Network

[2017-04-05 06:02] chenlitchian commented on #1311
Yes, i have the same issue after install Network plugin

[2017-04-05 08:24] AmitMY opened #1326 "Deeplink `cordova_not_available`"
When doing: (on serve)
[code]

[2017-04-05 08:26] shivamsngh commented on #1264
Just updated my package deps as per ionic 2.2.0 and I am god to go. The error is gone and build is working.

  "dependencies": {
    "@angular/common": "2.4.8",
    "@angular/compiler": "2.4.8",
    "@angular/compiler-cli": "2.4.8",
    "@angular/core": "2.4.8",
    "@angular/forms": "2.4.8",
    "@angular/http": "2.4.8",
    "@angular/platform-browser": "2.4.8",
    "@angular/platform-browser-dyn

[2017-04-05 10:01] AmitMY opened #1327 "bug(callCordovaPlugin): Cannot read property 'apply' of undefined"
I get this error:

from time to time, on device.

It happens for many plugins, but this stack trace is specifically the Rollbar one.

I think it would be good to have a check before this line: https://github.com/driftyco/ionic-native/blob/9074362caea1a13923d818d6d9714bb6a254c435/src/%40ionic-native/core/plugin.ts#L130

Something like:

[code]

I think that in this case, as in many others, doing `c

[2017-04-05 14:03] wodka opened #1328 "YoutubeVideoPlayer not working in ionic serve"
The moment I try to inject YoutubeVideoPlayer in a Page it breaks.

and it would be nice to point people to https://github.com/JonSmart/CordovaYoutubeVideoPlayer because this fork works on newer android versions as well

[code]

[2017-04-05 14:52] SKempin commented on #1322
For anyone in need of a [temporary fix](http://stackoverflow.com/questions/43162460/type-promisevoid-is-not-assignable-to-type-marker-property-objectinstan/43204192?noredirect=1#comment73494052_43204192), remove the `Marker` variable.

```const marker = map.addMarker(markerOptions)```

[2017-04-05 17:15] AmitMY commented on #989
Was merged in v3

[2017-04-05 17:15] #989 closed

[2017-04-05 17:31] IvanLencina commented on #1311
@chenlitchian
It seems that we have to update some other dependency, since I start a new project (just to see the packaje.json) and are using the new @ ionic-native / core. Although I did not try to generate the --prod --release.

I have no idea why this may be happening. My app is already in development for 3 months and it is in production. I could not create a new project and copy the code, sinc

[2017-04-05 18:17] itsvee opened #1330 "Plugin request: Network Activity Indicator on iOS"
I want to use Network Activity Indicator on iOS for show use when downloading something. I see repo https://github.com/ohh2ahh/NetworkActivityIndicator but can't use in Ionic 2 because it doesn't have Type. Create it for me and everybody, please. Thank you very much 😃

[2017-04-06 05:33] aggarwalankush opened #1331 "@ionic-native/push not compiling - typescript error"
**Error in browser**

<img width="1440" alt="screenshot 2017-04-05 22 28 47" src="https://cloud.githubusercontent.com/assets/8744282/24739177/8b83d352-1a4f-11e7-8f8d-7d19566b37dc.png">

**Push notification code**

<img width="1440" alt="screenshot 2017-04-05 22 32 24" src="https://cloud.githubusercontent.com/assets/8744282/24739222/d096f064-1a4f-11e7-955d-cd42efcad08d.png">

**package.json file**

[2017-04-06 07:08] moldstadt opened #1332 "Lock orientation not working in latest"
After upgrading from ionic-native (v2) to @ionic-native/screen-orientation (v3.4.4) I get the following error when trying to lock screen orientation with the following code:
`this.screenOrientation.lock(this.screenOrientation.ORIENTATIONS.PORTRAIT);`

Runtime error:
`Uncaught (in promise): NotSupportedError: lockOrientation() is not available on this device.`

    $ ionic info

    Your system inf

[2017-04-06 08:25] ghenry22 opened #1333 "media plugin: success and error callbacks removed in v3+"
While the Status update callback can still be specified the success and error callbacks cannot with version 3+ of ionic native.

This means we cannot catch errors during media creation nor can we catch the playback complete event which calls the success callback once a file has played to completion.

create method should be updated to take an (optional) function for onSuccess and onError as well a

[2017-04-06 08:26] EbilPanda opened #1334 "[AppPreferences] store should accept string, number, boolean"
as stated in the title - AppPreference-Plugin accepts `string, number, boolean` as inputs, as stated [here](https://github.com/apla/me.apla.cordova.app-preferences#notes)

currently it only accepts string as keys and value, so if I define an value (e.q. boolean -> toogle-type in app-settings.json) and want to change it in code, the saved type will be changed to string and the preference-screen wil

[2017-04-06 11:49] gabeta opened #1335 "Native: tried calling Network.type, but the Network plugin is not installed."
I use network information on my project.
Ionic info:
Cordova CLI: 6.5.0
Ionic Framework Version: 2.2.0
Ionic CLI Version: 2.2.2
Ionic App Lib Version: 2.2.1
Ionic App Scripts Version: 1.1.4
ios-deploy version: Not installed
ios-sim version: Not installed
OS: Windows 8.1
Node Version: v7.7.3
Xcode version: Not installed

I have followed the instructions in doc.
https://ionicframework.com/docs/nativ

[2017-04-06 13:45] cataragak90 commented on #1264
@shivamsngh thanks, it worked for me too !

[2017-04-06 13:46] #1264 closed

[2017-04-06 15:01] daviddbeasy opened #1337 "How to deregister Diagnostic.registerNFCStateChangeHandler"
After calling to diagnostic.registerNFCStateChangeHandler, the handler is called when the NFC status changes. Bug, how can be removed the handler if for some reason i don't want to be notified again? In the documentation it's said "Pass in a falsey value to de-register the currently registered function.". What is a "falsey value" if the function diagnostic.registerNFCStateChangeHandler only accept

[2017-04-06 15:51] AmitMY opened #1338 "Plugin request - app minimize"
Lots of Ionic users want to minimize the app when having backbutton pressed.
https://github.com/tomloprod/cordova-plugin-appminimize.git

README has already added the integration with ionic 2, just need a wrapper for it to be nicer.

[2017-04-06 16:07] gbelmm opened #1339 "No provider for GoogleMaps!"
code:

import {
 GoogleMaps,
 GoogleMap,
 GoogleMapsEvent,
 LatLng,
 CameraPosition,
 MarkerOptions,
 Marker
} from '@ionic-native/google-maps';

error in web/device

No provider for GoogleMaps!
(anonymous) @ /Users/gbelmm/workspace/ionic2/hostify/node_modules/ionic-angular/navigation/nav-controller-base.js:115
t.invoke @ polyfills.js:3
onInvoke @ /Users/gbelmm/workspace/ionic2/hostify/node_module

[2017-04-06 20:59] gmapis commented on #1333
I'm experiencing the same issue! I'm is the process of rolling back because if it!

[2017-04-06 21:48] brandyscarney opened #1341 "Ionic native : Image picker not working."
_From @rijin-newage on April 6, 2017 15:43_

Hello,

I can't use ionic native **Image picker** plugin with **BackgroundMode** plugin.

No error is showing, but when i am calling getPictures function, it is giving an empty array as response before choosing any pics, after choosing pics it does't giving any response.

This issue is fixed when i removed BackgroundMode plugin.

I'm using the latest ve

[2017-04-07 08:32] tobiasmuecksch commented on #1339
I have the same issue for GoogleAnalytics!

[2017-04-07 08:35] tobiasmuecksch commented on #1339
Example code to reproduce this issue
[code]

[2017-04-07 08:36] tobiasmuecksch commented on #1339
@gbelmm Your issue is very incomprehensible. Please use markdown to tidy it up and make it more readable. No one will help us if issues look like this.

[2017-04-07 08:43] Ranhiru opened #1343 "Property 'setItem' does not exist on type 'typeof NativeStorage'"
I am trying to upgrade an Ionic 2 app to Ionic 3 and came across a weird situation where suddenly `NativeStorage` doesn't seem to have any of the static methods that was present earlier. (setItem, getItem, remove)

My method looks like
[code]

The error is

[code]

I have done
[code]

and the file has `import { NativeStorage } from '@ionic-native/native-storage';` at the top.

My `package.json` ha

[2017-04-07 08:51] tobiasmuecksch commented on #1339
StatusBar is broken too

[2017-04-07 08:58] tobiasmuecksch commented on #1339
@gbelmm You have to add GoogleMaps to the providers array in your `app.module.ts` file.

[2017-04-07 08:59] gabeta commented on #951
Temporary solution is downgrade the version. Our package.json

`...
    "ionic-angular": "2.0.0",
    "ionic-native": "2.2.11",
...`

I have same problem

[2017-04-07 09:41] Gillardo commented on #715
I agree, please add

[2017-04-07 14:09] tobiasmuecksch commented on #1339
@gbelmm If that worked for you, please close this issue. Thank you :-)

[2017-04-07 15:13] gbelmm commented on #1339
yes worker
 Thank you :-)

[2017-04-07 15:13] #1339 closed

[2017-04-07 19:54] moldstadt commented on #1332
Upgrading cordova-plugin-screen-orientation to 2.0.0 resolves the problem.

[2017-04-07 19:54] #1332 closed

[2017-04-08 15:39] ScreamZ opened #1346 "App is crashing on 3.0 using Toast on web context"
Hi,

in order to display my toast I must call the subscribe method. But using this behavior in the web browser while "ionic serve" cause the app to crash with message :

[code]

Any way to show a warning like these : util.js:60Native: tried calling StatusBar.styleDefault, but Cordova is not available. Make sure to include cordova.js or run in a device/simulator

Best regards

[2017-04-08 16:14] dtaalbers opened #1347 "[ios] Using image picker causes ion-footer/ion-header to move"
Hi,

I've got a little issue with the image picker that causes some weird movements of the header and footer (content). I am not sure if I am posting this in the correct repo, if not please do point me in the correct direction!

See [this gif](http://i.imgur.com/PsHcRXz.gifv) for an illustration. Has anyone seen this before? I cant repro this on android. When it happens the footer and header on al

[2017-04-09 09:55] aggarwalankush opened #1349 "Should I wait for platform.ready before calling native?"
Ionic native 3 docs(https://ionicframework.com/docs/native/status-bar/) doesn't show requirement to wait for platform.ready() before calling native plugins. Is it required or not?

[code]

[2017-04-09 17:05] royipressburger opened #1350 "How to use mocks properly in dev and prod."
Hi.

I started to implement mock to all the plugins I use, It all works great both in `dev` and in `prod`.
The problem is that in `prod` mode I have to comment out the line of the providers.
`{provide: Camera, useClass: CameraMock}`

How can we do this more dynamically without commenting out on each build?

[2017-04-09 17:07] royipressburger commented on #1349
All plugin are available after `deviceReady`. you can also see in the plugin docs:
https://github.com/apache/cordova-plugin-statusbar/blob/master/README.md

[2017-04-09 17:19] royipressburger commented on #1287
@ihadeed This is also relevant to GoogleAnalytics plugin. Should I open a new issue?

[2017-04-09 21:16] haninaguib commented on #1314
having the same issue with Text-To-Speech plugin

[2017-04-09 21:26] haninaguib commented on #1314
Here is what I did to fix it.
1- Delete ionic-native entry in package.json
2- npm install @ionic-native/core --save
3- npm install --save @ionic-native/text-to-speech

[2017-04-09 21:45] AmitMY commented on #1302
Here is an example of issues with the current mocking system: https://github.com/driftyco/ionic-native/issues/1350

Just making it more clear that this kind of system (native/browser) should be implemented.

[2017-04-10 08:31] wodka opened #1352 "youtube video player not working on android > 6"
Hi, the default youtube video player is not updated any more.

OLD: https://github.com/Glitchbone/CordovaYoutubeVideoPlayer
NEW: https://github.com/JonSmart/CordovaYoutubeVideoPlayer

the new one is working with newer android versions and has a callback to know when the video was finished.

[2017-04-10 09:53] Barathwaja commented on #1322
temporarily I removed const marker. plus map is not coming also this **map.one(GoogleMapsEvent.MAP_READY).then(() => console.log('Map is ready!'));** event is not fired. Is there any example other than ionic provided? or anyone worked with the ionic example and came ??

[2017-04-10 11:22] simonbrazell commented on #1314
I had this same issue with the cordova-plugin-googlemaps plugin. @haninaguib's steps above fixed the issue for me.

[2017-04-10 14:32] jgw96 opened #1353 "Google Analytics - cordova_not_available"
_From @mikeborozdin on April 9, 2017 17:19_

**Ionic version:**  (check one with "x")
[ ] **1.x**
[ ] **2.x**
[x] **3.x**

**I'm submitting a ...**  (check one with "x")
[x] bug report
[ ] feature request
[ ] support request => Please do not submit support requests here, use one of these channels: https://forum.ionicframework.com/ or http://ionicworldwide.herokuapp.com/

**Current behavior:**
An e

[2017-04-10 15:26] darthdie commented on #1343
Ionic-native 3 changed to using providers. You now inject the plugins and use them that way, rather than via static methods.

https://github.com/driftyco/ionic-native#basic-usage

[2017-04-10 16:17] dtaalbers commented on #1353
Just throwing in my 2 cents. Cordova is only available on devices. If you want to use native functionalities in your browser [you can mock them](https://www.joshmorony.com/automating-mocks-in-ionic-native-3-x/) with ionic native 3.x.x.

[2017-04-10 16:31] royipressburger commented on #1353
@dtaalbers I think the problem with this is that he gets `cordova_not_available` as an **error** in the console, I get the same error.

[2017-04-10 16:33] dtaalbers commented on #1353
Ah in that case, ignore me! I agree that shouldn't be an error.

[2017-04-10 17:46] dtaalbers commented on #1350
You can try [this](https://www.joshmorony.com/automating-mocks-in-ionic-native-3-x/). I managed to set up like the example and works OK.

[2017-04-10 21:13] HartHerbert commented on #439
I'm sorry if this is a stupid question, but why does this don't work ?
[code]

the blob object is fine, the path and the filename are fine. But this function won't call success or error. it just does nothing. Even if I set the WriteOptions it don't work. can somebody help me ?

[code]

[2017-04-11 09:40] HartHerbert opened #1356 "Write File [Blob] Native 3.0"
Hey Guys, I was trying to save a base64 string to a jpg-File. I converted the base64 String to a Blob and tried to write this blob to a file. But unfortunately this did not work. Something does not have to be right with my Blob, because the method `this.file.createFile(...)` works fine and creates a file. Only when I try to write the Blob into it does not work. And with not working I mean it just

[2017-04-11 13:05] ratson commented on #1263
Disclaimer: I am the author of [cordova-plugin-admob-free](https://github.com/ratson/cordova-plugin-admob-free)

I would suggest to tell the user clearly that this plugin is not free, which it is not mention in the official README, but in code https://github.com/cranberrygame/cordova-plugin-ad-adcolony/blob/df35dfc996d81b9393d36ec45fab618bdb6442c9/src/android/AdColonyPlugin.java#L246

From [my res

[2017-04-11 19:37] waynebloss opened #1360 "Upgrade from ionic-native 2.2.16 to 2.9.0 breaks Ionic v1 app"
In my Ionic v1 project, I upgraded from ionic-native@2.2.16 to ionic-native@2.9.0 and now I get an empty object error when I call $cordovaFile.readAsText. Also, $cordovaGeolocation.getCurrentPosition never returns.

Does anyone know what version of ionic-native is compatible with Ionic v1?

The docs say that the 2.x version should be compatible, but it's not (or there was a breaking change that I

[2017-04-11 20:53] FredBaine opened #1361 "Upgrade to @ionic-native/core 3.4.4 plugin not installed on --prod build"
I am getting a couple of plugin not installed warnings and 1 Error in console when I use "ionic run android --prod", but do not get them when I use "ionic run android" without the --prod flag.

Console output
![image](https://cloud.githubusercontent.com/assets/3266293/24930098/f18ca1e2-1ecd-11e7-876f-5764b439f855.png)

Config.xml
![image](https://cloud.githubusercontent.com/assets/3266293/24930314

[2017-04-11 22:23] avilao commented on #1248
Hello. I'm running an app in ionic 3.0.1 and I had the exact same problem has the creator of this thread:

[code]

I followed your instructions but now I can't compile the project. I get:
[code]

Can someone give me a hand? Here is the code:
[code]

[2017-04-12 07:11] frankkoenigstein opened #1363 "ionic-native karma browserify, provide commonjs modules"
For Karma tests I need to extra compile ionic-native with babelify and browserify since browserify does not understand es6 modules:
[code]

Because of the imports:
[code]

it is not possible to omit ionic native plugins during tests.

Could you please provide ionic native in different es versions .
package.json
[code]

tsconfig-esm:
[code]

tsconfig-es5:
[code]

[2017-04-12 07:20] SVANNER commented on #1248
@avilao

Did you try installing from the camera-preview master ? :+1:

[code]

[2017-04-12 07:39] avilao commented on #1248
Hi

That doesn't work for the new cli. What I did was:
[code]
![image](https://cloud.githubusercontent.com/assets/9694422/24946634/7440cef0-1f5b-11e7-8fb8-7c6e372dd77c.png)

And my package json:

[code]

[2017-04-12 09:33] SVANNER commented on #1248
@avilao

Thanks for the information.  I'll check this night a project using camera-preview plugin on a test machine running ionic CLI 3.0.1. and come back to you.

[2017-04-12 10:38] opahti commented on #1311
Any news on this one? I'm facing the same problem, but with @ionic-native/push.

[2017-04-12 10:45] samever7 opened #1364 "BarcodeScanner cannot used inside a service?"
When coding like this, I got a runtime error:

[code]

Error is like this:

If I remove private barcodeScanner: BarcodeScanner   in constructor, the codes runs fine.

Ionic Info:

Any other ways to do this and I just used it by a wrong way?
And may it be a issue?

[2017-04-12 11:26] samever7 commented on #1364
OK, I forgot the @Injectable().
Sorry for bothering.

Closed this issue.

[2017-04-12 11:26] #1364 closed

[2017-04-12 11:34] GunaSekhar1 opened #1365 "Failed to navigate: No provider for InAppBrowser!"
I am new to Ionic 2, followed documentation to implement inAppBrowser in my application. I have imported

import { InAppBrowser } from '@ionic-native/in-app-browser';

getting error in importing, Solve this issue.

[2017-04-12 13:24] matheusleite commented on #1335
Same issue here!

[2017-04-12 13:59] wkande opened #1366 "BarcodeScanner torchButton locks up app when using option showTorchButton:true"
BarcodeScanner torchButton locks up app when using option showTorchButton:true. Scanner works fine until you click the Torch button provided. The native plugin appears to be calling setTorchModeOnWithLevel with an invalid torch mode.

iOS 10.2 iPad mini 4

"@ionic-native/barcode-scanner": "^3.4.4"

"name": "phonegap-plugin-barcodescanner",
  "version": "6.0.5"

```this.barcodeScanner.scan({showTor

[2017-04-12 16:47] gigi-budrio commented on #438
The same problem for Gyroscope plugin.
I installato all what i need today, so I have the latest version for all tools.
thanks

[2017-04-12 22:01] bot101 opened #1367 "BluetoothSerial automatically disconnecting after 20+ seconds"
I am currently writing an android app that communicates with an arduino device over bluetooth using the HC-06 nluetooth module. The device connects successfully but disconnects after about 20 seconds and calls the `BluetoothSerial.connect().subscribe()` error callback.I couldn't find a solution on Google or Stackoverflow, or anywhere else on the internet.

[2017-04-13 01:43] mebibou opened #1369 "Doc: broadcaster has wrong implementation"
In the example section for `broadcaster` it says:
[code]
but it is an observable and should be:
[code]

[2017-04-13 04:43] rapropos commented on #1365
The documentation told you to declare it as a provider in your app module. Did you follow that part?

[2017-04-13 07:45] GunaSekhar1 commented on #1365
Hi,

Thanks for your reply and I fixed it by declaring provider.

On Thu, Apr 13, 2017 at 10:13 AM, Robert Coie <notifications@github.com>
wrote:

--
Thanks & Regards
GunaSekhar

[2017-04-13 10:53] SVANNER commented on #1248
@avilao

Hi i have tested successfully using this **code**:

[code]
Here is my plugin list from **config.xml**

[code]
Here is my **package.json**

[code]
Here is the result of the **ionic cordova plugin list** command:

[code]
Here is the result of the **ionic info** command:

[code]

I note there is something different with your installation: iuse Ionic CLI 3.00 **beta 7**
Try with this version

[2017-04-13 10:55] avilao commented on #1248
Thanks mate! I'll try it over night and share the results.

[2017-04-13 13:37] fabianotavallini commented on #1311
I also had this problem, SOLVED it by updating Angular dependencies like follows:

[code]

[2017-04-13 14:58] rlightner commented on #1365
is there sample code that shows this plugin being used to log in to an oauth endpoint?

[2017-04-13 15:26] msio777 opened #1370 "typo in google maps geocoder pluginRef"
Hi,
I wanted to use Geocoder of cordova-plugin-googlemaps but I got this warning: `Native: tried accessing the Geocoder plugin but it's not installed` but everything is installed correctly. I checked the source [here](https://github.com/driftyco/ionic-native/blob/master/src/%40ionic-native/plugins/google-maps/index.ts) and on line 1752

is wrong namespace to Geocoder. Correct namespace is `plugin.

[2017-04-13 19:23] rx4hvn commented on #1073
@longzheng It's not saving into your package.json because your are not saving it. Use the command below to update package.json also.

`npm install ionic-native --save`

[2017-04-13 19:33] rapropos commented on #1365
@rlightner that is a question better suited for [the support forums](https://forum.ionicframework.com). I think this issue can safely be closed.

[2017-04-14 13:20] ihadeed commented on #1333
Should be fixed in the next release.

[code]

[2017-04-14 13:27] ihadeed commented on #1328
The error is saying that you haven't imported `YoutubeVideoPlayer` provider into your app's module. Please follow the Ionic Native docs for more information on installing plugins.

[2017-04-14 13:28] wodka commented on #1328
This is the thing -> it is importet and working in an emulator / a real device

the error is just showing up in ionic serve

[2017-04-14 13:28] ihadeed commented on #1263
Thanks @ratson, I think that's a good idea. Similar to what the ng-cordova repo has: https://github.com/driftyco/ng-cordova#plugins-67

[2017-04-14 13:32] ihadeed commented on #1302
I started something here https://github.com/ihadeed/ionic-native-browser but I haven't figured out the best way to do it yet.

[2017-04-14 13:35] ihadeed commented on #1318
I tested the regular Admob plugin on an iPad device recently and it worked fine. Not sure if it's supposed to work on a simulator or not.

Which plugin are you having issues with? Admob or Admob Free? I will try to test it when I get a chance.

[2017-04-14 13:37] ihadeed commented on #1322
@Barathwaja see this component: https://github.com/ihadeed/ionic-native-playground/blob/master/src/components/google-map/google-map.ts

[2017-04-14 13:38] #1365 closed

[2017-04-14 13:40] AmitMY commented on #1302
@ihadeed Well, I think you are on the right track.

What do you think of conditional providers based on cordova being present or not?
If not, perhaps check the user's platform (desktop / mobile is what matters) and conditionally inject by that?

[code]

[2017-04-14 13:51] ihadeed commented on #1302
I think the developer should implement that in their app. Similar to what Joshua blogged about here: https://www.joshmorony.com/automating-mocks-in-ionic-native-3-x/

[2017-04-14 13:53] ihadeed commented on #1328
Ok I'll try to reproduce this when I get a chance.

[2017-04-14 13:53] Barathwaja commented on #1322
Thanks mate. Let me try.. @ihadeed

[2017-04-14 13:54] AmitMY commented on #1302
@ihadeed Hmm ok, sounds completely fair.

So in general the idea is to supply mocks to all native plugins (via this repo), and then the dev can test in browser, and create whatever condition they want.

And of course, mocks need to follow the same interface...

Are we on the same page or am I off?

[2017-04-14 13:57] ihadeed commented on #1326
I'll try to reproduce this when I get a chance.

In the meanwhile, could you try something like this:
[code]

[2017-04-14 14:00] ihadeed commented on #1302
Well I think what this repo needs is something like https://github.com/driftyco/ng-cordova/tree/master/src/mocks

The repo I have up there should be more of an accessory that some people might prefer to have. It's more like "Ionic Hybrid" than "Ionic Native".

[2017-04-14 14:04] AmitMY commented on #1302
@ihadeed Yep, same idea, only for angular and ionic 3 (not angularjs and ionic 1)

[2017-04-14 14:40] Manduro opened #1371 "Deeplinks: change detection not working"
When opening a page through `ionic-plugin-deeplinks` using `routeWithNavController`, change detection is not working on that page and any pages navigated to from that page.

I'm using the latest 3.4.4.

Is there a way to manually make this work while the bug is around? Should I run it inside zone?

[2017-04-14 18:35] wwallace opened #1373 "Feature Request - Braintree Plugin"
Although it is possible to use the Braintree JS Sdk, it is somewhat limited and lacking certain features or is more difficult to integrate with a hybrid app, specifically the Braintree dropin ui

Dropin:
iOS: https://developers.braintreepayments.com/guides/drop-in/ios/v4
Android: https://developers.braintreepayments.com/guides/drop-in/android/v2

Cordova Plugin?
https://github.com/Taracque/cordova

[2017-04-14 21:22] leroygumede opened #1374 "How do you mock Data with sqlite"
I'm not sure what to place in `resolve`

[code]

[2017-04-15 00:39] IvanLencina commented on #1311
@fabianotavallini

Problem solved. Thank you so much!!!

[2017-04-15 11:30] yurik94 commented on #1361
👍 👍 👍
 Same issue here since a few days :( I can't use properly Native Storage with --prod flag

[2017-04-15 11:49] yurik94 commented on #1361
@FredBaine You should at least install this
`npm install --save @ionic-native/native-storage`

and I think you should remove the ionic storage module from npm

[2017-04-15 12:19] Manduro commented on #1371
[code]

This makes it work again, so definitely a bug here somewhere!

[2017-04-15 15:53] ghenry22 commented on #1333
The problem is in the then method you are returning the media object that is needed to control playback and this returns as soon as create is successful, but with the bare plugin the success callback is only called on completion of playback of the current file so it's quite a different behaviour.

You can use the status updates to track media status sure but it means that anyone who was relying on

[2017-04-15 15:53] ghenry22 commented on #1333
It's neither right nor wrong i guess, just changes the implementation.

[2017-04-15 16:19] ihadeed commented on #1333
@ghenry22 yes, you're right. I thought the success callback was called when the media object is successfully created. This needs to be fixed.

[2017-04-16 16:58] ahmetakin opened #1376 "Admob Free Problem"
Hello,
I have tried to use this plugin in Ionic 2 as shown there https://ionicframework.com/docs/native/admob-free/ and add inside of **src/app/app.components.ts** ;
[code]
like that code.

 Also I add import module and provider to **src/app/app.module.ts** ;
[code]

And when I try in emulator application work fine but ads not coming. Am I do something wrong ?

[2017-04-16 17:39] avilao commented on #1248
Hi,

I updated the ionic cli like you sugested, and did those steps. It worked, thanks a lot :)

[2017-04-16 20:01] piotrowski commented on #1376
You will probably have more luck asking this question on the Ionic Forum: https://forum.ionicframework.com/

[2017-04-17 02:53] choatehall opened #1378 "@ionic-native/speech-recognition doesn't work in ionic3"
I followed this video https://www.youtube.com/watch?v=dPbT_kElSXA and implemented in ionic3, but I got a blank page on my iPhone

[2017-04-17 03:15] DennisSmolek opened #1379 "File Plugin with Browser Platform and Dev throwing security errors"
I'm having a hard time with a basic filesystem issue when both running in the browser with `ionic serve` as well as `ionic run browser`

I've run the browser with the correct flags to allow for local system access but I'm still getting some sort of security error:
[code]

My code:
[code]
I ran `console.log(this.file)` and got an object that lists the dataDirectory as: `filesystem:file:///persisten

[2017-04-17 13:46] ghenry22 commented on #1333
@ihadeed I actually think that the way it is implemented here is a lot more sensible.  Maybe the output of that call back could be made available in a "playback complete" event attached to the mediaObject that users could subscribe to?

Then all the original functionality of the plugin is available but the way that you use it makes a lot more sense in that create returns when create is successful

[2017-04-17 14:21] babilog commented on #372
Any updates? Can someone link me to any documentation that I could reference to maybe begin porting the Cordova plugin to Ionic Native?

[2017-04-17 14:37] pharzath commented on #808
I am having the same issue. Any one can solve this problem ?

[2017-04-17 16:38] dpa99c commented on #1337
[Definition of a falsey value](https://developer.mozilla.org/en-US/docs/Glossary/Falsy)

If in doubt, [look at the source code](https://github.com/dpa99c/cordova-diagnostic-plugin/blob/master/www/android/diagnostic.js#L1292)

[2017-04-17 20:14] dylanvdmerwe opened #1383 "bug(docs): battery status plugin"
On the docs for the battery status plugin: http://ionicframework.com/docs/native/battery-status/

The example looks as follows:
[code]

`StatusObject` is incorrect and should be `BatteryStatusResponse`.

[2017-04-17 20:44] Langstra opened #1384 "build --prod --aot gives error"
In my providers array I use the following to override the default behavior for the file-transfer-plugin.
[code]
I am sure this is the problem. When commenting out this line in app.module.ts the build works.
So when running `ionic cordova build --prod --aot` I get the following error.
[code]
Is there a solution known for this problem? Or any other way that you should override behavior?

[2017-04-17 20:47] dylanvdmerwe opened #1385 "issue(docs): install plugin with --save param"
Currently, all the docs give an example on how to install a plugin:

For example:
[code]

I *strongly* suggest that the `ionic plugin add` command has a `--save` parameter as well so that the plugin is added to the config.xml file.

For teams that pull a project from source control and add a platform, many of the required plugins will not be installed as without the `--save` parameter cordova will

[2017-04-18 00:41] AleFons commented on #406
Sort of reviving this issue, but how can we pass the status change elsewhere, like, say, to the mediaObject itself?

[2017-04-18 03:30] rapropos commented on #1384
In the future, please use [the support forums](https://forum.ionicframework.com/) for support requests like this. [angular #11262](https://github.com/angular/angular/issues/11262) explains the issue.

[2017-04-18 08:03] Langstra commented on #1384
Thanks, sorry for the inconvenience.

[2017-04-18 08:03] #1384 closed

[2017-04-18 09:36] almothafar commented on #1360
I'm using version 2.9.0 here and no problem, for now, I'm not sure what do you mean with "breaking" app, it seems you have issue just with specific plugin maybe the way you call it or get the value is wrong, not something with the version, you need to check breaking changes I think, also, it better to provide your code.

[2017-04-18 13:09] AleFons opened #1389 "issue(docs):media plugin - onStatusUpdate usage?"
To get the current status of a MediaObject using the media plugin, you must supply it with a function that is called when the status changes; this is exemplified in the docs with:

    const onStatusUpdate = (status) => console.log(status);
    this.media.create('path/to/file.mp3', onStatusUpdate)...

But there is no explanation on how to actually propagate the status change or even know what Medi

[2017-04-18 13:44] AleFons opened #1390 "media plugin - duration of mediaObject always unknown"
MediaObject.getDuration() seems to always return -1.

I'm creating a file and then creating a mediaObject to record on them; I wouldn't expect getDuration() on a mediaObject that was just made - even after calling stopRecord() on it - to work, but then it also doesn't work if I create a new mediaObject and call getDuration() again.

[2017-04-18 15:45] haydenJogs92 commented on #1335
Same here, working on updating a project to ionic v3 and the issue appeared.

[2017-04-18 21:36] #1383 closed

[2017-04-18 21:40] #1370 closed

[2017-04-18 22:11] danielflippance opened #1392 "White screen after calling mediaCapture.captureVideo"
In Ionic 2, using @ionic-native/media-capture on iOS to capture video, I'm calling mediaCapture.captureVideo() but after recording the video and clicking Use Video, the native video capture page is closed and I see a completely white screen with a long vertical scrollbar. It seems that a white page has been placed on top of my app and so now the user cannot do anything else afterwards.

Here's the

[2017-04-18 22:14] danielflippance commented on #1392
This appears to be caused by some conflict between the @ionic-native/media-capture and the screen-orientation code. When calling .captureVideo() in landscape mode and the white screen is shown, if you orient the device to portrait the white screen disappears and when oriented back to landscape, it is still gone. This also happens with the 1/4 white screen when using .captureAudio().

Here is a scr

[2017-04-19 01:08] MaxDaten commented on #1001
Installed ionic-native in version 2.9.0 and updated the cordova-screen-orientation-plugin to 2.0.0 and im still getting this error.

I have to add: I installed via `npm install ionic-native@2.9.0` and manually moved the content of the dist folder to the `www/lib/ionic-native` folder because the `ionic-native-bower` project is still outdated and I'm still struggling with the old, at least for me co

[2017-04-19 07:54] nonamez opened #1393 "Missing disableWebViewOptimizations method in Background Mode"
As described at https://github.com/katzer/cordova-plugin-background-mode there is special method `disableWebViewOptimizations` which is specified for my case - I need to send position every x time in background but nothing happens when app is minimized but the method doesn't exists in the wrapper.

[2017-04-19 09:40] #1327 closed

[2017-04-19 19:40] MaxDaten commented on #1001
Switching `cordova-plugin-screen-orientation` to version 1.4.3 solved the problem.

[code]

Is it a bug with `ionic-native` or `cordova-plugin-screen-orientation`?

[2017-04-19 21:18] baksagimm opened #1394 "Can't resolve all parameters for MediaObject: (?) Android 7.0"
I get this error whenever media plugin is used:
"Uncaught Error: Can't resolve all parameters for MediaObject: (?).", source: file:///android_asset/www/build/main.js (93297)

"ionic-angular": "3.0.1",
"@ionic-native/media": "^3.5.0",
cordova-plugin-media@latest
cordova platform android@latest
android 7.0

Tested with ionic 3 media plugin doc example code.

[2017-04-20 04:59] praveenyoungind opened #1395 "can't resolve module @ionic-native/core from @ionic-native/in-app-browser/index.d.ts"
# can't resolve module @ionic-native/core from /MyProject/node_modules/@ionic-native/in-app-browser/index.d.ts
`
[10:20:09] build prod failed: Cannot read property 'Plugin' of undefined, resolving symbol InAppBrowser in /MyProject/node_modules/@ionic-native/in-app-browser/index.d.ts
[10:20:09] ionic-app-script task: "build"
[10:20:09] Error: Cannot read property 'Plugin' of undefined, resolving sy

[2017-04-20 09:21] AmitMY opened #1396 "List all loaded plugins"
I am using many plugins in my application, and I realised that sometimes, when I make changes, my team not necessarily run prepare, or I forgot to save the plugins in the `config.xml`, so we build an app without all of the plugins.

I want to create a page, that lists all of the plugins, and their status: Loaded/Not Loaded.

I have a list of all plugin names (cordova-plugin-x) and I can manually i

[2017-04-20 11:06] mo-mueller opened #1397 "Camera.PictureSourceType: Private member is not accessible"
I am using the Camera Plugin from ionic-native. I am importing it with `import {Camera} from 'ionic-native';`.

When I want to use for example "Camera.PictureSourceType.PHOTOLIBRARY" my editor (PhpStorm) marks "PictureSourceType" in red and when I go with my mouse over it it tells me "Private member is not accessible". The code still works but it's not so cool that PhpStorm always tells me there i

[2017-04-20 11:09] xpratpa opened #1398 "Please add ZeroConf Pulgin"
Please add zeroconf plugin

https://github.com/becvert/cordova-plugin-zeroconf

[2017-04-20 13:10] ihadeed commented on #1396
1. Wait for `platform.ready()`
2. Call the static method `installed()` on any plugin. Example: `(<any>Camera).installed()`. It will return `true` if the plugin is loaded.

[2017-04-20 13:11] AmitMY commented on #1396
@ihadeed Thanks!

[2017-04-20 13:11] #1396 closed

[2017-04-20 17:34] waynebloss commented on #1360
@almothafar In code that was working before the upgrade, "I get an empty object error when I call $cordovaFile.readAsText. Also, $cordovaGeolocation.getCurrentPosition never returns." is what I mean.

Here is my code to call `$cordovaFile.readAsText`:

[code]

Here is my code to call `$cordovaGeolocation.getCurrentPosition`:

[code]

It's pretty straightforward code and I don't think I'm calling a

[2017-04-20 18:23] almothafar commented on #1360
`.readAsText(directory.base, fileName)` returns a promise.
and `$cordovaGeolocation.getCurrentPosition(options)` returns observable so I'm not sure how you call `getPosition()` ...

You seems following ngCordova documentation not ionic-native, it is a big difference with calls.

refer to: https://ionicframework.com/docs/native/geolocation/  and https://ionicframework.com/docs/native/file/

[2017-04-20 18:46] waynebloss commented on #1360
Thank you @almothafar . As I mentioned - `.readAsText` returns an *empty object* to my promise `catch` handler. There is no need to see any other code for that one.

Also, `.getCurrentPosition` returns a `Promise`, not an observable. This is evidenced by [the code](https://github.com/driftyco/ionic-native/blob/v2.9.0/src/plugins/geolocation.ts#L162), [the documentation](https://ionicframework.com/

[2017-04-20 19:07] AmitMY commented on #1396
@ihadeed Are plugins being loaded for `serve`?
I though plugin only work in a platform, not in serve, however, it shows me this list:
![image](https://cloud.githubusercontent.com/assets/5757359/25248088/a0b8bcc0-2615-11e7-89a8-1e06a5cb4b3a.png)

This is my source:
[code]

[2017-04-20 20:29] gregavola opened #1399 "ionic-native has the wrong pluginRef for flurry-analytics"
Hey there,

For this plugin:
https://github.com/driftyco/ionic-native/blob/master/src/%40ionic-native/plugins/flurry-analytics/index.ts#L105

The `pluginRef` should be:  `FlurryAnalytics` or `plugin.FlurryAnalytics` per this:
https://github.com/blakgeek/cordova-plugin-flurryanalytics/blob/d80e8e84dd78e695089ea9f8b8cd5357a928326a/plugin.xml#L14

[2017-04-20 20:34] ihadeed commented on #1396
@AmitMY if the `pluginRef` exists, `installed()` will return true. Geolocation exists on browsers, and `Vibration` uses `navigator` as it's main object so it returns `true` even though the plugin doesn't actually exist.

[2017-04-20 20:42] #1394 closed

[2017-04-20 23:26] rapropos commented on #1398
Looks like it's already included to me.

[2017-04-20 23:31] rapropos commented on #1395
It looks to me like you have two conflicting versions of ionic-native installed. I would get rid of the "ionic-native" one. Also, since ionic-native 3 has Angular 4 as a dev dependency, I would look at upgrading that as well.

[2017-04-21 03:15] baksagimm commented on #1394
I found out I should not add MediaObject in Providers in app.module.ts

[2017-04-21 05:43] seetadev opened #1400 "@ionic-native/printer not working"
I have added the plugin as explained in the documentation. [Printer plugin](https://ionicframework.com/docs/native/printer/) . Also, added the `Printer` provider in `app.module.ts`
Now when I call the printer plugin, it does not open the print preview window. The code is as follows:
[code]

[2017-04-21 07:21] FrancescoMussi opened #1401 "Temporary add to documentation"
Can you please make a temporary add to the **Camera Preview** plugin [documentation](https://ionicframework.com/docs/native/camera-preview/)?

Following that installation instructions the plugin won't install.
As long as the plugin is in beta this is the proper way to install it:

`ionic plugin add https://github.com/cordova-plugin-camera-preview/cordova-plugin-camera-preview.git`

Otherwise it wi

[2017-04-21 09:47] praveenyoungind commented on #1395
what is the solution to fix this error can u guide

[2017-04-21 13:13] dwm-it opened #1402 "Can't build for Android in --prod with @ionic-native/diagnostic"
Hello,

I added the diagnostic plugin to my Ionic 2 project :
`ionic plugin add cordova.plugins.diagnostic --save`
`npm install --save @ionic-native/diagnostic`

Since this, i can build in debug mode (ionic build android) but not in --prod mode (ionic build android --prod).

Here is the log :

[code]

Here is my 'package.json' :
[code]

ionic info :
[code]

Any idea ?

[2017-04-21 19:42] rapropos commented on #1395
This is not a good candidate for a GitHub issue. Please open a topic on [the support forums](https://forum.ionicframework.com) instead.

[2017-04-22 05:14] aneeskodappana commented on #70
the transfer plugin doesn't ask for permission on android.
isn't fine to use this.file.dataDirectory instead of cordova.file.dataDirecotory as per the ionic wrapper documentation.

[Transfer plugin docs ](https://ionicframework.com/docs/native/transfer/)

[code]

the above code doesn't work. the app also not asking fo storage permission. what is the problem here?

[2017-04-22 12:03] praveenyoungind commented on #1395
done https://forum.ionicframework.com/t/cant-resolve-module-ionic-native-core-from-ionic-native-in-app-browser-index-d-ts-1395/87428

[2017-04-22 12:03] #1395 closed

[2017-04-22 12:45] autotranzmoreshwar opened #1403 "Cannot find module "ionic-native""
my ionic info
![ionicinfo](https://cloud.githubusercontent.com/assets/27890822/25304571/8c779d12-2787-11e7-9d4b-14a9f9dba041.PNG)

solution please
![hello](https://cloud.githubusercontent.com/assets/27890822/25304564/75d5e758-2787-11e7-902c-c0ae67f928b0.PNG)

[2017-04-22 15:27] Miggel1988 commented on #1314
Hi guys,

I followed the described steps in: https://ionicframework.com/docs/storage/

Anyway I still get following error in the console:
`NoProviderError
o @ polyfills.js:3
polyfills.js:3 Unhandled Promise rejection: No provider for Storage! ; Zone: <root> ; Task: Promise.then ; Value: NoProviderError Error: DI Error
    at v (http://localhost:8100/build/polyfills.js:3:4864)
    at NoProviderErro

[2017-04-22 18:57] Sampath-Lokuge opened #1404 "Firebase real time database support"
Hi,
Can we have a real-time database support for the below plugin? Thanks.

http://ionicframework.com/docs/native/firebase/

[2017-04-22 19:15] baksagimm commented on #1333
Seems the update of mediaplugin 3.5.0 don't fire the promise. Which it was a problem in previous release.

[2017-04-23 05:24] aifer2007 opened #1405 "MediaPlugin.create promise never fires"
[code]
alert("start recording") in callback never be fired, also the voiceFile.startRecord();

[2017-04-23 05:27] aifer2007 commented on #1405
https://github.com/driftyco/ionic-native/pull/1220

I have saw the issue, the fix doesn't work?

[2017-04-23 06:54] petrot opened #1406 "Native SplashScreen problem on iOS 9.3.5"
My code works well on Android and iOS10, but on iOS 9.3.5 the app freeze on the splash screen . I read old bug reports on the phonegap site, but I didn't find fix for this problem. Is there any known solution?

My config:
Cordova CLI: 6.5.0
Ionic Framework Version: 3.0.1
Ionic CLI Version: 2.2.2
Ionic App Lib Version: 2.2.1
Ionic App Scripts Version: 1.3.4
ios-deploy version: 1.9.0
ios-sim version

[2017-04-23 07:07] Abdullah-FAl commented on #1405
The same problem I've been trying since 5 days
But so far I have not found a convincing solution

If you solve it please tell me

[2017-04-23 07:20] Abdullah-FAl commented on #1405
this is my code

`import { Injectable } from '@angular/core';
import {  Platform} from 'ionic-angular';
import { MediaPlugin, MediaObject } from '@ionic-native/media';

/*
  Generated class for the RecordingAudio provider.

  See https://angular.io/docs/ts/latest/guide/dependency-injection.html
  for more info on providers and Angular 2 DI.
*/

@Injectable()

export class AudioRecorder {

public

[2017-04-23 07:36] Abdullah-FAl commented on #1405
![screen shot 2017-04-23 at 10 31 04 am](https://cloud.githubusercontent.com/assets/22343540/25311680/1db0224e-2810-11e7-85be-ce65ea18870d.png)
And this is the ERROR i get from safari console log in mac os

[2017-04-23 08:46] baksagimm commented on #1405
You're right. Updating to 3.5.0 the promise problem emerges. Try version 3.4.4 for now.
(But 3.4.4 has problems too. it don't seem to retrieve audio position and duration of the file no matter how long i wait.)

[2017-04-23 08:57] baksagimm opened #1407 "Media plugin: List of bug I found so far."
1. Media Plugin 3.5.0 doesn't fire promise. The bug emerged again. So I have no control over the MediaObject and onStatusUpdate stays undefined.

2. Luckily, Media Plugin 3.4.4 do fire the promise. But it doesn't seem to retrieve file's play position and duration data no matter how long I wait. Both file:MediaObject properties and via getCurrentPosition() or getDuration() don't give the info of th

[2017-04-23 10:30] miloshavlicek commented on #1376
Same issue on Ionic 3.

Code in Page:

[code]

Forum thread: https://forum.ionicframework.com/t/ionic-2-admob-free-plugin-cordova-plugin-admob-free/86726/4

[2017-04-23 16:47] ahmetakin commented on #1376
I found an example in [https://github.com/gengjunwu/admob-free-ionic2-demo](Here)

[2017-04-23 18:02] miloshavlicek commented on #1376
@ahmetakin Did you found problem why it is not working? That example is not so clear and its service contains confusing code. It seems that the code is the same as mine - only I see option: overlap = true with note "a bug.." so I added it, but still not working. :-(

[2017-04-23 21:20] nicobytes opened #1408 "error with npm run build"
Hello!

I tried to run ```npm run build``` but show error:

![screen shot 2017-04-23 at 1 12 02 pm](https://cloud.githubusercontent.com/assets/7611944/25317545/a25f95e6-2848-11e7-9d3a-720dea61825d.png)

the error is in contacts/index.ts

![screen shot 2017-04-23 at 1 10 45 pm](https://cloud.githubusercontent.com/assets/7611944/25317548/ba26543a-2848-11e7-9a60-4863539268ba.png)

this is not Contact

[2017-04-23 21:32] nicobytes commented on #1408
Also in file/index.ts

![screen shot 2017-04-23 at 5 27 59 pm](https://cloud.githubusercontent.com/assets/7611944/25317632/4726aaaa-284a-11e7-880d-85ed97e8f67f.png)

I only follow the steps in https://github.com/driftyco/ionic-native/blob/master/DEVELOPER.md:

1. Fork of ionic-native
1. npm run build

I only want contribute in this project with a pull request, add this function in mixpanel plugin:

[2017-04-24 08:40] pacMakaveli opened #1409 "ImageResizer v3.5.0 iOS"
Hy guys,

I was going to make a pull request to add this information in the docs directly. However, I'm not familiar as to how you'd like this to be handled.

The bottom line is, on iOS, `fileName` is required. Otherwise it will fail silently and cause a lot of frustration because there will be no errors.

Although the value gets ignored, is very much required to make it work.

See: https://github

[2017-04-24 11:52] AleFons commented on #1389
Seems like the correct usage is using Events.

[2017-04-24 11:52] #1389 closed

[2017-04-24 15:38] brassier commented on #438
For others, I was running into this when using a plugin prior to platform ready.  You may need to put plugin use inside a platform ready check.

[2017-04-24 16:45] theomathieubhvr commented on #951
I confirm the same issue with ionic native 3.5.0

[2017-04-24 17:08] cfprabhu21 opened #1410 "ionic2 native contacts not working"
I am trying to query the all contacts using ionic 2 native. I got the following error while run the ionic serve command. How can i over come this issue if anyone know let me know please. Thank you
`Typescript Error
Property 'find' does not exist on type 'typeof Contacts'.`

Home.ts
`import { Component } from '@angular/core';
import { NavController } from 'ionic-angular';
import { Contacts, Contact

[2017-04-24 17:35] JiahaoShan commented on #1395
I had the same issue.

[2017-04-24 18:16] cfprabhu21 commented on #1410
import { Component } from '@angular/core';
import { NavController } from 'ionic-angular';
import { Contacts, Contact, ContactField, ContactName } from '@ionic-native/contacts';

@Component({
  selector: 'page-home',
  templateUrl: 'home.html',
  providers: [Contacts]
})
export class HomePage {

  constructor(public navCtrl: NavController, private contacts: Contacts) {

  }

  testFun(){
    this.c

[2017-04-24 18:16] #1410 closed

[2017-04-25 07:32] Ross-Rawlins opened #1411 "native-file get file meta data"
Hi

The plugin has a function called resolveLocalFilesystemUrl() that returns the files meta data but ionic native implementation is not returning the size property. Please can we add this?

[2017-04-25 08:22] luisbahamonde opened #1412 "google maps: The map is never displayed"
The map is never displayed nor does it give any error. The div where it loads becomes transparent since I have initially set black background and a second later when loading the function it loses the black color but it stays red border (Show my code). It seems all correct because the map is ready function is displayed.

map.ts
`

  ionViewDidEnter() {
    console.log('entra en la vista');

    set

[2017-04-25 08:52] vosecek opened #1413 "GoogleMap.panBy not implemented"
panBy for maps is not implemented

[2017-04-25 09:33] dylanvdmerwe opened #1414 "issue(docs): examples should inject public variables"
The ionic team recommends that all variables are injected into the constructors using the `public` variable. This is to make sure that there are no NGC errors.

In the examples in the ionic-native docs, I suggest making the examples where the plugins are injected into the constructors `public` instead of `private`.

[2017-04-25 09:40] tedliang-asahi opened #1415 "native-storage missing NativeStorage.keys function"
This function [NativeStorage.getItem("reference_to_value", \<success-callback>, \<error-callback>) ](https://github.com/TheCocoaProject/cordova-plugin-nativestorage#retrieving-all-keys) is missing on the @ionic-native/native-storage wrapper.

Is it intentional? or it's a new feature that is not yet covered by the wrapper?

[2017-04-25 14:58] irundaia opened #1416 "Secure Storage API"
I'm currently using the secure storage plugin. To me it seems like the API is a little inconsistent with the SecureStorage cordova plugin.

The cordova plugin is only able to store and retrieve strings. Hence I believe that the ionic plugin should be return a `Promise<string>` rather than a `Promise<any>` whenever a `get` is called.

[2017-04-25 20:12] jaufgang commented on #1385
This is especially important since the behaviour has changed...  `ionic plugin add` used to update the config.xml automatically without `--save`, but now it is required, so it really should be explicit in the docs.

[2017-04-25 20:35] danielsogl opened #1417 "feature(local notifications): offical phonegap plugin released"
The PhoneGap team just released an official local notifications plugin as you can read here: https://blog.phonegap.com/release-of-phonegap-local-notification-plugin-bc7f480b6fd6

I would recommend implementing this then the actually used unofficial plugin.

Here is the repo: https://github.com/phonegap/phonegap-plugin-local-notification

If I find time I will create a PR for this plugin.

[2017-04-25 23:22] John-Luke commented on #1417
I've looked the official plugin and I saw that the unofficial plugin is more complete than the official

[2017-04-26 03:09] niojihy commented on #1403
This issue is associated with the old import 'ionic-native'

in my case :
import { StatusBar, Splashscreen } from 'ionic-native';
I removed and added the new :

https://ionicframework.com/docs/native/status-bar
https://ionicframework.com/docs/native/splash-screen

_If this is also your case, do not forget to add also in the module provider_

[2017-04-26 16:01] xpratpa commented on #1398
Closing this

[2017-04-26 16:01] #1398 closed

[2017-04-26 19:16] mwiley63 opened #1422 "Feature request: cordova-muse"
Hi Ionic team!

I am curious if anyone is working on a wrapper for cordova-muse (https://github.com/mtriff/cordova-muse)?  I am working on an app using the cordova plugin but I would like to integrate it more tightly with Ionic.

If not I'll take a closer look at the developer guide and maybe submit a pull request :)

Thank you for all the great work and plugins!  👍

[2017-04-27 00:09] rapropos commented on #1414
I totally disagree with this. Only properties accessed by templates need to be public, and ionic-native plugins are very rarely, if ever, interacted with by templates directly.

[2017-04-27 01:28] ihadeed commented on #1414
AFAIK `public` is only needed when the variable is being used in the template or by another class. I never experienced any issues by using `private`.

[2017-04-27 04:31] ihadeed commented on #811
Figured it out...
![image](https://cloud.githubusercontent.com/assets/13794420/25468036/cefa2946-2ae0-11e7-888f-087361d2fe85.png)

[2017-04-27 04:36] #811 closed

[2017-04-27 04:46] ihadeed commented on #1417
I vote to add it as `local-notifications-2` or `phonegap-local-notifications`. I don't think we should replace the existing plugin.

I agree with @John-Luke, the plugin seem to have less functionality than the "unofficial" plugin.

[2017-04-27 04:51] #1416 closed

[2017-04-27 04:55] #1385 closed

[2017-04-27 05:47] ghenry22 commented on #1333
@ihadeed - I'm not sure what has happened but some changes have been made that have now resulting the media plugin being quite broken in 3.6.0.

Looking at the docs on the ionic site for media, if I follow the documentation with version 3.4.4 of the plugin everything works as expected.

If I then just update to 3.6.0 in package.json I immediately get TS throwing errors and aborting builds.

I woul

[2017-04-27 06:04] mene078 opened #1426 "image-picker can not build on ionic-native/core 3.4.2"
I'm using "@ionic-native/core": "^3.4.2" and try to add image-picker plugin
But got the error msg about IonicNativePlugin, tried to search around about it but unfortunately.
the error message from building not give that much that I can trace more about it.
What should I do next?

[code]

[2017-04-27 06:33] ihadeed commented on #1333
@ghenry22 sorry I forgot to update the documentation. The usage now is as follows:
[code]

`.create()` method takes 3 optional callbacks, `onProgress`, `onSuccess` and `onError`. Full example would be:
[code]

[2017-04-27 07:24] ghenry22 commented on #1333
I saw that when I checked the current source code to see what was up.  Whenever trying to specify the extra callbacks for onSuccess and onError though I get a TS error that this doesn't match the signature of the create method, it seems to still be expecting only src and OnStatusUpdate as arguments.

Perhaps typings need to be updated as well to resolve that?  If you can check I'll give updating a

[2017-04-27 07:25] ihadeed commented on #1426
Sorry I forgot to change the core package dependency in the new release. Please update @ioniv-native/core to 3.6.0

[2017-04-27 07:26] ihadeed commented on #1333
Is the error emitted by your IDE or the CLI?

[2017-04-27 07:28] ghenry22 commented on #1333
that's in the IDE it's just VSCODE, all other ionic and ionic-native stuff works fine.  I'll give it another try tomorrow if you think it's just the IDE freaking out over nothing.

[2017-04-27 07:37] ihadeed commented on #1333
I just had a look at the new definitions. It's possible that the callbacks you provided do not match the callbacks expected by function. They're not that flexible now.

 Can you share your code so I can have a look?

[2017-04-27 07:38] mene078 commented on #1426
That's solved all. thank you so much.

[2017-04-27 08:25] dwm-it commented on #1402
Still the same error !
Nobody has any idea ?

[2017-04-27 08:29] astec opened #1427 "Allow higher minor&fix version of Angular in package.json of Ionic Native"
Is there any reason to pin `devDependencies` to a strict Angular version?

Can you make it `"@angular/compiler": "^4.0.2"`? For example Ionic v3.1 has "4.0.2" for all Angular packages. Same as it's done for `zone.js`.

Would it harm if Ionic packages are bounded just by a specific major and a minimum minor versions and we can upgrade dependencies to bug fixes & minor updates without warnings?

[co

[2017-04-27 09:02] ewilys opened #1428 "Diagnostic -plugin no exported member 'IonicNativePlugin'"
Hi,

I'm new to Ionic2 and I've got a problem with the diagnostic cordova plugin. I added the plugin with : import { Diagnostic } from '@ionic-native/diagnostic'; (+ added as a provider of my component and, to the constructor + my package.json is updated to the good version)
, nevertheless I got a TypeScript error with the import saying :
"Module '"~/testIonic/node_modules/@ionic-native/core/index

[2017-04-27 10:44] aneeskodappana opened #1429 "@ionic-native/network plugin not working"
[code]

![capture](https://cloud.githubusercontent.com/assets/25400284/25479939/5a149c90-2b64-11e7-97c1-4db5b3ff722a.PNG)

[code]
also add to the providers array in app.module.ts

[2017-04-27 11:17] 8BallBomBom commented on #838
Thanks @ihadeed 👍

[2017-04-27 11:17] #838 closed

[2017-04-27 11:19] 8BallBomBom opened #1430 "Plugin Request: Native Ringtones"
Would it be possible to add this plugin to Ionic Native?
https://github.com/TongZhangzt/cordova-plugin-native-ringtones

Pretty useful for people creating communication apps that need the ability to play a ringtone.

[2017-04-27 11:34] aneeskodappana commented on #1428
same error here.
have you fix this @ewilys
getting this error on installing camera native plugin and network native plugin too

[2017-04-27 11:56] ewilys commented on #1428
Yes, I was trying to fix another problem and it appears that my ; '@ionic-native/core' in 'dependencies' in my package.json wasn't at the good version so  I changed it to : "@ionic-native/core": "^3.6.0".

Then do :
rm -rf node_modules/
npm cache clean
npm install

And it should work now. Hope it will help you

[2017-04-27 11:57] #1428 closed

[2017-04-27 12:53] aneeskodappana commented on #1428
it works, thanks @ewilys

[2017-04-27 13:04] tordnilsen opened #1431 "Getting ts error on plugin Shake"
Hi!
I'm getting this error when compiling with the native Shake plugin. (https://ionicframework.com/docs/native/shake/)
----------
[14:57:24]  typescript: C:/dev/node_modules/@ionic-native/shake/index.d.ts, line: 1
            Module '"C:/dev/node_modules/@ionic-native/core/index"' has no exported member
            'IonicNativePlugin'.
       L1:  import { IonicNativePlugin } from '@ionic-native/

[2017-04-27 14:27] sifang commented on #438
I have the same issue with Native Flurry: https://ionicframework.com/docs/native/flurry-analytics/

All Flurry calls fail with message similar to this, on device (ionic run android):
"Native: tried calling FlurryAnalyticsPlugin.init, but the FlurryAnalyticsPlugin plugin is not installed."

All calls are wrapped with Platform.ready().

Here is my environment:
Cordova CLI: 6.5.0
Ionic Framework Vers

[2017-04-27 14:32] aceoliver commented on #1429
Make sure the version of "@ionic-native/core" and "@ionic-native/network" are the same.

See package.json

[2017-04-27 14:43] sifang opened #1433 "BUG: Native Flurry not working: plugin is not installed"
All Flurry calls fail with message similar to this, on device (ionic run android):
"Native: tried calling FlurryAnalyticsPlugin.init, but the FlurryAnalyticsPlugin plugin is not installed."

All calls are wrapped with Platform.ready().

Here is my environment:
Cordova CLI: 6.5.0
Ionic Framework Version: 3.1.0
Ionic CLI Version: 2.1.18
Ionic App Lib Version: 2.1.9
Ionic App Scripts Version: 1.3.4
i

[2017-04-27 15:12] tattivitorino commented on #1314
@Miggel1988 your app.module is right but when using Storage in your pages and components you need to import { Storage } from '@ionic/storage'; are you doing that?

[2017-04-27 16:02] iknox27 opened #1434 "Has no exported Member 'IonicNativePlugin'"
Module "node_modules/@ionic-native/diagnostic/index.d.ts, line: 1
Module '"node_modules/@ionic-native/core/index"' has no exported member IonicNativePlugin'.
L1:  import { IonicNativePlugin } from '@ionic-native/core';

[2017-04-27 16:19] ihadeed commented on #1434
Please update @ionic-native/core to at least 3.6.0

[2017-04-27 21:31] wajdiii commented on #1399
I had this issue "plugin_not_installed" when I try to build my app on iOS

[2017-04-27 21:33] wajdiii commented on #1433
I had the same issue!

[2017-04-27 22:16] rapropos commented on #1427
What impact does ionic-native's `devDependencies` have on end users?

[2017-04-28 00:17] rapropos commented on #1431
Upgrade @ionic-native/core to at least 3.6.0.

[2017-04-28 03:48] rogeliotrejo13 commented on #688
I have a problem similar when run app in android, debug and release version

main.js:110393 Ionic Native: deviceready did not fire within 5000ms. This can happen when plugins are in an inconsistent state. Try removing plugins from plugins/ and reinstalling them.

[2017-04-28 05:58] tordnilsen commented on #1431
Worked.
Thanks.

[2017-04-28 05:58] #1431 closed

[2017-04-28 07:11] litsun commented on #1333
const onProgress = (args) => console.log('media progress', args);
        const onSuccess = (args) => console.log('Media success', args);
        const onError = (args) => console.log('Media error', args);

        const file: MediaObject = this.media.create('assets/media/朋友的酒.mp3', onProgress, onSuccess,
        onError);
        file.setVolume(1);
        file.play();
        file.startRecord();

[2017-04-28 07:43] nivida opened #1438 "Cant run: ionic cordova emulate android"
I've updated this morning because the new cli has told me to update two npm modules.. so i have done it and now after some debugs i have this error below with this package.json.

Package.json:
[code]

Error:
[code]

[2017-04-28 07:49] #1438 closed

[2017-04-28 11:04] sifang commented on #1433
@wajdiii
I'd still like to see Ionic Native team fix this,
because Flurry is the most popular stats tool for Mobile development.
It'd be a shame that Flurry does not work on Ionic.

My *non-ideal* work-around is to use the cordova plugin directly, via Javascripts.
Please let me know if you need a code example.

[2017-04-28 12:12] wajdiii commented on #1433
Hi @sifang thanks for you answer! Can you send me an exemple please?
I'm stuck because Google analytics is not working too, the app can't build for android.

[2017-04-28 15:34] crawft commented on #1433
I also have this issue on the Diagnostic plugin, so it's clearly something more fundamental:

[code]

[2017-04-28 17:11] adairborba commented on #1433
+1
And in the plugin BackgroundMode.

[2017-04-28 17:11] adairborba commented on #1429
+1
The same version:

"@ionic-native/core": "3.5.0",
"@ionic-native/network": "3.5.0",

[2017-04-28 17:25] aneeskodappana commented on #1429
Ah it works. Thanks @adairborba @aceoliver

[2017-04-28 17:25] #1429 closed

[2017-04-28 22:27] steegi commented on #1408
Master and 3.6.1 seem to be broken. I switched to 3.5.0 which works fine.

[2017-04-29 00:03] rapropos commented on #1407
Can you see if this is still a problem with 3.6.0?

[2017-04-30 15:28] trbsi opened #1444 "[DOCS IMPROVE] Ionic native Google Maps"
As stated here I had a problem with Google Maps. I was using code from this page https://forum.ionicframework.com/t/google-maps-marker-not-showing/88383 but I couldn't get it to work.

[code]

Here is my whole code for the latest ionic and Google Maps plugin, it's working perfectly.

.ts file:
[code]

For any questions I'll be watching this topic.

[2017-04-30 16:44] bash88 opened #1446 "issue(InAppBrowser) Invalid event target"
Hi Guys,

I'm having trouble subscribing to the events fired by the InAppBrowser. Opening a url in the browser is working fine, trying to subscribe to an event throws the error. I started a new project with a single page and only the inappbrowser plugin, still throws the same error.

I've been at this for days now. Am I doing something wrong, or is this a bug?

--

Full error

Version info

app.mo

[2017-04-30 19:26] monichols commented on #1378
Did you ionic serve --l before running on device? that should tell you what the problem is.

Also, make sure to add SpeechRecognition to your app module like this::

import { SpeechRecognition, SpeechRecognitionListeningOptionsAndroid, SpeechRecognitionListeningOptionsIOS } from '@ionic-native/speech-recognition';

  providers: [
    SpeechRecognition, ;
    StatusBar,
    SplashScreen,
    {provi

[2017-05-01 00:29] baksagimm commented on #1407
@rapropos Nope. It don't seem to call onSuccess.

[2017-05-01 00:39] baksagimm commented on #1407
@rapropos Nope. It seems this time, media.create returns undefined.

[2017-05-01 07:00] sifang commented on #1433
@wajdiii Here is my sample code, hope it helps

`import(s)...

declare var FlurryAnalytics;

@Injectable()
export class MMDStatsService {
  flurry: any;

  constructor(...) {
    // create a new instance
    this.flurry = new FlurryAnalytics({
        // requried
        appKey: <your api key here>,
        // optional
        reportSessionsOnClose: true,
        enableLogging: true
    });
  }

[2017-05-01 11:12] mastarenee commented on #1434
Running the below did the job for me after I updated I got the same error so turns that I needed to completely remove it first.

npm uninstall --save @ionic-native/core
npm install --save @ionic-native/core@latest

[2017-05-01 15:17] AugustoAleGon commented on #1434
Thanks for this solution. I had the same issue.

[2017-05-01 21:56] danielehrhardt commented on #1407
yes same here

[2017-05-01 22:00] danielehrhardt commented on #1333
Same Problem as @litsun here

[2017-05-01 22:13] danielehrhardt opened #1452 "Media Plugin (Record) create no File on iOS"
Hi i try to create a audio Record but suck now for 3 days on this simple exercice.
On Android all is Working Fine the File was created and then i upload it to my s3 server. But on iOS i think the file is never created.

I use Ionic Native 3.6.1 and Ionic 3.

This is my code:
[code]

and this my xCode output:
[code]

https://forum.ionicframework.com/t/recording-is-not-working-on-cordova-plugin-medi

[2017-05-01 22:33] danielehrhardt commented on #1452
if i try to create the file before calling the media.create function i got this error:
2017-05-02 00:33:16.938150+0200 NetzApp[4597:1638571] Start recording
2017-05-02 00:33:16.938235+0200 NetzApp[4597:1638571] Kill Reloading
2017-05-02 00:33:16.938399+0200 NetzApp[4597:1638571] Start
2017-05-02 00:33:17.010306+0200 NetzApp[4597:1638571] Will attempt to use file resource 'file:///var/mobile/Contai

[2017-05-02 07:56] bash88 commented on #1446
@ihadeed nobody who can help me with this?

[2017-05-02 08:30] piotrowski commented on #1446
There is now a forum thread where we try to tackle this problem: https://forum.ionicframework.com/t/issue-inappbrowser-invalid-event-target/88548

[2017-05-02 08:36] wajdiii commented on #1433
Thanks @sifang I did the same work-around with window.plugins.FlurryAnalytics...
Hope they will fix that quickly because this work-around cause a performance issue.

[2017-05-02 13:25] AleFons commented on #1407
According to my testing, getDuration() seems to only work after the file has finished playing at least once; it also sometimes simply won't work and I'm not sure what causes it.

[2017-05-02 14:44] ajeans commented on #1434
Same here, upgrading to 3.6.1 fixed the issue.

[2017-05-02 15:09] jgw96 opened #1453 "bug(deep-linking): undefined is not a function"
_From @AmitMY on May 1, 2017 12:24_

**Ionic version:**  (check one with "x")
[ ] **1.x**
[ ] **2.x**
[x] **3.1.x**

**I'm submitting a ...**  (check one with "x")
[x] bug report
[ ] feature request
[ ] support request => Please do not submit support requests here, use one of these channels: https://forum.ionicframework.com/ or http://ionicworldwide.herokuapp.com/

**Current behavior:**
Trying to

[2017-05-02 15:09] jgw96 commented on #1453
Hello @AmitMY is this issue in reference to the lazy loading in the framework or the deeplinking cordova plugin?

[2017-05-02 15:09] jgw96 commented on #1453
_From @AmitMY on May 1, 2017 18:34_

@jgw96 Yep I got confused. Can you please move this to `ionic-native`?

[2017-05-02 15:09] jgw96 commented on #1453
No problem! Can do.

[2017-05-02 15:27] MTechDE commented on #1444
Hey,
thank you for opening an Issue here. I will look into this.

[2017-05-02 15:37] MTechDE commented on #1444
Hey,
thank you for opening this Issue. Can you tell me, if you only had problems with the marker or with the whole documentation of this plugin?

[2017-05-02 16:22] CHOMNANP commented on #1452
Hi Daniel,
In case you get it fixed, appreciate if you can share the solution.

[2017-05-02 17:12] trbsi commented on #1444
I had a problem with a whole documentation so I had to use my solution to make it work. Also very important inside `this.map.on(GoogleMapsEvent.MAP_READY).subscribe((){})` you should add stuff like new marker or positioning maps camera to a specific coordinates, so basically after map is loaded

[2017-05-02 18:21] MTechDE commented on #1444
Okay fine.
Is this part required for the plugin to work?

`this.map = new GoogleMap('map', { ... });`

If i find some time today, I will rework the plugin doc.

[2017-05-02 18:39] trbsi commented on #1444
That's right

[2017-05-02 21:22] jalbertos commented on #1434
same! thanks!

[2017-05-02 22:49] nicoisz commented on #1429
how do you resolved it?

[2017-05-03 04:14] aneeskodappana commented on #1429
@nicoisz install @ionic-native/core@latest

[2017-05-03 07:57] airstep commented on #929
So? Any updates? Or how to add it?

[2017-05-03 08:07] blackpr commented on #1434
@mastarenee  thanks!

[2017-05-03 08:46] ramoncarreras opened #1457 "bug(background-mode): Promise callbacks never fired."
Hi,
I'm using @ionic-native/background-mode@3.6.1.

If I execute the following code, console does not show any log.

[code]

My system information:

[2017-05-03 09:00] zbicin commented on #948
@ihadeed unfortunately it seems that the issue is back. The `npm install` installs now TypeScript 2.2.1, as it is explicitly stated in ionic-native's `package.json`:

[code]

Unfortunately installing `TypeScript@2.0.10`, as @biesbjerg suggested before, doesn't help much, because it produces another set of errors.

I've cut some of the output to keep it more clear:

[code]

[2017-05-03 11:22] AmitMY commented on #1453
Update - issue happens on `browser` platform as well, and also deeplink is firing twice

[2017-05-03 16:00] mbrookson commented on #810
I've been looking into the in app purchase plugins for the past few days and as far as I can tell, the current one (https://github.com/AlexDisler/cordova-plugin-inapppurchase) supported by Ionic native is now not maintained, but also the cordova-plugin-purchase plugin (https://github.com/j3k0/cordova-plugin-purchase) seems to work better as it is the recommended way by Apple regarding listening to

[2017-05-03 16:06] mhartington commented on #810
Hm, yeah sounds like it might need to be added as an alternative option.
Then at 4.0.0, we could remove the older plugin.

@ihadeed thoughts?

[2017-05-03 17:39] wbmedia commented on #1426
thanks! mate this solution works for me 💯  :)

[2017-05-03 18:26] jgw96 opened #1459 "bug: ionic start is not downloading the latest"
_From @abusharaf on May 3, 2017 17:10_

**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>2.x</span>

**Platform**: <span ionic-platform>all</span>

<span ionic-description>if you start a new ionic application for example the below:-

ionic start sqlite-project blank

it will create a project but when you run this:-

npm install --save @ionic-native/sqlite as per the do

[2017-05-03 18:26] jgw96 commented on #1459
_From @MTechDE on May 3, 2017 17:50_

Maybe that is a problem with your npm cache.

If you run `npm install --save @ionic-native/sqlite@latest` you should get the latest release

[2017-05-03 19:12] akz92 opened #1460 "bug: typescript File override"
The File class definition makes it impossible to cast a file as a blob.

Using Typescript's File definition makes the following work:
[code]

When using IonicNative's File definition it stops working.

[2017-05-03 20:27] #1434 closed

[2017-05-03 20:40] #1444 closed

[2017-05-03 20:59] ihadeed commented on #810
@mhartington

We can definitely add the `j3k0` IAP plugin. I'll try to implement it over the next couple of weeks.

They both seem to have tons of issues, I can't really decide which one is the ideal choice since I never used any of them. So I'm not sure if we should remove the old plugin in 4.x as of now. We can **(1)** do a community vote/survey to decide, **or** **(2)** keep both of them and do

[2017-05-04 02:06] ejiyuan commented on #1460
+1

[2017-05-04 07:19] chandanch commented on #1434
@ihadeed please update the package.json as well. In the [ChangeLog](https://github.com/driftyco/ionic/blob/master/CHANGELOG.md) its still showing 3.4.2

[2017-05-04 07:28] ihadeed commented on #1434
Will do! Sorry about that

[2017-05-04 13:46] ronaldmak commented on #1333
@litsun The 1st error occurs because method "setVolume" is called before method "play" is called. It is not allowed. The 2nd error occurs because method "startRecord" is called while the audio is playing.

[2017-05-04 14:53] mikewagz opened #1462 "Missing functions on camera-preview"
Hi, there are some functions listed in the [documentation](https://ionicframework.com/docs/native/camera-preview/) that aren't implemented in the actual ionic-native plugin yet:

getFocusMode()
setFocusMode(focusMode)
getSupportedFocusModes()
getFlashMode()

Is it possible to get these in there?  This plugin has great potential once fully-featured.

Also, it would be great if you could add the [ta

[2017-05-05 00:44] saniyusuf commented on #1405
This is a major problem as it seems updating to the latest version removes the promise since now a Media object is returned so all legacy apps will break. ANy status on this. I dont mind submitting a PR to fix this as it makes it a breaking change

[2017-05-05 01:34] ihadeed commented on #1405
@saniyusuf

The last version fixed the implementation by not returning back a promise. If you look at the plugin's [source code here ](https://github.com/apache/cordova-plugin-media/blob/master/www/Media.js#L50) you can see that the success callback is not used when creating a new instance. Therefore, we shouldn't wait for the promise to resolve to return back the media object.

I thought this plu

[2017-05-05 09:22] samever7 opened #1464 "How to check a media id is loaded or not?"
As title, when I using native-audio plugin, I need to test whether one of my media id is already loaded.

I checked our docs but no api can do this kind of job.

Is there any chance that we add this kind of api?

Or could anyone pls that let me know the right usage of this plugin to avoid duplicated loading for medias?

Thank you all~

[2017-05-05 09:39] nikhildhar123 commented on #1284
Hi guys
Please check in this provider I am calling insert function and in console I am able to check inserted message but not after in message i.e.after execute insert function...
[code]

[2017-05-05 12:22] SquadraCorse opened #1466 "@ionic-native/touch-id - method didFingerprintDatabaseChange is missing"
Since some time 'cordova-plugin-touch-id' supports the check to see if fingerprint database has changed. They exposed the method `didFingerprintDatabaseChange` for it.

But the native ionic plugin doesn't expose this. Now i can't check it, doing the Ionic way. Can you please add this?

[2017-05-05 13:01] danielehrhardt commented on #1405
https://github.com/driftyco/ionic-native/issues/1452

[2017-05-05 16:47] danielsogl commented on #1417
I will create a PR for this plugin.

I think the name phonegap-local-notifications is okay

[2017-05-05 17:45] danielsogl commented on #1466
I will have a look into this.

[2017-05-05 17:54] #1466 closed

[2017-05-05 20:28] mahmoudtokura commented on #1434
@mastarenee Worked like a charm, thanks

[2017-05-05 21:12] danielsogl opened #1477 "feature(plugin): Cordova Augment Player SDK"
Sound like a pretty dope plugin: https://developers.augment.com/cordova/

Any suggestions or experiences with this plugin?

[2017-05-05 21:14] danielsogl opened #1478 "feature(plugin): Background Upload"
Because we have a background fetch plugin, it would be nice to have also an background upload plugin.

https://www.npmjs.com/package/cordova-plugin-background-upload
https://github.com/spoonconsulting/cordova-plugin-background-upload

[2017-05-05 22:09] rapropos commented on #1464
This seems like a better fit for [the support forums](https://forum.ionicframework.com/).

[2017-05-06 01:07] patrickbussmann commented on #1452
Hey guys,

I found a solution for our problem :sunglasses:
It seems that there are two important things we must know about the plugin.

1. It only accepts `tmp` and `Documents` folder, everything else will result not good
2. The file must exist before creating the media object (for recording)

And if you use a correct absolute file path for the first `create` parameter it's bad, too. - for this pl

[2017-05-06 07:38] danielsogl commented on #1408
Fixed with commit 134eab2dcc43cbf00aa5b63c06516dfdbe5e4636

Can you close it @nicobytes?

[2017-05-06 07:42] danielsogl commented on #1404
Hey @Sampath-Lokuge,
for this kind of usage, you should use the official [Angularfire2 package](https://github.com/angular/angularfire2) from the Firebase Team.

[2017-05-06 07:43] danielsogl commented on #1403
Hey@autotranzmoreshwar,
can you close this issue?
You tried to access the old Ionic Native 2.x plugin.

[2017-05-06 07:48] danielsogl commented on #1402
Hey @dwm-it,

you should definitely upgrade to Ionic Native 3! I tried to reproduce your issue with Ionic Native 3 and can tell you, you won't have a problem with it.

Run `npm uninstall --save ionic-native` first and then run `npm install --save @ionic-native/core`

Read [this blog post](http://blog.ionic.io/ionic-native-3-x/) to learn more about Ionic Native 3.

[2017-05-06 07:51] danielsogl commented on #1399
Hey @gregavola,
thank you for opening this issue.
I fixed the wrong pluginRef.

[2017-05-06 07:56] danielsogl commented on #1401
Hey @FrancescoMussi,

I think you can close this issue because the installation instruction was added to the docs

[2017-05-06 07:58] danielsogl commented on #1369
Hey @mebibou,

I fixed that issue.

[2017-05-06 08:02] danielsogl commented on #1393
Hey @nonamez,
thank you for opening this issue.
I added the method!

[2017-05-06 08:04] danielsogl commented on #1378
Hey @choatehall,

can you post your package.json and your code where you imported/used the plugin?

[2017-05-06 08:13] #1401 closed

[2017-05-06 12:54] danielsogl commented on #1430
Hey @8BallBomBom,
I will have a look into this plugin

[2017-05-06 14:36] SebastianSchirmer opened #1489 "Question:"
The plugin cordova-plugin-safariviewcontroller (https://github.com/EddyVerbruggen/cordova-plugin-safariviewcontroller) offers the options "barColor" and "controlTintColor" to be passed in to the show method.

However, ionic-native/safari-view-controller, respectively the "SafariViewControllerOptions" interface does not specify these 2 options but option "toolbarColor" which the plugin doesn't offe

[2017-05-06 15:32] danielsogl commented on #1489
Hey @SebastianSchirmer,

I will take a look into this.

[2017-05-06 15:40] danielsogl commented on #1489
I added the missing options.

Thank you for creating that issue

[2017-05-06 16:47] danielsogl opened #1491 "feature(plugin): dbcopy"
In my opinion, this is a useful plugin. Created some posts in the forum about it.
Sometimes I read questions like "How can I implement my generated DB files?"

Any suggestions or experiences with this plugin?

I will create a PR for this plugin later.

Repo: https://github.com/an-rahulpandey/cordova-plugin-dbcopy

[2017-05-06 16:55] #1491 closed

[2017-05-06 17:51] elnemr84 opened #1492 "Typescript Error Cannot find name 'Observable' in @ionic-native/geolocation"
Hi,
I'm using Ionic 2 and trying to use @ionic-native/geolocation, when I do ionic:serv  on my project I got this Error:
Cannot find name 'Observable'.

![image](https://cloud.githubusercontent.com/assets/13181429/25774711/3d2163e2-3295-11e7-8282-e9a0086cc268.png)

I'm using the below packages:

"dependencies": {
    "@angular/common": "4.0.2",
    "@angular/compiler": "4.0.2",
    "@angular/compi

[2017-05-06 18:56] danielsogl commented on #1492
You should upgrade your native code package to 3.6.1
And I can't see the geolocation package.are you sure you installed it correctly?

[2017-05-06 19:23] elnemr84 commented on #1492
Hi @danielsogl ,
it's already upgraded to 3.6.1 as shown in my dependencies.
And yes geolocation plugin is installed correctly.

[2017-05-06 19:29] danielsogl commented on #1492
Sorry I meand the other native plugins but I can't see your geolocation plugin in your package.json

[2017-05-06 20:05] elnemr84 commented on #1492
Hi @danielsogl ,

This is my package.json file content:
[code]

[2017-05-06 20:35] danielsogl commented on #1426
@mene078 can you close it?

[2017-05-07 01:16] #1426 closed

[2017-05-07 08:24] samever7 commented on #1464
ok then~

I'll close this one.

[2017-05-07 08:24] #1464 closed

[2017-05-07 09:47] danielsogl commented on #1462
Hey @mikewagz,

I will take a look into this.

[2017-05-07 09:54] danielsogl commented on #1462
@mikewagz,
the functions are now added. Wait for the next release.

[2017-05-07 09:58] danielsogl commented on #1459
@abusharaf can you close it? I updated the app-base repo to match the latest ionic-native release 3.6.1

[2017-05-07 10:05] danielsogl commented on #1415
Hey @tedliang-asahi, the requested methods are implemented. Check the latest native release.
But I added the missing keys() method.

[2017-05-07 10:28] abusharaf commented on #1459
Yah, I've checked it today and it was getting the latest updates, many thanks this will save a lot of confusion for the beginners :)

[2017-05-07 12:36] danielsogl commented on #1413
Hey @vosecek,
this method is implemented as you can see here: https://github.com/driftyco/ionic-native/blob/master/src/%40ionic-native/plugins/google-maps/index.ts

[code]

[2017-05-07 12:38] danielsogl commented on #1352
@wodka,

I will take a look into the new updated repo

[2017-05-07 13:31] #1415 closed

[2017-05-07 14:17] #1462 closed

[2017-05-07 14:30] #1492 closed

[2017-05-07 14:30] elnemr84 commented on #1492
I didn't add @ionic-native/geolocation into my dependencies, it's working now after adding it, Thank you.

[2017-05-07 16:33] danielsogl commented on #1288
Hey @FdezRomero,

I added the method. Wait for the next release.

[2017-05-07 16:35] danielsogl commented on #1160
Hey @speedfl,

I will take a look into this.

[2017-05-07 16:36] danielsogl commented on #1263
Hey @billygerhard.

I will take look into this.

[2017-05-07 16:37] danielsogl commented on #1343
Hey @Ranhiru, can you close this issue?

[2017-05-07 16:44] danielsogl commented on #1334
Hey @EbilPanda,

I implemented your suggestions.

[2017-05-07 16:53] danielsogl commented on #1319
Hey @rodneyjoyce,

I will take a look into this changes.

[2017-05-07 17:21] danielsogl commented on #618
@ihadeed this plugin is really outdated. Should we add a different one? I think it would be really helpful to have a plugin like this.

[2017-05-07 17:25] SebastianSchirmer commented on #1489
Thanks very much for adding the options. I checked the plugin source as well and found out that "toolbarColor" is used for Android only whereas "barColor", "tintColor" and "controlTintColor" are used for iOS only.

[2017-05-07 17:25] #1489 closed

[2017-05-07 17:51] danielsogl commented on #711
@ihadeed I will try to implement it :)

[2017-05-07 18:38] mikewagz commented on #1462
@danielsogl Thank you for the speedy response!

[2017-05-07 23:51] FdezRomero commented on #1288
Great! Thanks @danielsogl 👍  I was going to submit a PR but I don't fully understand (yet) the inner workings of the changes made in 3.x.

[2017-05-08 01:03] tedliang-asahi commented on #1415
Great! Thanks for the update

[2017-05-08 06:36] danielsogl commented on #1029
Hey @dylanvdmerwe,

I will add this plugin later this week. This plugin will be really helpful!

[2017-05-08 09:54] wodka commented on #1328
It stopped happening on my system, closing it

[2017-05-08 09:54] #1328 closed

[2017-05-08 10:27] speedfl commented on #1160
Hello.

To be honnest I did not try on ios for the moment. I just wanted to warn because I was testing on android and I saw this update on the readme (which has disappeard).
If you tested and it is working you can close the issue.
I will open one on this plugin repository if the issue appear :)

[2017-05-08 12:04] naveedahmed1 opened #1500 "Please add support for cordova-plugin-appminimize"
Hi,

Please add support for support for https://github.com/tomloprod/cordova-plugin-appminimize as it seems to be a useful plugin.

[2017-05-08 12:46] HimanshuHD commented on #1209
Hi,

Using the same plugin, but getting some issues like,
1. TransferObject : No Export found for this in plugin definition.
2. this.tranfer.create(): does not exists on type Transfer.

One more query, for some plugins we don't need to declare any provider, and for some of them we need to give providers also. Can anyone explain me this please?

Thanks in advance.

[2017-05-08 13:31] ihadeed commented on #1209
@HimanshuHD

Can you share you code?

As of  Ionic Native 3.1+, all plugin providers need to be imported in order for them to work.

[2017-05-08 13:56] HimanshuHD commented on #1209
This is my code where I m using plugin File Transfer.

`import { NavController, Platform } from 'ionic-angular';
import { Transfer, File } from 'ionic-native';

@Component({
  selector: 'page-home',
  templateUrl: 'home.html'
})

export class HomePage {

constructor(public navCtrl: NavController, private platform: Platform, private transfer: Transfer) {
    this.downloadContent();
}

downloadConte

[2017-05-08 15:07] danielsogl commented on #1500
Hey @naveedahmed1,
I will implement this plugin later this week.

[2017-05-08 15:35] danielsogl commented on #1500
@naveedahmed1 will be added in the next release: https://github.com/driftyco/ionic-native/pull/1501

[2017-05-08 15:40] ihadeed commented on #1338
Closing this issue in favor of #1500.

[2017-05-08 15:40] #1338 closed

[2017-05-08 15:40] ihadeed commented on #1017
Closing this issue in favor of #1500.

[2017-05-08 15:40] #1017 closed

[2017-05-08 15:45] naveedahmed1 opened #1502 "Just importing the native plugins impacts the application load time significantly"
Just importing the native plugins (not even these installing cordova plugins) impacts the application's load time significantly. For example following below steps doubles the app load time of an empty app (on fast devices it wont be noticeable; I checked it on Nexus 4 and increased in load time is quite noticeable). To reproduce, please follow below steps:

Create a new project

`ionic start Test

[2017-05-08 15:48] ihadeed opened #1503 "TODO: add Native Keyboard plugin"
https://github.com/EddyVerbruggen/cordova-plugin-native-keyboard

[2017-05-08 16:28] ihadeed commented on #1209
You are following Ionic Native 3.x usage and using Ionic Native 2.x. Please follow the documentation [here ](https://github.com/driftyco/ionic-native/blob/master/README.md) and [here](http://ionicframework.com/docs/native/) to get started with 3.x.

If you want to keep using Ionic Native 2.x, you can find the documentation here: https://github.com/driftyco/ionic-native/blob/v2.x/src/plugins/filetr

[2017-05-08 17:48] danielsogl commented on #1270
Hey @wbhob,
I added the plugin. Wait for the next release

[2017-05-08 18:35] wbhob commented on #1270
Awesome, thanks a ton @danielsogl

[2017-05-08 19:37] msolima commented on #438
Same thing happening to me but with Native Stripe pluging
[https://ionicframework.com/docs/native/stripe/](https://ionicframework.com/docs/native/stripe/)

All calls are wrapped with Platform.ready()
ran both
[code]
and still getting "plugin_not_installed" error.

Please help us with this!

[2017-05-08 19:41] brodybits commented on #881
Woah as the primary author and maintainer I find that statement confusing! The `cordova-sqlite-storage` version does NOT implicitly support pre-populated databases (using the `createFromLocation` option).

I just raised <https://github.com/litehelpers/Cordova-sqlite-help/issues/26> to document this further.

[2017-05-08 20:03] cocowalla commented on #881
@brodybits I find _that_ statement confusing! :)  I'm using this method successfully, and it sounds like @megharajdeepak is too.

Here's what I'm doing:

1. Decide where to download the database to (note `this.file` is a `File` object from `cordova-plugin-file`:

[code]

2. Download the database from a remote endpoint

3. Open the database (note `this.db` is an `SQLite` object from your (rather go

[2017-05-09 03:14] brodybits commented on #881
Agreed. (Further response to this and a couple other points was in https://github.com/litehelpers/Cordova-sqlite-help/issues/26#issuecomment-299983782 for anyone interested.) As discussed in https://github.com/litehelpers/Cordova-sqlite-help/issues/26 I will update the sqlite plugin documentation to reflect this capability.

Nice idea but I would not favor it, reasoning in https://github.com/liteh

[2017-05-09 05:01] danielsogl commented on #929
Hey @prantikv,

I will add this plugin this week.

[2017-05-09 05:03] danielsogl commented on #636
@NeoLSN you can close this issue.

[2017-05-09 05:47] HimanshuHD commented on #1209
Thanks, I got the issue.

[2017-05-09 06:18] danielsogl commented on #1459
@jgw96 can you close this issue?

[2017-05-09 09:56] piotrowski commented on #1502
(I think you should create a second issue for the question so both problems can be handled individually)

[2017-05-09 10:10] naveedahmed1 opened #1511 "Are the ionic-native imports always singleton?"
I would like to know if the ionic-native imports are always singleton? or not. For example if a plugin is used in two child components that are lazy loaded I would prefer to add it in providers of those components only but (as per my understanding) with Angular's default behavior visiting these components will result in two instances of the plugin which isn't desirable.

[2017-05-09 10:14] naveedahmed1 commented on #1502
I have created a new issue for the second question https://github.com/driftyco/ionic-native/issues/1511

[2017-05-09 10:52] jayeshanandani commented on #1352
Can we release and merge this please? Not able to use plugin due to non-availability of the 5.0 android API key.

[2017-05-09 11:05] danielsogl commented on #1352
@jayeshanandani just run cordova plugin add https://github.com/JonSmart/CordovaYoutubeVideoPlayer.git

We didn't change the wrapper just the source.

And read the addition config steps for Android > 5.0: https://github.com/JonSmart/CordovaYoutubeVideoPlayer

[2017-05-09 11:58] VikinDev opened #1512 "@ionic-native/background-geolocation plug in ionic 3.1.1, cannot use!"
When I opened the application, will always be stuck in the launch page.
However, when I cancel import @ionic-native/background-geolocation, applied normal boot.

[code]

[2017-05-09 12:00] jseter opened #1513 "FileReader undefined"
What is the correct way to use FileReader in the current ionic native?  If i use the following syntax then FileReader is undefined (possibly because the plugin has not been loaded yet at the moment the import was called).
import { FileReader } from '@ionic-native/file';

It works if I bypass the import and manually declare it; using it after the device ready event.

[2017-05-09 12:21] eboukamza opened #1515 "issue(SecureStorage) when the plugin is not installed the promises are never fulfilled"
When the SecureStorage plugin is not available the function` create() `returns a `SecureStorageObject` with an `undefined` `_objectInstance`. No error thrown. If I try to call any method of the plugin (get, set, ..) I have a promise never fulfilled.

Solution proposed

The create() method should thrown an exception for better handle this case.

[2017-05-09 12:41] #1512 closed

[2017-05-09 13:30] danielsogl commented on #1304
@dorgold I added this plugin. Wait fore the next release

[2017-05-09 13:39] danielsogl commented on #1163
@zealotzy I added the plugin. Wait for the next release

[2017-05-09 14:34] didgewind opened #1516 "File plugin: externalRootDirectory returns null when building in release mode"
Hi, this code
[code]
works ok in debug build but not in release build. When alerting this.file.externalRootDirectory in release build it returns null, and the error is a code 5 ENCODING_ERR.

Debug compilation: `ionic run android -device`
Release compilation: `ionic build android --prod --release + jarsigner + zipalign`

ionic info:

[code]
Dependencies:
[code]

[2017-05-09 15:56] dorgold commented on #1304
@danielsogl awesome! thanks for your effort!

[2017-05-09 16:24] bergben opened #1517 "Web Intent listed in Ionic Native no longer available"
The Web Intent listed in the [Ionic Native docs](https://ionicframework.com/docs/native/web-intent/) does no longer exist.

There are some forks of it, but none of them are maintained anymore.

The only related repository that is relatively fresh is
https://github.com/darryncampbell/darryncampbell-cordova-plugin-intent

Also related may be links on my SO question: http://stackoverflow.com/question

[2017-05-09 16:32] danielsogl commented on #1517
@bergben I will take a look at the plugin.

[2017-05-09 16:45] MattDHill opened #1518 "Firebase getValue() available for iOS?"
The function getValue() says Android only, but from the plugin docs, it appears it should work for iOS as well. Why is this only for Android?

[2017-05-09 16:56] danielsogl commented on #1517
@bergben I added the changes and the new source. Wait for the next release

[2017-05-09 17:26] danielsogl commented on #1518
@MattDHill let me take a look :)

[2017-05-09 19:16] bergben commented on #1517
Awesome @danielsogl, thanks!

[2017-05-09 21:31] #1393 closed

[2017-05-09 21:31] #1430 closed

[2017-05-09 21:32] #1352 closed

[2017-05-09 21:33] #1288 closed

[2017-05-09 21:33] #1334 closed

[2017-05-09 21:35] #1500 closed

[2017-05-09 21:48] #1399 closed

[2017-05-09 21:52] #929 closed

[2017-05-09 21:53] #1270 closed

[2017-05-09 22:13] #1163 closed

[2017-05-09 22:14] #1029 closed

[2017-05-09 22:20] #1417 closed

[2017-05-09 22:22] #618 closed

[2017-05-09 22:23] #1369 closed

[2017-05-09 22:24] #1304 closed

[2017-05-09 22:29] #1517 closed

[2017-05-09 22:29] #1518 closed

[2017-05-10 01:46] jayeshanandani commented on #1352
Thanks @danielsogl that worked.
Thanks @ihadeed  for merging this.

[2017-05-10 03:23] ihadeed commented on #1413
The method was just updated in 3.7.0 as well to add the missing parameters.

[2017-05-10 03:23] #1413 closed

[2017-05-10 03:24] ihadeed commented on #1404
@Sampath-Lokuge
I would go with what @danielsogl suggested. If you wish to have a native plugin added with that functionality, please provide a repository that we can have a look at.

[2017-05-10 03:24] #1404 closed

[2017-05-10 03:30] ihadeed commented on #1433
The wrapper was written incorrectly. It is now fixed in 3.7.0.

Please update to latest `@ionic-native/flurry-analytics` and follow the documentation here (until the official docs are updated): http://ionic-site-staging.herokuapp.com/docs/native/flurry-analytics/

[2017-05-10 03:30] #1433 closed

[2017-05-10 03:31] #1459 closed

[2017-05-10 03:39] ihadeed opened #1523 "TODO: improve developer docs"
- [ ] Ensure instructions are clear on how to build the library (complete build, or single plugin)
- [ ] Document all exported methods and decorators in the `@ionic-native/core` package with examples
- [ ] How to add a private wrapper/plugin from an Ionic 2 app without dealing with this repo
- [ ] Add a PR template to make the review process easier
  - PRs for fixes need to have link to original c

[2017-05-10 03:40] ihadeed commented on #1412
Does this fix your issue https://github.com/driftyco/ionic/issues/7205#issuecomment-230977122 ?

[2017-05-10 03:41] #1408 closed

[2017-05-10 03:42] Sampath-Lokuge commented on #1404
Hi @ihadeed
Sorry I didn't get exactly what you mean? There is a repository which doesn't have real-time database support. That repo is mentioned on your doc also.That is this: https://github.com/arnesson/cordova-plugin-firebase. Is that what you need or what?

[2017-05-10 03:43] #1403 closed

[2017-05-10 03:45] ihadeed commented on #1402
@dwm-it is this still an issue with ionic native 3.7.0 ?

[2017-05-10 03:47] ihadeed commented on #1397
We had those `@private` flags for docs purposes. We can take them out in the next 2.x release.

[2017-05-10 03:49] ihadeed commented on #1404
@Sampath-Lokuge

I meant that the current plugin doesn't support real-time database functionality. Unless if you find a plugin with that functionality, we wouldn't be able to add it here. Ionic native is just a wrapper for Cordova plugins.

[2017-05-10 03:52] Sampath-Lokuge commented on #1404
Oh.. got it.Hope there is no such plugin yet.I'l try with the Angularfire2. Thanks @ihadeed

[2017-05-10 08:05] dylanvdmerwe commented on #1029
Epic!

[2017-05-10 10:13] stormwin commented on #1404
https://github.com/blakgeek/cordova-plugin-firebase-database

[2017-05-10 15:17] danielsogl commented on #372
Hey @hieuld, I will take a look in too this plugin!

[2017-05-10 15:18] danielsogl commented on #455
@ihadeed I think we can close it because they stopped the development.

[2017-05-10 15:20] danielsogl commented on #711
@ihadeed can be closed. I forgot to link my PR to this issue

[2017-05-10 15:21] danielsogl commented on #482
@Manduro I will take a look into this!

[2017-05-10 15:22] danielsogl commented on #709
@ihadeed on my list

[2017-05-10 15:23] danielsogl commented on #715
@ihadeed on my list

[2017-05-10 22:14] naveedahmed1 opened #1528 "AppMinimize plugin doesnt seem to work as expected"
I have below code in my component but it doesn't seem to work

[code]

It doesn't minimize app when back button is pressed.

[2017-05-10 22:43] hkhamm opened #1529 "ionic-native/mixpanel out of date"
The cordova plugin that ionic-native/mixpanel relies on was updated 10 days ago, but ionic-native/mixpanel has not been updated.

Changes include MixpanelPeople is no longer separate from Mixpanel. You instead do mixpanel.people to access its methods.

New methods:
mixpanel.createAlias

Deprecated methods:
mixpanel.showSurvey
mixpanel.people.identify

https://github.com/samzilverberg/cordova-mixpa

[2017-05-10 22:50] hkhamm commented on #1529
Looks like I just needed to update to the newest version. Thanks!

[2017-05-10 22:51] #1529 closed

[2017-05-11 05:53] Sampath-Lokuge commented on #1404
Oh.. It is there.Have you used that plugin @stormwin ?

[2017-05-11 06:35] danielsogl commented on #1528
Hey @naveedahmed1, I will check that problem later. Maybe I did something wrong.

[2017-05-11 08:17] peterpeterparker opened #1530 "File.readAsArrayBuffer promise never resolves"
Hey,

I updated recently to Cordova 7.0.0, cordova-plugin-file 4.3.3 and today ionic-native 3.6.1 and ionic-angular 3.2.0.

After all these update, File.readAsArrayBuffer promise is never resolved.

I tried without luck solution described in https://github.com/driftyco/ionic-native/issues/978 and https://github.com/driftyco/ionic-native/issues/505 (polyfill.js before cordova.js in index.html ... d

[2017-05-11 08:20] peterpeterparker commented on #1530
UPDATE: May I find something. Update index.html under src and building doesn't update index.html under platform...gonna try to change it manually

[2017-05-11 08:48] ihadeed commented on #1528
Just fixed it in https://github.com/driftyco/ionic-native/commit/10d61c21c29252495b9a72a118795af400771a0b .. should be fixed in next patch release.

[2017-05-11 09:27] stormwin commented on #1404
I created my own plugin where i merged current firebase plugin and database plugin in one. Then i created my own ionic-native plugin for that..

[2017-05-11 11:48] SirTori commented on #1530
I updated to these versions today coming from ionic 2 (except I updated ionic-native to 3.7) and ran into the same issue.

After playing around a bit with different versions of cordova, zone.js, rxjs, sw-toolbox, ionic-native I found a working one:
ionic-native/*@3.4.4
changing any other library did not seem to have any effect on this bug. After finding the working ionic-native version I upgraded

[2017-05-11 12:56] herrjemand commented on #1530
@peterpeterparker @SirTori same issue here. Tested with readAsText. Drives me nuts!

[2017-05-11 13:02] herrjemand commented on #1530
@SirTori YOU ARE MY HERO!

[2017-05-11 13:13] Sampath-Lokuge commented on #1404
Oh.. Is it working properly? Can we have more info about that? @stormwin

[2017-05-11 15:10] zjw1918 commented on #1530
Same problem.
Both happened in [ ionic 3.0.0, cordova 7.0.0, android 7.0 ] and [ ionic 2.2.3, cordova 6.5.0, android 4.4 ].
If the file to be read does not exist, catch can get FILE NOT EXIST. If file does exist, read callback just does not happen.

[2017-05-11 15:12] herrjemand commented on #1530
@zjw1918 @SirTori temporary solutions works perfectly!

[2017-05-11 15:15] zjw1918 commented on #1530
@herrjemand Yes, thanks. Just need to change "@ionic-native/file" version to 3.4.4.

[2017-05-11 15:30] SirTori commented on #1530
Glad this helps some people.

It seems many are eager to update to the newest versions these days, a shame it (re)introduces this bug.
Since no errors are thrown its hard to debug and if you don't use the right keywords to find these issues here many hours can get lost to this.

This is a pretty old issue (#505) that was closed without a resolution but just a workaround (which wasn't even added to

[2017-05-11 15:35] peterpeterparker commented on #1530
@SirTori I don't think this bug was reintroduced. I use ionic-native for File.readAsArrayBuffer since version alpha and I never had to use the workaround described in the issue I linked above.

[2017-05-11 21:08] arjunbanker commented on #780
i also see this problem, only when running in the ios emulator (e.g. ionic cordova emulate ios --target="iPhone-6") any one find a workaround?

[2017-05-11 21:55] dylanvdmerwe opened #1534 "issue(docs): styling of optional tags"
The optional tags should really have white text inside of them.

![image](https://cloud.githubusercontent.com/assets/2852839/25973651/40f19320-36a5-11e7-8ed5-e67e0a289960.png)

[2017-05-12 00:57] ihadeed commented on #1534
This issue was moved to driftyco/ionic-site#1096

[2017-05-12 00:57] #1534 closed

[2017-05-12 07:47] #711 closed

[2017-05-12 07:48] troyanskiy commented on #1530
I have same issue with `file.readAsText`, which is never resolved.
I think the issue is related to simplify commit, which suppose to have common code for `readAsArrayBuffer`, `readAsText`...
I will try to dig on it.

[2017-05-12 08:08] troyanskiy commented on #1530
So... I've fixed the issue.
It works for me.
PR created.

[2017-05-12 08:18] #1530 closed

[2017-05-12 09:03] #709 closed

[2017-05-12 11:33] YD1722 opened #1541 "unmet peer dependency @ionic-native/social-sharing"
[code]

[2017-05-12 11:37] danielsogl commented on #1541
Hey @YD1722, you should upgrade the native-core plugin by running `npm install @ionic-native/core@latest`

Ti will fix your error.

[2017-05-12 11:45] #1541 closed

[2017-05-12 15:36] jgw96 opened #1542 "Native Media plugin does not work on Android or iOS - fails without error"
_From @brettdorrans on May 12, 2017 10:39_

**Ionic version:**  (check one with "x")
[ ] **1.x**
[x] **2.x**
[ ] **3.x**

**I'm submitting a ...**  (check one with "x")
[x] bug report
[ ] feature request
[ ] support request => Please do not submit support requests here, use one of these channels: https://forum.ionicframework.com/ or http://ionicworldwide.herokuapp.com/

**Current behavior:**

Play

[2017-05-12 15:36] jgw96 commented on #1542
Hello, thanks for opening an issue with us. Are you using `ionic-native` ?

[2017-05-12 15:36] jgw96 commented on #1542
_From @brettdorrans on May 12, 2017 14:42_

Hi, thanks for responding.

I am using ionic-native/media@3.7.0 following the docs provided here: https://ionicframework.com/docs/native/media/

I managed to get audio playing using Native Audio - I suspect the Media plugin isn't playing nice with paths on device targets?

I think this might be better reported in the ionic-native repo - but I'm not sure!

[2017-05-12 15:36] jgw96 commented on #1542
Thanks for the info! Yeah, since this is an ionic-native issue I am going to move this issue over to that repo. Thanks for using Ionic!

[2017-05-13 01:40] naveedahmed1 commented on #868
@ihadeed can you please reopen and review it again, its seem its still not properly supported. It would be really great if we could register the callback function through push object. For example

        this.push.on('onReply', (data) => {
            this.nav.push(ReplyComponent, { id: data['additionalData']['id'] });
        });

[2017-05-13 04:29] gitdisrupt commented on #1452
This should not be closed.

Something is not working correctly in that while the first recording works as expected, if you DELETE the tmp file, and then attempt to create a new file with the same name, and then attempt to record to that file, the new recording happens successfully, but when attempting to play it back, the original recording plays as if to come from a cache??

[2017-05-13 06:24] ihadeed commented on #868
@naveedahmed1

The plugin expects something like this:
[code]
The callback is just the name of the function and not the actual callback function. Meaning it should be something like `window.app.snooze = () => console.log('snooze was clicked')`. Providing the functionality you're asking for might be a little hacky and confusing for people who prefer to use the usage I mentioned in my last comment.

[2017-05-13 08:09] xupea opened #1545 "readAsDataURL doesnt work in @ionic-native/file(3.x)"
Ionic version: (check one with "x")
[ ] 1.x
[ ] 2.x
[x] 3.x

I'm submitting a ... (check one with "x")
[x] bug report
[ ] feature request
[ ] support request => Please do not submit support requests here, use one of these channels: https://forum.ionicframework.com/ or http://ionicworldwide.herokuapp.com/

Current behavior:

When invoking readAsDataURL method, it doesn't trigger the callback or thr

[2017-05-13 08:14] ihadeed commented on #1545
What version of Ionic Native are you using?

[2017-05-13 09:08] peterpeterparker opened #1546 "[Feature request] Add function "available" to SocialSharing"
Hi,

Could you add the function **available(callback: any)** provided by the plugin cordova-plugin-x-socialsharing to ionic-native/social-sharing?

Thx in advance

[2017-05-13 09:11] peterpeterparker commented on #1546
Actually I think I don't need it anymore, I should have rtfm

If your app still supports iOS5, you'll want to check whether or not the plugin is available as it only supports iOS6 and up.

    window.plugins.socialsharing.available(function(isAvailable) {
      // the boolean is only false on iOS < 6
      if (isAvailable) {
        // now use any of the share() functions
      }
    });

[2017-05-13 09:11] #1546 closed

[2017-05-13 11:37] sleever commented on #1434
Thanks a lot!

[2017-05-13 18:07] sruthakeerthikotla opened #1547 "Radio buttons not being checked when using mfp plugin login functionality."
When the MobileFirst Platforms plugin cordova-plugin-mfp 's WLAuthorizationManager.login() function is used, the radio buttons are not getting checked. The stack trace between a working app and an app that does not work show that a call to the "onInvokeTask" in the main.js is not being made from the polyfills.js. (The sample app can be found in the issue mentioned here : http://stackoverflow.com/q

[2017-05-13 18:57] xupea commented on #1545
@ihadeed , 3.6.1

[2017-05-13 20:34] naveedahmed1 commented on #868
What about this:

`    { "icon": "emailGuests", "title": "EMAIL GUESTS", "callback": "emailGuests", "foreground": true},`

On clicking EMAIL GUEST button I want to take user to the EmailGuestPage

`this.nav.push("EmailGuestPage", { id: data['additionalData']['id']});`

But if I add it to the callback like this

[code]

Clicking EMAIL GUESTS button on notification throws error "**Cannot read proper

[2017-05-13 20:42] naveedahmed1 commented on #868
Seems this was inaccessible, I added

`let that=this;
`
And then used

[code]
And it start working

[2017-05-13 21:26] grapemix commented on #1545
readAsText is also not working/never complete. Some ppl in #464 also have this problem too.

[2017-05-13 23:48] JackStoneDev opened #1552 "Still getting Cordova not available error even with Camera mock class"
I followed the guide for using the camera plugin in the browser. In my `app.module.ts` file I have:

`import { Camera } from '@ionic-native/camera';`

I am declaring a mock class like so:

[code]

And one item in my array of providers is `{ provide: Camera, useClass: CameraMock }`.

When I run my project in the browser, however, I still receive this message: `Native: tried calling Camera.getPictur

[2017-05-14 00:14] ihadeed commented on #868
You need to use an arrow function instead of a regular function.

[2017-05-14 00:22] naveedahmed1 commented on #868
Thanks, I have updated it to:

[code]

[2017-05-14 02:06] ihadeed commented on #1460
@akz92 can you provide sample code demonstrating what you're trying to do?

[2017-05-14 02:19] ihadeed commented on #1460
Nevermind, I figured out what you're looking for. I will create an interface named `IFile` that follows the Web API spec and extends `Blob`.

[2017-05-14 02:26] ihadeed commented on #1411
You need to call the method `.file()` to get this data. Example:
[code]

[2017-05-14 02:26] #1411 closed

[2017-05-14 02:38] ihadeed commented on #1356
I just managed to write a Base64 image to the file system using the following code:
[code]

[2017-05-14 02:38] #1356 closed

[2017-05-14 02:44] #806 closed

[2017-05-14 02:44] #1174 closed

[2017-05-14 02:44] #1460 closed

[2017-05-14 02:44] #1513 closed

[2017-05-14 02:44] #1545 closed

[2017-05-14 02:45] ihadeed commented on #1513
Please refrain from importing `FileReader` into your project and just call it directly. The class `FileReader` that we have is just a declaration and it's not supposed to be defined in runtime.

[2017-05-14 03:25] xupea commented on #1545
@grapemix ,then we have to use 2.9.1 instead since it's working for me

[2017-05-14 04:15] ihadeed commented on #1545
Tested with 3.8.0 and it works well @xupea

[2017-05-14 04:57] #970 closed

[2017-05-14 05:01] #1311 closed

[2017-05-14 05:28] gitdisrupt commented on #1452
I was not able to solve the issue i noted above, but am currently using a workaround.

When creating an audio file for use for recording to, i am creating the file with a unique file name based on a date/time stamp... Once finished recording i am then deleting that file.

When i create a new audio file with a unique name again, i avoid the issue noted above.

What is not clear though is that if i

[2017-05-14 06:02] ihadeed commented on #810
Hey guys,

I just implemented the plugin here: https://github.com/driftyco/ionic-native/commit/179f87b606779c05cc6f565be1883009cd430808

I didn't test it, and I'm not 100% sure if this is the most efficient implementation.. I might see more room for improvement once I review it again.

In the meanwhile, I would appreciate it if you can test it out and let me know if there are any bugs or suggestio

[2017-05-14 06:05] ihadeed commented on #1160
Closing this issue in favor of https://github.com/driftyco/ionic-native/issues/810

[2017-05-14 06:05] #1160 closed

[2017-05-14 14:37] mariojrrc opened #1557 "Help with markers"
Hi,

I'm having trouble to show new markers on my map after loading them from a website.
When a create markerCustom it's being defined with Lat & Lng = 0.

Can someone help me?

bellow is my piece of coed.

[code]

[2017-05-14 14:47] obermoserkitz commented on #1444
Absolutely nothing is working if i use the doc for google-maps.
in iOS it shows only a black blank div
and even with the "const marker:" stuff in the end it gives me an error.
please fix the docs, this plugin is unuseable.

[2017-05-14 16:32] ihadeed commented on #1444
@obermoserkitz https://github.com/driftyco/ionic/issues/7205#issuecomment-230977122

[2017-05-14 17:50] StevenLiSiwei opened #1558 "Wechat Pay"
ionic has been amazing to me. thank you all for your great effort. is it possible for ionic to come up with wechat payment since it is very popular in china. thanks

[2017-05-15 07:39] troyanskiy opened #1560 "File Plugin toInternalURL is missing"
**I'm submitting a ...**  (check one with "x")
[x] bug report
[ ] feature request
[ ] support request => Please do not submit support requests here, use one of these channels: https://forum.ionicframework.com/ or https://ionicworldwide.herokuapp.com/

**Current behavior:**
Entry interface does not have `toInternalURL` method
`Property 'toInternalURL' does not exist on type 'Entry'. `

`toInternalU

[2017-05-15 07:42] klaus82 commented on #1434
Thanks a lot! Work fo me too!

[2017-05-15 08:55] #1560 closed

[2017-05-15 10:52] xupea commented on #1545
@ihadeed ,thanks it works for me as well.

[2017-05-15 11:12] ppiacez commented on #1347
Hi, did you manage to solve the issue?

[2017-05-15 14:29] wbaldanw commented on #1552
I've been having the same problem :-(

[2017-05-15 15:13] eboukamza commented on #1515
@ihadeed I have made a PR for fix the issue.

[2017-05-15 15:23] jgw96 opened #1563 "Google Maps scroll issue"
_From @joesleiman on May 15, 2017 14:13_

**Ionic version: 3.2.0**

**I'm submitting a  bug report**

**Current behavior:**

**Expected behavior:**

it should the  mao still fix at his position
**Steps to reproduce:**
`<div #map id="map"></div>`
+ same" loadmap()" function as in the documentation.
i'm using it inside <ion-slide>

**Other information:**

- when i scroll the app where the map exist.

[2017-05-15 17:38] peterpeterparker opened #1564 "[3.8.0] Reinject DirectoryEntry.nativeURL"
**I'm submitting a ...**  (check one with "x")
[X ] feature request

**Current behavior:**
In last version 3.8.0, following this commit https://github.com/driftyco/ionic-native/commit/f98f90a, DirectoryEntry.nativeURL was removed

**Expected behavior:**
Shouldn't DirectoryEntry.nativeURL be still accessible as it give the native directory path on the device?

For example, when I print a console.lo

[2017-05-15 20:42] dylanvdmerwe opened #1565 "docs(document-viewer): Docs not clear"
**I'm submitting a ...**  (check one with "x")
[x] bug report
[ ] feature request
[ ] support request => Please do not submit support requests here, use one of these channels: https://forum.ionicframework.com/ or https://ionicworldwide.herokuapp.com/

**Current behavior:**
There is a problem with the Document Viewer docs.

The example says:
[code]

However:

1. There is no method called `view`.
2.

[2017-05-15 20:44] dylanvdmerwe commented on #1557
Please can you try ask in the ionic forums for support issues.

[2017-05-16 01:21] ainulya16 opened #1567 "Youtube player Callback"
callback for statechange in ionic 3?

[2017-05-16 05:05] janand4 commented on #280
@mgarciadash,  I did the same steps as mentioned above and I still get an empty array for res : this.platform.ready().then(() => {
let req = {
position: {
lat: 40.7127837,
lng: -74.00594130000002
}
}
Geocoder.geocode(req).then(
(res) => {alert(res);
}
);
});

I am running this code on iOS emulator and ionic view. How did you test out the output?

[2017-05-16 05:22] danielsogl commented on #1565
Hey @dylanvdmerwe,
the example is wrong. The right method is called viewDocument().
I fixed it and your second question.

[2017-05-16 07:34] petrot opened #1569 "DeviceOrientation not work on some device"
**I'm submitting a ...**  (check one with "x")
[x] bug report
[ ] feature request
[ ] support request => Please do not submit support requests here, use one of these channels: https://forum.ionicframework.com/ or https://ionicworldwide.herokuapp.com/

**Current behavior:**
My users recognized, that the Device Orientation plugin not works on some device (e.g. Samsung Galaxy J5 (2016), and some Huaw

[2017-05-16 07:45] danielsogl commented on #1569
Hey @petrot,
because ionic-native just wraps the Cordova plugins, we can't resolve this issue by our side.

[2017-05-16 07:47] petrot commented on #1569
ok, thanks!

[2017-05-16 08:32] #1565 closed

[2017-05-16 08:54] ghenry22 commented on #1542
Hi please try and update to the latest ionic-native and follow the example in the docs.  There were a couple of versions that introduced some issues with media but the v3.8.0 is working fine and the docs are up to date for how to use media now as well.  I can confirm it works fine on both Android and iOS.

[2017-05-16 08:57] ghenry22 commented on #414
@ihadeed connectSDK seems to be dead in the water, no commits for over a year.  It's also a large and monolithic plugin.  I would suggest closing this issue as I can't see it ever getting merged unless someone else takes over maintenance of the plugin and cleans it up and updates it.

[2017-05-16 08:58] ghenry22 commented on #1333
this is resolved in 3.8.0 plugin is back to working as normal with all expected call backs and the docs are updated to be accurate as well.

Tested and working on android and iOS with my apps.

[2017-05-16 08:58] #1333 closed

[2017-05-16 09:03] ghenry22 commented on #1407
ionic-native 3.8.0 resolves the callback issue.  All callbacks are now properly implemented and docs are up to date with correct examples that match the implementation.

Seek and getcurrentposition work perfectly for me.  I don't use duration because I get that from the server side already.

I do know that there are some quirks with duration, Android for example will almost always return duration

[2017-05-16 09:44] #1564 closed

[2017-05-16 10:01] #414 closed

[2017-05-16 10:01] #1542 closed

[2017-05-16 11:33] ppiacez commented on #1347
@dtaalbers solved updating cordova-plugin-statusbar version to 2.2.2

[2017-05-16 11:50] #1347 closed

[2017-05-16 12:25] sifang commented on #1433
Thank you @ihadeed

[2017-05-16 13:04] brouviere commented on #1429
@nicoisz and @aneeskodappana  i had to uninstall first before it works:
npm uninstall --save @ionic-native/core
then
npm install --save @ionic-native/core@latest

[2017-05-16 16:09] naveedahmed1 opened #1570 "Please add support for getActiveSession in cordova-plugin-linkedin"
**I'm submitting a ...**  (check one with "x")
[ ] bug report
[x ] feature request
[ ] support request => Please do not submit support requests here, use one of these channels: https://forum.ionicframework.com/ or https://ionicworldwide.herokuapp.com/

**Current behavior:**
The cordova-plugin-linkedin has a method getActiveSession to get the Active Session through which we can retrieve access toke

[2017-05-16 19:05] ihadeed commented on #1570
Sure @naveedahmed1

For now you can do the following:
[code]

[2017-05-16 19:48] jgw96 opened #1571 "Allow Network.onConnect and Network.onDisconnect to use takeUntil"
_From @kamok on May 16, 2017 19:18_

**Ionic version:**  (check one with "x")
[ ] **1.x**
[ ] **2.x**
[x] **3.x**

**I'm submitting a ...**  (check one with "x")
[ ] bug report
[x] feature request
[ ] support request => Please do not submit support requests here, use one of these channels: https://forum.ionicframework.com/ or http://ionicworldwide.herokuapp.com/

**Current behavior:**
Can't use ta

[2017-05-16 19:52] biesbjerg commented on #1571
You need to import the operators you want to use.

import 'rxjs/add/operator/takeUntil';

[2017-05-17 01:34] kamok commented on #1571
@biesbjerg I did import it. I even tried the sample code on the rxjs docs right on the same component. It would give me a lint error with `Property takeUntil does not exist on type Observable<any>` when I use it with the `Network.onConnect` / `Network.onDisconnect` Observables.

[2017-05-17 02:15] lynzz commented on #1400
[code]
[
![printer](https://cloud.githubusercontent.com/assets/348917/26135661/8ffd1186-3ae9-11e7-8fff-2b8d69f4f48f.jpg)

[2017-05-17 04:05] zealotzy commented on #1163
@danielsogl Thank you very much!

[2017-05-17 10:01] sabariferin opened #1574 ""requestPermissions" in Android Permissions is not working"
**I'm submitting a ...** (check one with "x")
[x ] bug report
[ ] feature request
[ ] support request => Please do not submit support requests here, use one of these channels: https://forum.ionicframework.com/ or https://ionicworldwide.herokuapp.com/

**Current behavior:**
**1.** I have the below code in my component
[code]
Throwing error: "TypeError: Cannot read proerty 'READ_SMS' of undefined".

[2017-05-17 10:17] robinbonnes opened #1575 "Feature request: FTP"
Can we add a wrapper for https://github.com/xfally/cordova-plugin-ftp to ionic-native?

[2017-05-17 10:21] danielsogl commented on #1575
Hey @robinbonnes,
this plugin is on my list!

[2017-05-17 10:32] #1574 closed

[2017-05-17 10:33] ihadeed commented on #1574
Regarding the first issue, the PERMISSION object was defined incorrectly. I just fixed it and it should work well in the next release.

As for the second issue, the function `requestPermissions` takes an array of strings, not a single string. The typescript definition is incorrect. I fixed this as well and added `requestPermission` method to request a single permission.

[2017-05-17 10:34] ihadeed commented on #1571
@kamok what version of rxjs and what version of Ionic native are you using?

[2017-05-17 10:36] #1570 closed

[2017-05-17 10:36] #1569 closed

[2017-05-17 10:37] #1567 closed

[2017-05-17 10:37] aidan2129 opened #1576 "Datepicker minuteInterval not working"
**I'm submitting a ...**  (check one with "x")
[x] bug report
[ ] feature request
[ ] support request => Please do not submit support requests here, use one of these channels: https://forum.ionicframework.com/ or https://ionicworldwide.herokuapp.com/

**Current behavior:**

Minute intervals are not appearing on native android clock.
Try to set the minute interval on @ionic-native/date-picker

**Ex

[2017-05-17 10:38] ihadeed commented on #1567
Not sure what you mean. Please follow the issue template and provide a proper description of the issue.

The YouTube Player plugin seem to be implemented correctly.

[2017-05-17 10:40] ihadeed commented on #1576
I think this would be an issue with the plugin and not Ionic Native. I suggest you review their documentation and issues at their repo https://github.com/VitaliiBlagodir/cordova-plugin-datepicker

[2017-05-17 10:40] #1576 closed

[2017-05-17 10:41] ihadeed commented on #1563
This isn't an issue with the Ionic Native wrapper. You should post this at the Ionic forums or the plugin's repo.

[2017-05-17 10:41] #1563 closed

[2017-05-17 10:41] sabariferin commented on #1574
Thanks a lot. When can I expect the next release?
May I know your file changes? So that I can update my local code and continue my development.
Thanks again :)

[2017-05-17 10:41] ihadeed commented on #1558
Please provide a link to the repository or the NPM package of the plugin when making a plugin request.

[2017-05-17 10:41] #1558 closed

[2017-05-17 10:42] #1557 closed

[2017-05-17 10:44] ihadeed commented on #1547
This is not a plugin that we support at Ionic Native. I suggest seeking help at the plugin's repo.

[2017-05-17 10:44] #1547 closed

[2017-05-17 10:44] ihadeed commented on #1574
Have a look at https://github.com/driftyco/ionic-native/commit/ebf402864bda19fc1c937a71c3bcdd4d6c8bdff2

I will publish a release soon once I review some more issues.

[2017-05-17 10:45] #1515 closed

[2017-05-17 10:53] ihadeed commented on #1453
This issue was moved to driftyco/ionic-plugin-deeplinks#106

[2017-05-17 10:53] #1453 closed

[2017-05-17 10:55] ihadeed commented on #1452
Looks like an issue with the plugin and not with the Ionic Native implementation. Please seek help in the forums or at the plugin's repo.

[2017-05-17 10:55] #1452 closed

[2017-05-17 10:55] #1427 closed

[2017-05-17 10:56] ihadeed commented on #1406
Seems like an issue with the plugin and not with the Ionic Native implementation.

[2017-05-17 10:56] #1406 closed

[2017-05-17 10:56] #1412 closed

[2017-05-17 10:57] ihadeed commented on #1407
Looks like any Ionic Native issues related have been fixed, closing this issue.

Feel free to submit a PR to clarify any quirks you find with the plugin.

[2017-05-17 10:57] #1407 closed

[2017-05-17 11:09] #1457 closed

[2017-05-17 11:11] #1402 closed

[2017-05-17 11:13] #1376 closed

[2017-05-17 11:14] ihadeed commented on #1392
Not an Ionic Native issue. Please seek help at the forums or at the plugin's repo.

[2017-05-17 11:14] #1392 closed

[2017-05-17 11:16] ihadeed commented on #1374
Usually you would want your mocks to either return mock data similar to what you would expect on a real device, or provide functionality that can work in the browser.

If you have any further questions please visit the Ionic forums.

[2017-05-17 11:16] #1374 closed

[2017-05-17 11:22] ihadeed commented on #1390
Looks like the Ionic Native implementation of the plugin is correct. This must be an issue with the plugin itself.

Please seek help at the plugin's repo or the Ionic forums.

[2017-05-17 11:22] #1390 closed

[2017-05-17 11:27] #1446 closed

[2017-05-17 11:28] ihadeed commented on #1446
Fixed and will be available in the next release.

[2017-05-17 11:28] #1378 closed

[2017-05-17 11:29] ihadeed commented on #1371
This should be fixed if you're using latest Ionic Native and Angular 4.x

[2017-05-17 11:29] #1371 closed

[2017-05-17 11:34] joesleiman commented on #1563
can you guide me or give the url where should i post it ?

[2017-05-17 11:37] ihadeed commented on #1405
Just pushed an update to Media plugin that will be available in the next Ionic Native release.

`this.media.create(...)` will always return an instance of MediaObject now. This instance will only function if the plugin actually exists. This way it will not break your code in the browser ... etc.

If you want to only run your code when the plugin is available, wrap it with `if(MediaPlugin.installed

[2017-05-17 11:37] #1405 closed

[2017-05-17 11:39] ihadeed commented on #1367
This doesn't seem like an issue with the Ionic Native wrapper.

Ionic Native is just a wrapper and it has no effect on how the plugin performs. Please seek help at the plugin's repo or at the Ionic Forums.

[2017-05-17 11:39] #1367 closed

[2017-05-17 11:39] ihadeed commented on #1366
This doesn't seem like an issue with the Ionic Native wrapper.

Ionic Native is just a wrapper and it has no effect on how the plugin performs. Please seek help at the plugin's repo or at the Ionic Forums.

[2017-05-17 11:39] #1366 closed

[2017-05-17 11:39] #1528 closed

[2017-05-17 11:40] ihadeed commented on #1353
Make sure you wrap your code with `platform.ready().then( .. )`. If you are running this as soon as the app starts, I suggest waiting a second or so before executing the code.

[2017-05-17 11:40] #1353 closed

[2017-05-17 11:41] #1349 closed

[2017-05-17 11:41] ihadeed commented on #1349
@aggarwalankush to keep docs cleaner and less repetitive we don't include the platform.ready() part, but yes you should wait for `deviceready` to fire before doing anything.

[2017-05-17 11:41] #1414 closed

[2017-05-17 11:42] #1361 closed

[2017-05-17 11:43] ihadeed commented on #1350
@royipressburger see http://stackoverflow.com/questions/39535386/how-to-check-if-angular-2-app-is-running-in-production-or-dev for inspiration

[2017-05-17 11:43] #1350 closed

[2017-05-17 11:44] ihadeed commented on #1346
More reasons to review #395